/* @import url("../../blocks/navbar/products-sub-menu-cards.css"); */

@media (min-width:1280px){
    .products-sub-menu-container-wrapper{
        margin:  0 0 0 -10.5rem !important;
    }
    .products-sub-menu-container{
        max-width: 32rem;
    }

}
.products-sub-menu-container-wrapper{
    filter: drop-shadow(0px 2px 15px #00000019);
}
.products-sub-menu-container {
    clip-path: polygon(50% 0%, 54% 3%, 100% 3%, 100% 100%, 0 100%, 0 3%, 46% 3%);
    background: #fff;
    padding: 2rem 0 1rem 0rem !important;
    width: max-content;
    flex-wrap: wrap;
  }

  body.dark-mode .products-sub-menu-container {
      background: #313456;
  }

  body.light-mode .menu-1 .sub-menu li {
      background: #fff;
  }

body.dark-mode .menu-1 .sub-menu li{
    background: #313456;
}
.products-sub-menu-container-wrapper .transparent-btn-red{
    border: none;
    font-size: 18px;
}
.dark-mode  .products-sub-menu-container-wrapper .transparent-btn-red{
    background-color: transparent;
    color: #fff;
}