


.projects-container{
    margin: 2em auto 4em;
    
    article{
        border: 1px solid #979797;
       
        img{
            width: 35%;
        }
        section{
            .project-icons{
                margin: 1em 0 ;
                width: 60%;
                img{
                    width: 1em;
                }
            }
        }
        .github-rate{
            height: fit-content;
            width: 5%;
            margin: 2em 0;
            .gh-dets{
                img{
                    width: 1em;
                }
                h4{
                    font-size: 1em;
                }
            }
        }
    }
}


@media screen and(max-width:600px){
   
    .projects-container{
        h5{
            font-size: 1.4em;
            text-align: center;
        }
        article{
            img{
                width: 100%;
            }
            section{
                width: 80%;
            }
        .github-rate{
            width: 70%;
        }
    }
    }

}