header {
  p {
    margin: 1em;
    font-size: 1.5rem;
  }
  @media screen and (min-width:600px) and (max-width:1024px){
    h1{
      font-size: 2rem;
    }
    p{
      font-size: 1rem;
    }
    padding: 2em 0 0;
  }
}
.case-studies-container {
  margin: 2em auto 4em;

  article {
    border: 1px solid #979797;

    img {
      width: 35%;
    }
    section {
      .project-icons {
        margin: 1em 0;
        width: 60%;
        img {
          width: 1.2em;
          margin: 0 0.5em 0 0;
        }
      }
    }
    .github-rate {
      height: fit-content;
      width: 5%;
      min-width: 3em;
      margin: auto -1px;
      .gh-dets {
        h4 {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and(max-width:600px) {
  header{
    padding: 2em 0 0;
    h1{
      margin: 0 0.5em .2em
    }
    p{
      margin: 0.7em 1em;
      font-size: 1rem;
      width: 80%;
    }
  }
  .case-studies-container {
    h5 {
      font-size: 1.4rem;
      text-align: center;
    }
    article {
      img {
        width: 100%;
      }
      section {
        width: 80%;
      }
      .github-rate {
        width: fit-content;
      }
    }
  }
}
