.client-feedback-arrows {
    width: 4em;
    height: 10vh;
    width: 15%;
    align-self: flex-end;
    margin: 0 0 0 10em;
    display: flex;
    justify-content: space-around;
    svg {
      margin: 2em 0;
    }
  }