.projects-container{
    width: 90%;
    max-width:80em;
    margin: 2em auto;
    h5{
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 100;
    }
    article{
        background: #ffffff;
        margin: 1em 0;
      
        section{
            margin: auto;
            width: 45%;
            h3,p{
                margin: 1em 0;
            }
            p{
                font-size: 0.8rem;
            }
          
        }
     
    }
}

@media screen and(max-width:1024px){
    .projects-container{
        article{
        section{
            padding: 1em;
        }
    }
}
}

@media screen and(max-width:600px){
   
    .projects-container{
        h5{
            font-size: 1.4rem;
            text-align: center;
        }
        article{
            img{
                width: 100%;
            }
            section{
                width: 80%;
            }
    }
    }

}