.yellow-link,
.red-link {
  align-self: center;
  @media screen and(min-width:600px) {
    font-size: 2rem;
  }
  svg {
    margin: 0 0 0.1em 0;
  }
}
.yellow-link {
  color: #d2bd2e;
}
.red-link {
  color: #dd0d3d;
  svg {
    #link-arrow {
      fill: #dd0d3d;
    }
  }
}