@font-face {
  font-family: "barow-regular";
  src: url("../../../assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("../../../assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: "barow-bold";
  src: url("../../../assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("../../../assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: "roboto-bold";
  src: url("../../../assets/fonts/Roboto-Bold.ttf") format("truetype"), url("../../../assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: "roboto-regular";
  src: url("../../../assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("../../../assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: "roboto-regular", sans-serif;
  outline: none;
}

html {
  background: #2a2c39;
}

button {
  font-family: "roboto-bold", sans-serif;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "roboto-regular", sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button,
a {
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

.h-titles-w-b {
  color: #fff;
}

.h-titles-w-b h2 {
  font-weight: lighter;
  font-size: 2.5rem;
}

.h-titles-w-b hr {
  background: #66ded1;
  border: 2px solid #66ded1;
  width: 40%;
}

@supports (-ms-ime-align: auto) {
  .h-titles-w-b hr {
    display: none;
  }
}

.h-titles-w-b .yellow-hr {
  background: #d2bd2e;
  border-color: #d2bd2e;
}

.h-titles-w-b .red-hr {
  background: #dd0d3d;
  border-color: #dd0d3d;
}

.h-titles-w-b p {
  font-size: 1.1rem;
  margin: 1em 0 0.6em;
}

.h-titles-w-b span {
  color: #66ded1;
}

header {
  color: #ffffff;
  width: 80%;
  max-width: 80em;
  margin: auto;
  padding: 2em 0;
}

header h1 {
  font-weight: 100;
  font-size: 3rem;
  font-family: "barow-regular";
}

header p {
  margin: auto 1em;
  font-size: 1.3rem;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;
  }
  header h1 {
    margin: 0 0.5em 1em;
    font-size: 2rem;
  }
  header p {
    margin: auto 1em;
    font-size: 1rem;
  }
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1f1f27;
  font-family: "roboto-bold", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border-bottom: 1px solid #66ded1;
}

.navbar .left {
  margin: 0.5em 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .left #mini-menu {
  display: none;
}

@media screen and (min-width: 800px) {
  .navbar .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .right .links {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    font-weight: 500;
  }
  .navbar .right .links a {
    margin: auto 1em;
    color: #fff;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .navbar .right .links a:hover {
    color: #66ded1;
  }
}

.navbar .hire-btn {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin: 1em;
  background: transparent;
  border: 1px solid #606c84;
  color: #ff3564;
}

@media screen and (min-width: 800px) {
  .navbar .hire-btn {
    padding: 0 1.4em;
  }
}

.navbar .hire-btn:hover {
  background: #ff3564;
  color: #fff;
  cursor: pointer;
}

.navbar .hire-btn a {
  font-weight: bold;
  color: #ff3564;
}

.navbar .hire-btn:hover a {
  color: #fff;
}

.hidden-menu {
  z-index: 100;
  background: #1f1f27;
  position: absolute;
  width: 100%;
  -webkit-transform: translate(0, -120%);
          transform: translate(0, -120%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.hidden-menu .col a {
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin: 0.2em auto;
  border-bottom: 1px solid #66ded1;
  width: 50%;
  padding: 0.2em;
}

.hidden-menu .col a:nth-child(5) {
  margin-bottom: 1em;
}

@media screen and (max-width: 800px) {
  .navbar .left #mini-menu {
    display: block;
    margin: 0 1em 0 0;
  }
  @supports (-ms-ime-align: auto) {
    .navbar .left #mini-menu {
      margin: auto 1em auto;
    }
  }
  @supports (-ms-ime-align: auto) {
    .navbar .left a {
      margin: auto;
    }
  }
  .navbar .hire-btn {
    padding: 1em 1.4em;
  }
  .navbar .links {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navbar .left {
    margin: 0;
    padding: 1em 0;
  }
}

footer {
  background: #2a2c39;
  margin: auto;
}

footer .e-t {
  width: 90%;
  max-width: 90em;
  color: #82848f;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  footer .e-t {
    padding: 0 0 0 10em;
  }
}

footer .footer-menu-wrapper,
footer .network-buttons-wrapper,
footer .bottom-wrapper {
  max-width: 90em;
  width: 90%;
}

footer .network-buttons {
  border: 1px solid #40414c;
  border-left: none;
  border-right: none;
}

footer .network-buttons .network-buttons-wrapper {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2em auto;
}

footer .network-buttons .network-buttons-wrapper .link-buttons {
  color: #ffffff;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

@media screen and (min-width: 698px) {
  footer .network-buttons .network-buttons-wrapper .link-buttons {
    width: 10%;
    margin: 1em;
  }
}

footer .network-buttons .network-buttons-wrapper .link-buttons svg {
  min-width: 2em;
  margin: auto;
  padding: 0 0.5em 0 0;
}

footer .network-buttons .network-buttons-wrapper .link-buttons p {
  margin: auto;
}

footer .footer-menu {
  border-bottom: 1px solid #40414c;
}

footer .footer-menu .footer-menu-wrapper {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  margin: 1em auto;
}

footer .footer-menu .footer-menu-wrapper div {
  margin: 0 auto;
}

footer .footer-menu .footer-menu-wrapper div a {
  color: #d4d4d7;
  letter-spacing: 1px;
  margin: 0 0 0.4em;
  font-size: 1rem;
  text-transform: uppercase;
}

footer .footer-menu .footer-menu-wrapper div ul {
  padding: 0.5em;
  color: #a9aaaf;
}

footer .footer-menu .footer-menu-wrapper .extra-logos {
  width: 5em;
  margin: 0 auto 1em;
}

footer .footer-menu .footer-menu-wrapper .extra-logos img {
  margin: 1em;
  max-width: 5em;
}

footer .bottom .bottom-wrapper {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em;
  color: #82848f;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

footer .bottom .bottom-wrapper svg {
  margin: auto 0;
}

footer .bottom .bottom-wrapper div {
  width: 60%;
  max-width: 50em;
}

footer .bottom .bottom-wrapper div h5,
footer .bottom .bottom-wrapper div a {
  color: #82848f;
  font-size: 1rem;
}

footer .bottom .bottom-wrapper div h5 {
  margin: 0 0 1em;
}

footer .bottom .bottom-wrapper div p {
  font-size: 0.8rem;
}

footer .bottom .bottom-wrapper .switch-field {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #2d3545;
  border-radius: 25px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

@supports (-ms-ime-align: auto) {
  footer .bottom .bottom-wrapper .switch-field {
    margin: auto;
    width: auto;
  }
}

footer .bottom .bottom-wrapper .switch-field label svg {
  border-radius: 50%;
}

footer .bottom .bottom-wrapper .switch-field input[type="radio"] {
  display: none;
}

footer .bottom .bottom-wrapper .switch-field input[type="radio"]:checked + label svg {
  background: #9ba4b7;
}

footer .bottom .bottom-wrapper .switch-field input[type="radio"]:checked + label svg path {
  fill: #1f1f27;
}

.github,
.twitter {
  background: #55abee;
}

.facebook {
  background: #3b5997;
}

.up {
  background: #00e034;
}

.linkedin {
  background: #2967b2;
}

@media screen and (max-width: 1024px) {
  .network-buttons .network-buttons-wrapper .link-buttons svg {
    margin: auto;
  }
  .network-buttons .network-buttons-wrapper .link-buttons p {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .e-t {
    padding: 1em 0 0 0px;
    text-align: center;
    text-transform: uppercase;
  }
  footer .network-buttons .network-buttons-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .network-buttons .network-buttons-wrapper .link-buttons {
    width: 15%;
    margin: 0.4em;
    padding: 0;
  }
  footer .network-buttons .network-buttons-wrapper .link-buttons svg {
    margin: auto;
    padding: 0.5em;
  }
  footer .footer-menu .footer-menu-wrapper ul {
    list-style-type: none;
  }
  footer .footer-menu .footer-menu-wrapper div {
    margin: 1em auto;
    text-align: center;
  }
  footer .footer-menu .footer-menu-wrapper .sub-logos {
    width: 100%;
  }
  footer .footer-menu .footer-menu-wrapper .extra-logos {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  footer .bottom .bottom-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .bottom .bottom-wrapper .switch-field svg {
    padding: 0;
  }
  footer .bottom .bottom-wrapper h5 {
    margin: auto;
  }
  footer .bottom .bottom-wrapper svg {
    margin: auto;
    padding: 1em;
  }
  footer .bottom .bottom-wrapper div {
    text-align: center;
  }
  footer .bottom .bottom-wrapper div p {
    display: none;
  }
}

.border-container {
  width: 80%;
  max-width: 100em;
  padding: 3em;
  border: 1px solid #979797;
  margin: 0 auto 2em;
}

@media screen and (max-height: 700px) {
  .border-container {
    margin: 0 auto 15em;
    height: 60vh;
  }
}

@media screen and (min-height: 700px) and (max-height: 1100px) {
  .border-container {
    margin: 0 auto 15em;
    height: 50vh;
  }
}

.background-container {
  background: url("../../../assets/images/approach/approach-background.png");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 110% 19%;
}

.advantages {
  width: 95%;
  max-width: 85em;
  margin: auto;
}

.advantages .adv-title {
  color: #ffffff;
  text-align: center;
  width: 40%;
  margin: auto;
}

.advantages .adv-title h2 {
  letter-spacing: 2px;
  width: 50%;
  margin: 1em auto;
}

.advantages div {
  margin: 1em 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantages div section {
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages div section:nth-child(1) div.advantages-icon {
  background: #d55a76;
}

.advantages div section:nth-child(2) div.advantages-icon {
  background: #66ded1;
}

.advantages div section:nth-child(3) div.advantages-icon {
  background: #329eff;
}

.advantages div section:nth-child(4) div.advantages-icon {
  background: #9bcc13;
}

.advantages div section .advantages-icon {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  text-align: center;
  margin: 0 0 -4.5em;
  z-index: 2;
}

.advantages div section .advantages-icon img {
  width: 50%;
  margin: 1em auto;
}

.advantages div section .hexagon {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  text-align: center;
  background: #ffffff;
  min-height: 18em;
  min-width: 12em;
}

.advantages div section .hexagon .hex-descr {
  width: 70%;
  margin: 3em auto 0;
  max-height: 10em;
}

.advantages div section .hexagon .hex-descr h3 {
  text-transform: uppercase;
  margin: 1em 0 0;
}

.advantages div section .hexagon .hex-descr p {
  margin: 2em 0;
  font-size: 0.7rem;
  overflow: hidden;
}

.advantages div section .hexagon a {
  text-decoration: underline;
  color: #cc5671;
}

.advantages div section .hexagon img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 1em;
  margin: 1em 0;
}

@media screen and (max-width: 1280px) {
  .advantages {
    width: 95%;
  }
  .advantages .adv-title {
    width: 50%;
  }
  .advantages div section {
    width: 24%;
  }
}

@media screen and (max-width: 800px) {
  .border-container {
    height: auto;
    margin: 1em auto;
    padding: 0;
    border: none;
  }
  .advantages div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .advantages div section {
    width: 80%;
    margin: 2em auto;
  }
  .advantages div section .hexagon {
    font-size: 130%;
    width: 80%;
  }
  .advantages div section .hexagon .hex-descr p {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .background-container {
    background-size: 78em;
    background-repeat: no-repeat;
    background-position: 96% 11%;
  }
  .advantages {
    width: 90%;
  }
  .advantages .adv-title {
    width: 90%;
  }
  .advantages .adv-title h2 {
    width: 100%;
  }
  .advantages div {
    width: 100%;
  }
  .advantages div section {
    width: 100%;
  }
  .advantages div section .hexagon {
    width: 100%;
  }
  .advantages div section .hexagon .hex-descr p {
    font-size: 0.6rem;
  }
}

.iterative-process {
  font-size: 100%;
  background: #ffffff;
  max-width: 100em;
  margin: 2em auto;
}

.iterative-process section {
  width: 35%;
  margin: auto;
  color: black;
}

.iterative-process section .h-titles-w-b {
  margin: 2em;
  color: black;
}

.iterative-process section .h-titles-w-b hr {
  background: #d55a76;
  border: 1px solid #d55a76;
}

.iterative-process section img {
  margin: 0 0 1em;
}

.iterative-process section .approach-articles-descr {
  margin: 1.5em 0;
  width: 80%;
}

@media screen and (max-width: 600px) {
  .iterative-process section {
    width: 90%;
  }
  .iterative-process section .h-titles-w-b {
    margin: 1em 0;
  }
  .iterative-process section .approach-articles-descr {
    width: 95%;
  }
}

@font-face {
  font-family: "barow-regular";
  src: url("../../../assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("../../../assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: "barow-bold";
  src: url("../../../assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("../../../assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: "roboto-bold";
  src: url("../../../assets/fonts/Roboto-Bold.ttf") format("truetype"), url("../../../assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: "roboto-regular";
  src: url("../../../assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("../../../assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: "roboto-regular", sans-serif;
  outline: none;
}

html {
  background: #2a2c39;
}

button {
  font-family: "roboto-bold", sans-serif;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "roboto-regular", sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button,
a {
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

.h-titles-w-b {
  color: #fff;
}

.h-titles-w-b h2 {
  font-weight: lighter;
  font-size: 2.5rem;
}

.h-titles-w-b hr {
  background: #66ded1;
  border: 2px solid #66ded1;
  width: 40%;
}

@supports (-ms-ime-align: auto) {
  .h-titles-w-b hr {
    display: none;
  }
}

.h-titles-w-b .yellow-hr {
  background: #d2bd2e;
  border-color: #d2bd2e;
}

.h-titles-w-b .red-hr {
  background: #dd0d3d;
  border-color: #dd0d3d;
}

.h-titles-w-b p {
  font-size: 1.1rem;
  margin: 1em 0 0.6em;
}

.h-titles-w-b span {
  color: #66ded1;
}

header {
  color: #ffffff;
  width: 80%;
  max-width: 80em;
  margin: auto;
  padding: 2em 0;
}

header h1 {
  font-weight: 100;
  font-size: 3rem;
  font-family: "barow-regular";
}

header p {
  margin: auto 1em;
  font-size: 1.3rem;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;
  }
  header h1 {
    margin: 0 0.5em 1em;
    font-size: 2rem;
  }
  header p {
    margin: auto 1em;
    font-size: 1rem;
  }
}

.approach-articles {
  width: 90%;
  max-width: 90em;
  margin: 2em auto;
}

.approach-articles article {
  background: #ffffff;
  margin: 1.5em 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.approach-articles article:nth-child(1) .h-titles-w-b hr {
  background: #D55A76;
  border: 2px solid #D55A76;
}

.approach-articles article:nth-child(2) .h-titles-w-b hr {
  background: #66DED1;
  border: 2px solid #66DED1;
}

.approach-articles article:nth-child(3) .h-titles-w-b hr {
  background: #329EFF;
  border: 2px solid #329EFF;
}

.approach-articles article:nth-child(4) .h-titles-w-b hr {
  background: #9BCC13;
  border: 2px solid #9BCC13;
}

.approach-articles article section {
  width: 40%;
}

.approach-articles article section:nth-child(odd) {
  margin: 2em auto 4em;
}

.approach-articles article section .h-titles-w-b {
  color: black;
  margin: 1em 0 0;
}

.approach-articles article section .h-titles-w-b h2 {
  margin: 1em 0;
}

.approach-articles article section .approach-articles-descr {
  margin: 3em 0;
}

.approach-articles article section .approach-articles-descr p {
  margin: 1em;
}

.approach-articles article section .approach-articles-list ul {
  margin: 1em 2em;
}

.approach-articles article section .approach-articles-list ul li {
  font-size: 0.9em;
}

.approach-articles article:nth-child(1) .colored {
  background: #D55A76;
}

.approach-articles article:nth-child(2) .colored {
  background: #66DED1;
}

.approach-articles article:nth-child(3) .colored {
  background: #329EFF;
}

.approach-articles article:nth-child(4) .colored {
  background: #9BCC13;
}

.approach-articles article .colored {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.approach-articles article .colored ul {
  color: #ffffff;
  list-style-type: none;
  margin: 6em 2.2em 0;
  font-size: 1.1rem;
}

.approach-articles article .colored ul:nth-child(2) li {
  margin: 0 1em;
}

.approach-articles article .colored ul:nth-child(even) {
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
}

.approach-articles article .colored ul h4 {
  margin: 0 0 1em 0;
}

.approach-articles article .colored ul h4:nth-child(even) {
  margin: 0 -1em 0;
}

.approach-articles article .colored ul li {
  margin: 0.2em 0;
}

@media screen and (max-width: 800px) {
  .approach-articles article .colored ul {
    margin: 6em 1em;
  }
}

@media screen and (max-width: 600px) {
  .approach-articles article section {
    width: 90%;
  }
  .approach-articles article section:nth-child(odd) {
    margin: 0 auto 4em;
  }
  .approach-articles article section .approach-articles-descr h4 {
    font-size: 1.5rem;
  }
  .approach-articles article section .approach-articles-descr p {
    margin: 1em 0;
  }
  .approach-articles article .colored {
    width: 100%;
  }
  .approach-articles article .colored ul {
    margin: 2em 1em 1em;
  }
  .approach-articles article .colored ul h4 {
    font-size: 1.5rem;
  }
}

.message-us {
  color: #ffffff;
  background: url("../../../assets/images/map-form.png");
  background-size: contain;
  background-position: center;
}

.message-us .message-us-container {
  width: 90%;
  max-width: 90em;
  margin: 3em auto;
  border: 1px solid #474b5e;
}

.message-us .message-us-txt-container {
  width: 50%;
  margin: auto;
}

.message-us .message-us-txt-container h1,
.message-us .message-us-txt-container h3 {
  font-weight: 500;
}

.message-us .message-us-txt-container .red-contact {
  color: #dd0d3d;
  font-size: 2rem;
}

.message-us .message-us-txt-container h3:nth-child(3) {
  border-bottom: 2px solid #8f9bb3;
  width: 5%;
}

.message-us .contact-form {
  max-width: 25em;
  padding: 3em;
  width: 25%;
  background: #ffffff;
  font-weight: bold;
  margin: 1em 3em -3em 0;
}

.message-us .contact-form label {
  font-size: 1.2rem;
  color: black;
}

.message-us .contact-form select,
.message-us .contact-form input {
  color: #a9aaaf;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.4em;
  margin: 0.5em 0;
}

.message-us .contact-form textarea {
  resize: none;
  padding: 1em;
}

.message-us .contact-form textarea::-webkit-input-placeholder {
  text-align: center;
}

.message-us .contact-form textarea:-ms-input-placeholder {
  text-align: center;
}

.message-us .contact-form textarea::-ms-input-placeholder {
  text-align: center;
}

.message-us .contact-form textarea::placeholder {
  text-align: center;
}

.message-us .contact-form .send-msg-btn {
  width: 90%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-transform: uppercase;
  padding: 1em;
  color: #ffffff;
  background: #dd0d3d;
  border: 1px solid #dd0d3d;
  border-radius: 2px;
  margin: 3em 0 0 0;
}

@media screen and (max-width: 1280px) {
  .message-us .message-us-txt-container {
    margin: auto 0 auto 2em;
  }
  .message-us .contact-form {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .message-us .contact-form {
    width: 50%;
    margin: 1em 1em -3em 0;
  }
}

@media screen and (max-width: 600px) {
  .message-us {
    width: 95%;
    margin: auto;
  }
  .message-us .message-us-container {
    border: none;
    width: 100%;
  }
  .message-us .message-us-txt-container {
    width: 90%;
    margin: 2em auto;
  }
  .message-us .message-us-txt-container h3:nth-child(3) {
    width: 50%;
    padding: 0.5em 0;
    margin: 0.5em 0;
  }
  .message-us .contact-form {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0;
  }
  .message-us .contact-form label {
    margin: 1em 1em 0.2em;
  }
  .message-us .contact-form select,
  .message-us .contact-form input {
    margin: 1em;
  }
  .message-us .contact-form textarea {
    width: 70%;
    margin: 1em auto;
  }
  .message-us .contact-form .send-msg-btn {
    width: 90%;
    margin: auto;
  }
}
/*# sourceMappingURL=approach.css.map */