@font-face {
  font-family: "barow-regular";
  src: url("../../../assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("../../../assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: "barow-bold";
  src: url("../../../assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("../../../assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: "roboto-bold";
  src: url("../../../assets/fonts/Roboto-Bold.ttf") format("truetype"), url("../../../assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: "roboto-regular";
  src: url("../../../assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("../../../assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: "roboto-regular", sans-serif;
  outline: none;
}

html {
  background: #2a2c39;
}

button {
  font-family: "roboto-bold", sans-serif;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "roboto-regular", sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button,
a {
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

.h-titles-w-b {
  color: #fff;
}

.h-titles-w-b h2 {
  font-weight: lighter;
  font-size: 2.5rem;
}

.h-titles-w-b hr {
  background: #66ded1;
  border: 2px solid #66ded1;
  width: 40%;
}

@supports (-ms-ime-align: auto) {
  .h-titles-w-b hr {
    display: none;
  }
}

.h-titles-w-b .yellow-hr {
  background: #d2bd2e;
  border-color: #d2bd2e;
}

.h-titles-w-b .red-hr {
  background: #dd0d3d;
  border-color: #dd0d3d;
}

.h-titles-w-b p {
  font-size: 1.1rem;
  margin: 1em 0 0.6em;
}

.h-titles-w-b span {
  color: #66ded1;
}

header {
  color: #ffffff;
  width: 80%;
  max-width: 80em;
  margin: auto;
  padding: 2em 0;
}

header h1 {
  font-weight: 100;
  font-size: 3rem;
  font-family: "barow-regular";
}

header p {
  margin: auto 1em;
  font-size: 1.3rem;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;
  }
  header h1 {
    margin: 0 0.5em 1em;
    font-size: 2rem;
  }
  header p {
    margin: auto 1em;
    font-size: 1rem;
  }
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1f1f27;
  font-family: "roboto-bold", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border-bottom: 1px solid #66ded1;
}

.navbar .left {
  margin: 0.5em 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .left #mini-menu {
  display: none;
}

@media screen and (min-width: 800px) {
  .navbar .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .right .links {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    font-weight: 500;
  }
  .navbar .right .links a {
    margin: auto 1em;
    color: #fff;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .navbar .right .links a:hover {
    color: #66ded1;
  }
}

.navbar .hire-btn {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin: 1em;
  background: transparent;
  border: 1px solid #606c84;
  color: #ff3564;
}

@media screen and (min-width: 800px) {
  .navbar .hire-btn {
    padding: 0 1.4em;
  }
}

.navbar .hire-btn:hover {
  background: #ff3564;
  color: #fff;
  cursor: pointer;
}

.navbar .hire-btn a {
  font-weight: bold;
  color: #ff3564;
}

.navbar .hire-btn:hover a {
  color: #fff;
}

.hidden-menu {
  z-index: 100;
  background: #1f1f27;
  position: absolute;
  width: 100%;
  -webkit-transform: translate(0, -120%);
          transform: translate(0, -120%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.hidden-menu .col a {
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin: 0.2em auto;
  border-bottom: 1px solid #66ded1;
  width: 50%;
  padding: 0.2em;
}

.hidden-menu .col a:nth-child(5) {
  margin-bottom: 1em;
}

@media screen and (max-width: 800px) {
  .navbar .left #mini-menu {
    display: block;
    margin: 0 1em 0 0;
  }
  @supports (-ms-ime-align: auto) {
    .navbar .left #mini-menu {
      margin: auto 1em auto;
    }
  }
  @supports (-ms-ime-align: auto) {
    .navbar .left a {
      margin: auto;
    }
  }
  .navbar .hire-btn {
    padding: 1em 1.4em;
  }
  .navbar .links {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navbar .left {
    margin: 0;
    padding: 1em 0;
  }
}

footer {
  background: #2a2c39;
  max-width: 100em;
  margin: auto;
}

footer .e-t {
  color: #82848f;
  max-width: 100em;
  margin: auto;
}

@media screen and (min-width: 1000px) {
  footer .e-t {
    padding: 0 0 0 10em;
  }
}

footer .network-buttons {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #40414c;
  border-left: none;
  border-right: none;
  padding: 3em;
  margin: 2em 0;
}

footer .network-buttons .link-buttons {
  color: #ffffff;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

@media screen and (min-width: 698px) {
  footer .network-buttons .link-buttons {
    width: 10%;
    margin: 1em;
  }
}

footer .network-buttons .link-buttons svg {
  min-width: 2em;
  margin: auto;
  padding: 0 0.5em 0 0;
}

footer .network-buttons .link-buttons p {
  margin: auto;
}

footer .footer-menu {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  border-bottom: 1px solid #40414c;
  margin: 1em;
}

footer .footer-menu div {
  margin: 0 auto;
}

footer .footer-menu div a {
  color: #d4d4d7;
  letter-spacing: 1px;
  margin: 0 0 0.4em;
  font-size: 1rem;
  text-transform: uppercase;
}

footer .footer-menu div ul {
  padding: 0.5em;
  color: #a9aaaf;
}

footer .footer-menu .extra-logos {
  width: 5em;
  margin: 0 auto 1em;
}

footer .footer-menu .extra-logos img {
  margin: 1em;
}

footer .bottom {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em;
  color: #82848f;
  width: 90%;
  margin: auto;
}

footer .bottom svg {
  margin: auto 0;
}

footer .bottom div {
  width: 60%;
  max-width: 50em;
  margin: 0 auto;
}

footer .bottom div h5,
footer .bottom div a {
  color: #82848f;
  font-size: 1rem;
}

footer .bottom div h5 {
  margin: 0 0 1em;
}

footer .bottom div p {
  font-size: 0.8rem;
}

footer .bottom .switch-field {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #2d3545;
  border-radius: 25px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

@supports (-ms-ime-align: auto) {
  footer .bottom .switch-field {
    margin: auto;
    width: auto;
  }
}

footer .bottom .switch-field label svg {
  border-radius: 50%;
}

footer .bottom .switch-field input[type="radio"] {
  display: none;
}

footer .bottom .switch-field input[type="radio"]:checked + label svg {
  background: #9ba4b7;
}

footer .bottom .switch-field input[type="radio"]:checked + label svg path {
  fill: #1f1f27;
}

.github,
.twitter {
  background: #55abee;
}

.facebook {
  background: #3b5997;
}

.up {
  background: #00e034;
}

.linkedin {
  background: #2967b2;
}

@media screen and (max-width: 1000px) {
  .network-buttons .link-buttons svg {
    margin: auto;
  }
  .network-buttons .link-buttons p {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .e-t {
    padding: 1em 0 0 0px;
    text-align: center;
    text-transform: uppercase;
  }
  footer .network-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .network-buttons .link-buttons {
    width: 15%;
    margin: 0.4em;
    padding: 0;
  }
  footer .network-buttons .link-buttons svg {
    margin: auto;
    padding: 0.5em;
  }
  footer .footer-menu ul {
    list-style-type: none;
  }
  footer .footer-menu div {
    margin: 1em auto;
    text-align: center;
  }
  footer .footer-menu .sub-logos {
    width: 100%;
  }
  footer .footer-menu .extra-logos {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .bottom .switch-field svg {
    padding: 0;
  }
  footer .bottom h5 {
    margin: auto;
  }
  footer .bottom svg {
    margin: auto;
    padding: 1em;
  }
  footer .bottom div {
    text-align: center;
  }
  footer .bottom div p {
    display: none;
  }
}

.team-w-ninjas-container {
  color: #ffffff;
  width: 80%;
  max-width: 90em;
  margin: 1em auto;
}

.team-w-ninjas-container h3 {
  margin: 0 2em 1em 5em;
}

.team-w-ninjas-container .ninjas {
  margin: 1em 0 4em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team-w-ninjas-container .ninjas .ninja {
  width: 25%;
  background: #1e202a;
}

@media screen and (min-width: 600px) {
  .team-w-ninjas-container .ninjas .ninja {
    min-width: 7em;
    border: 1px solid #707070;
  }
}

.team-w-ninjas-container .ninjas .ninja img {
  width: 20%;
  margin: auto;
}

.team-w-ninjas-container .ninjas .ninja .num {
  width: 65%;
  margin: auto;
  text-align: center;
  font-size: 1.6rem;
}

.team-w-ninjas-container .ninjas .ninja .num h3 {
  font-size: 1.2em;
  margin: 0;
}

.team-w-ninjas-container .ninjas .ninja .num p {
  font-size: 0.6em;
}

.team-w-ninjas-container .people {
  width: 90%;
  margin: auto;
}

.team-w-ninjas-container .people .person-card {
  margin: 1em;
}

.team-w-ninjas-container .people .person-card h4,
.team-w-ninjas-container .people .person-card h5 {
  font-weight: 100;
}

.team-w-ninjas-container .people .person-card h4 {
  padding: 1em 0 0.4em;
}

@media screen and (max-width: 600px) {
  .team-w-ninjas-container .people .person-card {
    width: 20%;
  }
}

.team-w-ninjas-container .people .person-card .icons a {
  margin: 1em 1em 0 0;
  min-width: 1em;
}

.team-w-ninjas-container .people .arrow {
  margin: 6em 0 auto;
}

.team-w-ninjas-container .btns {
  width: 90%;
  margin: auto;
}

.team-w-ninjas-container .btns .join-btn,
.team-w-ninjas-container .btns .hire-us-btn {
  margin: 1em;
  padding: 1em;
}

@media screen and (min-width: 800px) {
  .team-w-ninjas-container .btns .join-btn,
  .team-w-ninjas-container .btns .hire-us-btn {
    width: 20%;
  }
}

@media screen and (max-width: 800px) {
  .people {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .people .person-card {
    width: 25%;
  }
  .btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .btns .join-btn,
  .btns .hire-us-btn {
    width: 30%;
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  .team-w-ninjas-container {
    width: 95%;
    margin: auto;
    padding: 0;
  }
  .team-w-ninjas-container .ninjas {
    border: 1px solid #707070;
    background: #1e202a;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .team-w-ninjas-container .ninjas .ninja {
    text-align: center;
    width: 25%;
  }
  .team-w-ninjas-container .ninjas .ninja img {
    width: 45%;
    height: 8vh;
    padding: 0;
    margin: 0.5em auto;
  }
  .team-w-ninjas-container .people .person-card {
    width: 35%;
  }
  .team-w-ninjas-container .people .icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .team-w-ninjas-container .btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .team-w-ninjas-container .btns .join-btn,
  .team-w-ninjas-container .btns .hire-us-btn {
    width: 50%;
  }
}

.e-com {
  width: 90%;
  max-width: 90em;
  margin: auto;
}

@media screen and (min-width: 1280px) {
  .e-com {
    height: 65vh;
  }
}

.cloud-descr {
  margin: auto 1em;
  width: 60%;
  overflow: hidden;
  margin: 0 0 0 1em;
}

.cloud-descr .close {
  width: 0;
  height: 0;
  float: right;
}

.cloud-descr h3 {
  color: #dd0d3d;
  text-transform: uppercase;
}

.cloud-descr ul {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  list-style-type: none;
}

.e-com-img {
  width: 25em;
}

.cloud {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background: #ffffff;
  width: 57%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2em;
}

.cloud img {
  width: 15%;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.cloud:hover {
  cursor: pointer;
}

.left-clouds {
  width: 30%;
  margin: auto;
}

#left-up-cloud {
  width: 15em;
  border-radius: 84px 90px 159px 170px;
  margin: 0 0 1em 3em;
  min-height: 7em;
}

#left-up-cloud .cloud-descr .close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  z-index: 50;
}

#left-down-cloud {
  width: 14em;
  border-radius: 175px 227px 321px 346px;
  padding: 2em 2em 4em;
}

#left-down-cloud img {
  width: 20%;
}

#left-down-cloud ul li {
  margin: 0.4em 0;
  font-size: 0.9rem;
}

.right-clouds {
  width: 30%;
  margin: auto;
}

#up-right-cloud {
  width: 14em;
  margin: 0 0 0 7em;
  border-radius: 50% 65% 78% 100%;
}

#up-right-cloud img {
  width: 22%;
}

#up-right-cloud ul li {
  margin: 0.5em 0;
}

#middle-right-cloud {
  width: 7em;
  margin: -3em 0 0 0;
  border-radius: 50% 36% 40% 50%;
}

#middle-right-cloud img {
  width: 35%;
}

#down-right-cloud {
  width: 10em;
  margin: 0 0 0 6em;
  border-radius: 34% 50% 45%;
}

#down-right-cloud img {
  width: 30%;
}

@media screen and (min-width: 1600px) {
  .e-com {
    margin: auto;
  }
  .e-com .left-clouds {
    width: 25%;
  }
  .e-com .e-com-img {
    width: 45em;
  }
}

@media screen and (max-width: 1280px) {
  .cloud {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .e-com {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 3em auto 2em;
  }
  .e-com .right-clouds {
    width: 90%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    margin: -1em auto 1em;
  }
  .e-com .right-clouds #up-right-cloud {
    margin: 0;
    padding: 1em;
  }
  .e-com .right-clouds #middle-right-cloud {
    width: 10em;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 2em;
  }
  .e-com .right-clouds #down-right-cloud {
    height: 8vh;
    padding: 3em;
    margin: 0;
  }
  .e-com .left-clouds {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .e-com .left-clouds #left-up-cloud {
    padding: 2em;
  }
  .e-com .left-clouds #left-up-cloud .cloud-descr h3 {
    margin: 0 auto;
  }
  .e-com .left-clouds #left-down-cloud,
  .e-com .left-clouds #left-up-cloud {
    width: 15em;
  }
  .e-com .left-clouds #left-down-cloud {
    height: 12em;
    padding: 2em;
  }
  .e-com .left-clouds #left-down-cloud img {
    width: 30%;
  }
  .e-com .e-com-img {
    width: 30em;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .e-com .info-cloud {
    width: 15em !important;
  }
  .e-com .e-com-img {
    width: 90%;
    height: 40vh;
  }
  .e-com .show-info-cloud .cloud-icon {
    position: absolute;
    width: 1em;
  }
  .e-com .cloud {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 0;
  }
  .e-com .cloud ul {
    display: none;
  }
  .e-com .cloud img {
    margin: 0 auto;
  }
  .e-com .cloud h3 {
    margin: auto;
    width: 35%;
    font-size: 1rem;
  }
  .e-com .left-clouds,
  .e-com .right-clouds {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .e-com .left-clouds #left-up-cloud {
    padding: 1em;
    margin: 0 0 1em;
  }
  .e-com .left-clouds #left-up-cloud h3 {
    margin: -2em auto 0 auto;
  }
  .e-com .left-clouds #left-down-cloud {
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 2em 0em 1em;
    height: 10em;
  }
  .e-com .right-clouds {
    margin: 2em 0 0;
    width: 100%;
  }
  .e-com .right-clouds #up-right-cloud {
    padding: 1em;
  }
  .e-com .right-clouds #middle-right-cloud {
    margin: 0;
  }
  .e-com .right-clouds #down-right-cloud {
    margin: 0;
    padding: 1em;
  }
}

.cloud-icon {
  margin: 0;
  width: 2em;
}

.more-ifo-p {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  height: 0;
  color: #ffffff;
}

.show-info-cloud {
  z-index: 15;
  overflow: hidden;
}

.show-info-cloud .cloud-descr {
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.show-info-cloud .cloud-icon {
  -webkit-animation: hide-pic 0.5s 0s 1 ease-in forwards;
          animation: hide-pic 0.5s 0s 1 ease-in forwards;
}

.show-info-cloud .cloud-descr h3 {
  -webkit-animation: h-anim 3s 0.5s 1 ease-out forwards;
          animation: h-anim 3s 0.5s 1 ease-out forwards;
}

.show-info-cloud .cloud-descr ul {
  margin: auto;
  -webkit-animation: hide-ul 0.5s 0.5s 1 ease-in forwards;
          animation: hide-ul 0.5s 0.5s 1 ease-in forwards;
}

.show-info-cloud .cloud-descr .more-ifo-p {
  -webkit-animation: show-p 1s 1s 1 ease-out forwards;
          animation: show-p 1s 1s 1 ease-out forwards;
}

.show-info-cloud .cloud-descr .close {
  -webkit-animation: show-ex 1s 1s 1 ease-out forwards;
          animation: show-ex 1s 1s 1 ease-out forwards;
}

.show-info-cloud {
  -webkit-animation: show-info 1s 0s 1 ease-out forwards;
          animation: show-info 1s 0s 1 ease-out forwards;
}

.hide-info-cloud {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.hide-info-cloud .cloud-icon {
  animation: hide-pic 0.5s 0s 1 ease-in forwards reverse;
}

@-webkit-keyframes hide-pic {
  0% {
    width: 20%;
  }
  100% {
    width: 0%;
  }
}

@keyframes hide-pic {
  0% {
    width: 20%;
  }
  100% {
    width: 0%;
  }
}

@-webkit-keyframes show-pic {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}

@keyframes show-pic {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}

@-webkit-keyframes hide-ul {
  from {
    color: black;
    -webkit-transform: rotate3d(0, 0, 0, 45deg);
            transform: rotate3d(0, 0, 0, 45deg);
  }
  to {
    color: #ffffff;
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
    height: 0em;
  }
}

@keyframes hide-ul {
  from {
    color: black;
    -webkit-transform: rotate3d(0, 0, 0, 45deg);
            transform: rotate3d(0, 0, 0, 45deg);
  }
  to {
    color: #ffffff;
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
            transform: rotate3d(1, 0, 0, 90deg);
    height: 0em;
  }
}

@-webkit-keyframes show-p {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    height: -webkit-fit-content;
    height: fit-content;
  }
  to {
    color: #ffffff;
    -webkit-transform: scale(1);
            transform: scale(1);
    height: auto;
  }
}

@keyframes show-p {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  to {
    color: #ffffff;
    -webkit-transform: scale(1);
            transform: scale(1);
    height: auto;
  }
}

@-webkit-keyframes show-info {
  0% {
    background: #ffffff;
    padding: 4em;
    height: 8em;
  }
  100% {
    height: 15em;
    padding: 1em;
    width: 15em;
    border-radius: 20%;
    background: #dd0d3d;
  }
}

@keyframes show-info {
  0% {
    background: #ffffff;
    padding: 4em;
    height: 8em;
  }
  100% {
    height: 15em;
    padding: 1em;
    width: 15em;
    border-radius: 20%;
    background: #dd0d3d;
  }
}

@-webkit-keyframes h-anim {
  0% {
    width: 100%;
    margin: 0;
  }
  15% {
    width: 80%;
    color: #ffffff;
    margin: 1em;
  }
  40% {
    margin: 1em 0.5em 2em;
  }
  70% {
    margin: 1em 0.5em 0em;
  }
  100% {
    width: 80%;
    color: #ffffff;
    margin: 1em 0 1em 0;
  }
}

@keyframes h-anim {
  0% {
    width: 100%;
    margin: 0;
  }
  15% {
    width: 80%;
    color: #ffffff;
    margin: 1em;
  }
  40% {
    margin: 1em 0.5em 2em;
  }
  70% {
    margin: 1em 0.5em 0em;
  }
  100% {
    width: 80%;
    color: #ffffff;
    margin: 1em 0 1em 0;
  }
}

@-webkit-keyframes show-ex {
  from {
    width: 0;
    height: 0;
    margin: 0;
  }
  to {
    width: 1em;
    height: 1em;
    margin: 1em 1em 0 0;
  }
}

@keyframes show-ex {
  from {
    width: 0;
    height: 0;
    margin: 0;
  }
  to {
    width: 1em;
    height: 1em;
    margin: 1em 1em 0 0;
  }
}

.e-commerce-container {
  width: 90%;
  margin: auto;
  max-width: 90em;
}

.e-commerce-container .h-titles-w-b {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 3em auto 0;
}

.e-commerce-container .h-titles-w-b hr {
  margin: auto;
}

.e-commerce-container .nums {
  color: #ffffff;
  font-size: 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "barow-bold";
}

@media screen and (min-width: 1280px) {
  .e-commerce-container .nums {
    margin: 0 0 2em;
  }
}

@supports (-ms-ime-align: auto) {
  .e-commerce-container .nums {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.e-commerce-container .nums .num {
  text-align: center;
}

.e-commerce-container .nums .num h2 {
  font-weight: 100;
  -webkit-text-decoration: #66ded1 line-through;
          text-decoration: #66ded1 line-through;
}

.e-commerce-container .nums .num p {
  font-size: 1rem;
}

@media screen and (min-width: 1280px) and (max-width: 1590px) {
  .e-com .e-com-img {
    width: 30em;
  }
}

@media screen and (max-width: 600px) {
  .e-commerce-container .nums {
    font-size: 0.8rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .e-commerce-container .nums h2 {
    margin: 0.5em auto;
  }
}

.list-wrapper {
  margin: 1em 1em 0;
}

.list-wrapper .list-columns h5 {
  color: #66ded1;
  text-transform: uppercase;
  font-size: 1rem;
}

.list-wrapper .list-columns ul {
  list-style-type: none;
  margin: 1em 0;
}

@media screen and (max-width: 600px) {
  .list-wrapper {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}

.tech-we-use {
  color: #ffffff;
  background: transparent;
  width: 80%;
  max-width: 90em;
  margin: 5em auto;
}

.tech-we-use .h-titles-w-b {
  margin: 0;
}

.tech-we-use .h-titles-w-b h2 {
  text-align: left;
}

.tech-we-use .h-titles-w-b hr {
  margin: 1.5em 0;
  width: 20%;
}

.tech-we-use .tech-wrapper img {
  width: 50%;
  margin: -10em 0 0 0;
}

.tech-we-use .tech-wrapper .list-wrapper {
  width: 45%;
}

@media screen and (min-width: 1280px) {
  .tech-we-use .tech-wrapper .list-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.tech-we-use .tech-wrapper .list-wrapper .list-columns {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tech-we-use .tech-wrapper .list-wrapper:nth-child(1) ul:nth-child(2) {
  border-bottom: 1px solid #66ded1;
  padding: 0 0 1em;
}

.tech-we-use p {
  font-style: italic;
}

.tech-we-use .hashtags {
  margin: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech-we-use .hashtags svg {
  margin: 0 3.5em 0 0;
}

.tech-we-use .hashtags #_modern,
.tech-we-use .hashtags #_ninja,
.tech-we-use .hashtags #_webheroes {
  fill: #4f515d;
}

@media screen and (max-width: 1280px) {
  .tech-we-use .list-wrapper .list-columns {
    margin: 1em;
  }
  .tech-we-use .list-wrapper img {
    width: 40%;
  }
}

@media screen and (max-width: 1024px) {
  .tech-we-use {
    width: 90%;
  }
  .tech-we-use .tech-wrapper .list-wrapper {
    margin: 0;
    width: 70%;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    margin: 0 -5em 0 0;
  }
  .tech-we-use .tech-wrapper .list-wrapper .list-columns {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .tech-we-use .tech-wrapper img {
    width: 45%;
    margin: 6em 0 0 -2em;
  }
}

@media screen and (max-width: 600px) {
  .tech-we-use {
    width: 95%;
    margin: auto;
  }
  .tech-we-use .h-titles-w-b hr {
    width: 70%;
  }
  .tech-we-use .tech-wrapper .list-wrapper {
    width: 80%;
  }
  .tech-we-use .tech-wrapper .list-wrapper .list-columns {
    width: 35%;
  }
  .tech-we-use .tech-wrapper img {
    margin: -5em auto 0;
    width: 88%;
  }
  .tech-we-use p {
    text-align: center;
    width: 80%;
    font-size: 1.2rem;
    margin: 2em auto 0;
  }
  .tech-we-use .hashtags svg {
    margin: 0 1em;
  }
}

.core-values-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  max-width: 90em;
  margin: 5em auto;
  padding: 1em;
  border: 1px dashed rgba(142, 154, 178, 0.2);
}

.core-values-container .core-values-txt-container {
  color: #ffffff;
  width: 35%;
}

.core-values-container .core-values-txt-container .h-titles-w-b {
  margin: 2em 0;
}

.core-values-container .core-values-txt-container .h-titles-w-b h2 {
  text-align: left;
}

.core-values-container .core-values-txt-container .h-titles-w-b hr {
  margin: 0;
  width: 30%;
  margin: 1em 0 0 0;
}

.core-values-container .core-values-svg {
  width: 45%;
}

.core-values-container ul {
  font-size: 1.1rem;
}

.core-values-container ul li {
  letter-spacing: 1px;
  margin: 1em 0;
}

.core-values-container ul li .highlighted {
  color: #66ded1;
}

.core-values-container .join-btn {
  margin: 1em 0 0 0;
}

.join-btn {
  width: 80%;
  padding: 1em;
  text-transform: uppercase;
  background: #66ded1;
  border: 1px solid #66ded1;
  border-radius: 2px;
}

@media screen and (max-width: 1024px) {
  .core-values-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .core-values-container .core-values-svg {
    margin: auto;
    width: 90%;
  }
  .core-values-container .core-values-svg img {
    width: 100%;
  }
  .core-values-container .core-values-txt-container {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 1em auto 3em;
  }
  .core-values-container .core-values-txt-container .h-titles-w-b hr {
    margin: 1em auto;
  }
  .core-values-container .core-values-txt-container ul {
    width: 80%;
    line-height: 30px;
  }
}

@media screen and (max-width: 600px) {
  .core-values-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .core-values-container .core-values-svg svg {
    width: 100%;
    height: auto;
  }
  .core-values-container .core-values-txt-container .h-titles-w-b {
    margin: 0.5em auto;
  }
  .core-values-container .core-values-txt-container .h-titles-w-b h2 {
    text-align: center;
  }
  .core-values-container .core-values-txt-container .h-titles-w-b hr {
    width: 100%;
  }
  .core-values-container .core-values-txt-container ul {
    list-style-type: none;
    width: 100%;
  }
  .core-values-container .join-btn {
    margin: 1em auto;
    width: 100%;
    font-size: 1rem;
  }
}

.message-us {
  color: #ffffff;
  background: url("../../../assets/images/map-form.png");
  background-size: contain;
  background-position: center;
}

.message-us .message-us-container {
  width: 90%;
  max-width: 90em;
  margin: 3em auto;
  border: 1px solid #474B5E;
}

.message-us .message-us-txt-container {
  width: 50%;
  margin: auto;
}

.message-us .message-us-txt-container h1,
.message-us .message-us-txt-container h3 {
  font-weight: 500;
}

.message-us .message-us-txt-container .red-contact {
  color: #dd0d3d;
  font-size: 2rem;
}

.message-us .message-us-txt-container h3:nth-child(3) {
  border-bottom: 2px solid #8f9bb3;
  width: 5%;
}

.message-us .contact-form {
  max-width: 25em;
  padding: 3em;
  width: 25%;
  background: #ffffff;
  font-weight: bold;
  margin: 1em 3em -3em 0;
}

.message-us .contact-form label {
  font-size: 1.2rem;
  color: black;
}

.message-us .contact-form select,
.message-us .contact-form input {
  color: #a9aaaf;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.4em;
  margin: 0.5em 0;
}

.message-us .contact-form textarea {
  resize: none;
  padding: 1em;
}

.message-us .contact-form textarea::-webkit-input-placeholder {
  text-align: center;
}

.message-us .contact-form textarea:-ms-input-placeholder {
  text-align: center;
}

.message-us .contact-form textarea::-ms-input-placeholder {
  text-align: center;
}

.message-us .contact-form textarea::placeholder {
  text-align: center;
}

.message-us .contact-form .send-msg-btn {
  width: 90%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-transform: uppercase;
  padding: 1em;
  color: #ffffff;
  background: #dd0d3d;
  border: 1px solid #dd0d3d;
  border-radius: 2px;
  margin: 3em 0 0 0;
}

@media screen and (max-width: 1280px) {
  .message-us .message-us-txt-container {
    margin: auto 0 auto 2em;
  }
  .message-us .contact-form {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .message-us .contact-form {
    width: 50%;
    margin: 1em 1em -3em 0;
  }
}

@media screen and (max-width: 600px) {
  .message-us {
    width: 95%;
    margin: auto;
  }
  .message-us .message-us-container {
    border: none;
    width: 100%;
  }
  .message-us .message-us-txt-container {
    width: 95%;
    margin: 2em auto;
  }
  .message-us .message-us-txt-container h3:nth-child(3) {
    width: 50%;
    padding: 0.5em 0;
    margin: 0.5em 0;
  }
  .message-us .contact-form {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0;
  }
  .message-us .contact-form label {
    margin: 1em 1em 0.2em;
  }
  .message-us .contact-form select,
  .message-us .contact-form input {
    margin: 1em;
  }
  .message-us .contact-form textarea {
    width: 70%;
    margin: 1em auto;
  }
  .message-us .contact-form .send-msg-btn {
    width: 90%;
    margin: auto;
  }
}

.github-rate {
  color: #fff;
  background: #1f1f27;
}

@media screen and (min-width: 600px) {
  .github-rate {
    width: 15%;
  }
}

@media screen and (min-width: 600px) {
  .github-rate .gh-dets {
    width: 80%;
    margin: 0 auto;
    padding: 1em 0;
  }
}

.github-rate .gh-dets h4 {
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .github-rate .gh-dets h4 {
    margin: 0.4em 0 0 0;
  }
}

.github-rate .gh-dets p {
  color: #8f8f93;
  text-align: center;
  font-size: 0.7rem;
}

@media screen and (min-width: 600px) {
  .github-rate .gh-dets:nth-child(1) {
    border-bottom: 2px solid #8f8f93;
  }
}

@media screen and (max-width: 600px) {
  .github-rate {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .github-rate .gh-dets {
    margin: 1em;
  }
  .github-rate .gh-dets:nth-child(1) {
    padding-right: 1em;
    border-right: 2px solid #4c4c52;
  }
}

.client-feedback-arrows {
  width: 4em;
  height: 10vh;
  width: 15%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 0 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.client-feedback-arrows svg {
  margin: 2em 0;
}

.hire-us-btn {
  background: #dd0d3d;
  color: #ffffff;
  padding: 1em;
  border: 1px solid #dd0d3d;
  border-radius: 2px;
  text-transform: uppercase;
}

.hire-us-btn a {
  color: #fff;
}

main {
  background: #2a2c39;
}

main .h-first {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../../../assets/svgs/home-svgs/top-background.svg");
  background-repeat: no-repeat;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  main .h-first {
    background-size: 90%;
    background-position: top;
  }
}

@media screen and (min-width: 1280px) {
  main .h-first {
    height: 100vh;
  }
}

main .h-first .h-f-title {
  color: #ffffff;
  margin: auto;
  text-align: center;
}

main .h-first .h-f-title h1 {
  width: 100%;
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  main .h-first .h-f-title h1 {
    font-size: 6rem;
  }
}

main .h-first .h-f-title h4 {
  font-size: 1.4rem;
  font-weight: 100;
}

@media screen and (min-width: 600px) {
  main .h-first .h-f-title h4 {
    width: 60%;
    margin: auto;
  }
}

main .h-first .h-f-title hr {
  height: 0.4em;
  width: 10%;
  margin: 1em auto;
  background: #cbb918;
  border: 1px solid #cbb918;
}

main .h-first a {
  margin: auto;
  color: #66ded1;
  font-size: 1.3rem;
}

#_wecan,
#_thebest,
#_awesome {
  fill: #4f515d;
}

@media screen and (max-width: 1280px) {
  main .h-first {
    background-size: cover;
    background-position: center;
  }
  main .h-first .h-f-title {
    padding: 9em 0 0 0;
  }
}

@media screen and (max-width: 800px) {
  main .h-first {
    background-size: cover;
    background-position: center;
  }
  main .h-first .h-f-title {
    padding: 8em 0 0 0;
  }
}

@media screen and (max-width: 600px) {
  main .h-first {
    background-size: cover;
    background-position: center;
    margin: 0 0 3em;
  }
  main .h-first .h-f-title {
    padding: 8em 0 0 0;
  }
  main .h-first .h-f-title h1 {
    font-size: 3rem;
  }
  main .h-first .h-f-title h4 {
    width: 90%;
    margin: 1em auto;
  }
  main .h-first a {
    font-size: 2rem;
  }
}

.h-second {
  color: #ffffff;
  width: 90%;
  max-width: 90em;
  margin: auto;
}

.h-second .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 800px) {
  .h-second .row section {
    width: 40%;
    padding: 2em;
  }
}

.h-second .row section h3 {
  text-transform: uppercase;
  margin: 1em;
}

.h-second .row section img {
  width: 90%;
}

@media screen and (min-width: 600px) {
  .h-second .row section:nth-child(1) {
    border-right: 2px solid #66ded1;
  }
}

@media screen and (min-width: 600px) {
  .h-second .row section:nth-child(1) h3 {
    text-align: right;
  }
}

@media screen and (min-width: 600px) {
  .h-second .row section .project {
    margin: 0 1em 2em 0;
  }
}

.h-second .row section .project .project-descr h4 {
  padding: 0.4em 0;
  font-size: 1.6rem;
}

.h-second .row section .project .project-descr span i {
  font-size: 0.8rem;
}

.h-second .row section .project .project-descr .project-type {
  list-style-type: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #7b7b81;
  margin: 1em 0;
}

.h-second .row section .project .project-descr .project-type li {
  padding: 0.4em;
  background: #23232e;
  margin: 0 1em 0 0;
  font-size: 0.7rem;
}

.h-second .row section .project .project-descr .l-margin {
  margin: 0.4em;
}

.h-second .row section .project .project-descr .project-icons {
  margin: 0 0 0 1em;
}

@media screen and (min-width: 800px) {
  .h-second .row section .project .project-descr .project-icons {
    width: 25%;
  }
}

.h-second .d-arr {
  width: 3em;
  margin: auto;
}

.h-second a {
  margin: 1em auto 0.4em;
  color: #fff;
  font-size: 1.6rem;
}

.h-second #line {
  width: 13em;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .h-second .row .project .project-img {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .h-second #two-icons {
    width: 25%;
  }
  .h-second .row .project .project-img {
    width: 80%;
    height: auto;
  }
  .h-second .row .project .project-descr .project-icons {
    width: 46%;
  }
}

@media screen and (max-width: 600px) {
  .h-second .row h3 {
    text-align: center;
    font-size: 1rem;
  }
  .h-second .row .project {
    width: 85%;
    margin: 2em auto;
  }
  .h-second .row .project .github-rate {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    width: 100%;
  }
  .h-second .row .project .github-rate .gh-dets {
    padding: 0 1em;
    width: 20%;
    margin: 0.5em 1em;
    border-right: 2px solid #4C4C52;
  }
  .h-second .row .project .github-rate .gh-dets h4 {
    margin: auto;
  }
  .h-second .row .project .github-rate .gh-dets p {
    margin: 0 0 1em;
  }
  .h-second .row .project .project-img {
    width: 100%;
  }
  .h-second .row .project .project-type, .h-second .row .project .project-icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

.h-fourth {
  margin: 5em auto 4em;
  max-width: 90em;
}

.h-fourth .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h-fourth .map #map-container {
  margin: auto;
  width: 80%;
  max-width: 40em;
}

.h-fourth h5 {
  color: #fff;
  margin: auto;
  font-size: 1.2rem;
}

.h-fourth .h-titles-w-b {
  margin: auto;
  text-align: center;
}

.h-fourth .h-titles-w-b hr {
  margin: 1em auto;
}

.h-fourth .clients-feedback {
  background: #fff;
  margin: 1.2em auto;
}

@media screen and (min-width: 1000px) {
  .h-fourth .clients-feedback {
    width: 70%;
  }
}

@media screen and (min-width: 600px) {
  .h-fourth .clients-feedback img {
    height: 13vh;
    width: 10%;
    margin: 5em;
  }
}

@media screen and (min-width: 600px) {
  .h-fourth .clients-feedback .feedback-txt {
    width: 48%;
    margin: auto 0 auto;
  }
}

.h-fourth .clients-feedback .feedback-txt p {
  font-style: italic;
}

@media screen and (min-width: 600px) {
  .h-fourth .clients-feedback .feedback-txt p {
    margin: 6em 0;
  }
}

.h-fourth .clients-feedback .row .feedback-company-name {
  color: #94959c;
}

@media screen and (min-width: 600px) {
  .h-fourth .clients-feedback .row .feedback-company-name {
    margin: 0 0 3em;
  }
}

.h-fourth .clients-feedback .row .feedback-company-name h5 {
  color: #94959c;
}

.h-fourth .client-feedback-arrows {
  background: #2a2c39;
}

@media screen and (max-width: 1000px) {
  .clients-feedback {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .clients-feedback {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .h-fourth .clients-feedback img {
    width: 25%;
    margin: 2em;
  }
  .h-fourth .clients-feedback .row .feedback-company-name {
    margin: 1em;
  }
}

.h-fifth {
  width: 90%;
  margin: auto;
  max-width: 90em;
}

.h-fifth .h-titles-w-b {
  margin: 0 auto 2em;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .h-fifth .h-titles-w-b {
    width: 40%;
  }
}

.h-fifth .h-titles-w-b hr {
  margin: 1em auto;
}

.h-fifth div {
  color: #ffffff;
}

.h-fifth div section .fifth-txt-containers div svg {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.h-fifth div section .fifth-txt-containers div h3 {
  font-family: "roboto-bold";
  font-size: 1.2rem;
  text-transform: uppercase;
}

.h-fifth div section .fifth-txt-containers p {
  width: 65%;
}

@media screen and (min-width: 600px) {
  .h-fifth div section .fifth-txt-containers p {
    padding: 2em;
  }
}

.h-fifth #fifth-svg {
  margin: auto;
  width: 80%;
}

@media screen and (max-width: 600px) {
  .h-fifth .h-titles-w-b {
    width: 90%;
    text-align: left;
  }
  .h-fifth .h-titles-w-b hr {
    margin: 1em 0;
  }
  .h-fifth div section .fifth-txt-containers div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: wrap-reverse;
            flex-flow: wrap-reverse;
  }
  .h-fifth div section .fifth-txt-containers p {
    width: 80%;
    margin: 2em auto;
  }
}

.team-w-ninjas-container {
  margin: 5em auto;
  width: 90%;
}

.team-w-ninjas-container .ninjas {
  margin: 4em auto;
}

.team-w-ninjas-container .ninjas .ninja {
  width: 20%;
}
/*# sourceMappingURL=home.css.map */