@import "../global/global";

.w-second {
  color: #ffffff;
  width: 95%;
  margin: 2em auto;
  .h-titles-w-b {
    @media screen and (min-width: 1280px) {
      margin: 4em 10em;
    }
    h2 {
      @media screen and (min-width: 1280px) {
        font-size: 3.5em;
      }
      padding: 0 0 0.5em;
    }
    hr {
      width: 23%;
    }
  }
  .list-wrapper {
    @media screen and (min-width: 600px) {
      justify-content: space-evenly;
    }
    .list-columns {
      ul {
        margin: 1em auto;
        list-style-type: disc;
      }
      &:nth-child(1) {
        ul {
          &:nth-child(2) {
            list-style-type: none;
          }
        }
      }
    }
    img {
      @media screen and (min-width: 1280px) {
        width: 40%;
      }
      @media screen and (min-width: 600px) {
        margin: -8em 0 0 0;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .w-second {
    .h-titles-w-b {
      margin: 4em 4em 0 4em;
      h2 {
        font-size: 2.5em;
      }
    }

    .list-wrapper {
      img {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .w-second {
    .h-titles-w-b {
      margin: 0;
      h2 {
        font-size: 2em;
      }
      hr {
        width: 50%;
      }
    }
    .list-wrapper {
      justify-content: space-between;
      .list-columns {
        ul {
          list-style-type: none;
          margin: 1em 0;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}
