@import "../global/global";

.w-third {
  width: 90%;
  margin: auto;
  background: #ffffff;

  section {
    &:nth-child(5){
      @media screen and(min-width:600px){
        #mobile-need-app{
          display: none;
        }
      }
      @media screen and(max-width:600px){
        #need-app{
          display: none;
        }
      }
    }
    .yellow-link{
      align-self: baseline;

    }

    img {
      background: $primary-background;
      @media screen and (min-width: 600px) {
      width: 45%;
      margin: 2em 0;
      }
    }
    div {
        width: 40%;
        @media screen and (min-width: 600px) {
        margin: 3em auto 0;
        }
      .h-titles-w-b{
        @media screen and (min-width: 600px) {
          width: 65%;
        }
          margin: 0;
        color: #2a2c39;
        h2{
            margin: 0 0 0.4em;
        }
        hr{
            border-color: #d2bd2e;
            background: #d2bd2e;
        }
    
      }
      .paragraph-txt{
        width: 100%;
        margin: 2em 0;
      }
      
      p{
        @media screen and (min-width: 600px) {
        margin: 1em 0;
        width: 90%;
        }
        font-size:1em;
    }

    .mobile-icons{
      width: 80%;
        margin: 0;
        div{
            width: 90%;
            svg{
                margin: 0 1em 0 0;
            }
        }
        
    }
    }

  }
}


@media screen and (max-width: 600px) {
  .w-third{
    section{
      &:nth-child(1), &:nth-child(3), &:nth-child(5){
      flex-flow: column-reverse;
      }
      &:nth-child(5){
        a{
          padding:1em;
        }
      }
      div{
        width: 90%;
        margin: 3em auto 1em;
        .h-titles-w-b{
          width: 100%;
          h2{
            font-size: 2em;
          }
          hr{
            width: 80%;
          }
        }
        p{
          margin: 1em 0;
        }
        .yellow-link{
          align-self: baseline;
        }
        #mobile-need-app{
          margin: auto;
        }
      }
      .mobile-icons{
        div{
          margin: 0;
        flex-flow: row;
          svg{
            width: 10%;
          }

        }
      }
      width: 100%;
    }
  }

}