@font-face {
  font-family: "barow-regular";
  src: url("../../assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("../../assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: "barow-bold";
  src: url("../../assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("../../assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: "roboto-bold";
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype"), url("../../assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: "roboto-regular";
  src: url("../../assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("../../assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: "roboto-regular", sans-serif;
  outline: none;
}

main {
  background: #2a2c39;
}

button {
  font-family: "roboto-bold", sans-serif;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "roboto-regular", sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button,
a {
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

.github-rate {
  color: #fff;
  background: #1f1f27;
}

@media screen and (min-width: 600px) {
  .github-rate {
    width: 15%;
  }
}

@media screen and (min-width: 600px) {
  .github-rate .gh-dets {
    width: 80%;
    margin: 0 auto;
    padding: 1em 0;
  }
}

.github-rate .gh-dets h4 {
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .github-rate .gh-dets h4 {
    margin: 0.4em 0 0 0;
  }
}

.github-rate .gh-dets p {
  color: #8f8f93;
  text-align: center;
  font-size: 0.7em;
}

@media screen and (min-width: 600px) {
  .github-rate .gh-dets:nth-child(1) {
    border-bottom: 2px solid #8f8f93;
  }
}

@media screen and (max-width: 600px) {
  .github-rate {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .github-rate .gh-dets {
    margin: 1em;
  }
  .github-rate .gh-dets:nth-child(1) {
    padding-right: 1em;
    border-right: 2px solid #4c4c52;
  }
}

.yellow-link,
.red-link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 600px) {
  .yellow-link,
  .red-link {
    font-size: 2em;
  }
}

.yellow-link svg,
.red-link svg {
  margin: 0 0 0.1em 0;
}

.yellow-link {
  color: #d2bd2e;
}

.red-link {
  color: #dd0d3d;
}

.red-link svg #link-arrow {
  fill: #dd0d3d;
}

.client-feedback-arrows {
  width: 4em;
  height: 10vh;
  width: 15%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 0 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.client-feedback-arrows svg {
  margin: 2em 0;
}

.h-titles-w-b {
  color: #fff;
}

.h-titles-w-b h2 {
  font-weight: lighter;
  font-size: 2.5em;
}

.h-titles-w-b hr {
  background: #66ded1;
  border: 2px solid #66ded1;
  width: 40%;
}

.h-titles-w-b .yellow-hr {
  background: #d2bd2e;
  border-color: #d2bd2e;
}

.h-titles-w-b .red-hr {
  background: #dd0d3d;
  border-color: #dd0d3d;
}

.h-titles-w-b p {
  font-size: 1.1em;
  margin: 1em 0 0.6em;
}

.h-titles-w-b span {
  color: #66ded1;
}

.list-wrapper {
  margin: 1em 1em 0;
}

.list-wrapper .list-columns h5 {
  color: #66ded1;
  text-transform: uppercase;
  font-size: 1em;
}

.list-wrapper .list-columns ul {
  list-style-type: none;
  margin: 1em 0;
}

@media screen and (max-width: 600px) {
  .list-wrapper {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}

.person-card {
  margin: 1em;
}

.person-card h4,
.person-card h5 {
  font-weight: 100;
}

.person-card h4 {
  padding: 1em 0 0.4em;
}

.person-card .icons a {
  margin: 1em 1em 0 0;
}

.hire-us-btn {
  background: #dd0d3d;
  color: #ffffff;
  padding: 1em;
  border: 1px solid #dd0d3d;
  border-radius: 2px;
  text-transform: uppercase;
}

header {
  color: #ffffff;
  width: 80%;
  margin: auto;
  padding: 2em 0;
  border-bottom: 1px solid #979797;
}

header h1 {
  font-weight: 100;
  font-size: 3em;
  font-family: 'barow-regular';
}

header p {
  margin: auto 1em;
  font-size: 1.3em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;
  }
  header h1 {
    margin: 0 0.5em 1em;
    font-size: 2em;
  }
  header p {
    margin: auto 1em;
    font-size: 1em;
  }
}

.projects-container {
  width: 90%;
  margin: 2em auto;
}

.projects-container h5 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 100;
}

.projects-container article {
  background: #ffffff;
  margin: 1em 0;
}

.projects-container article section {
  padding: 4em;
  margin: auto;
  width: 45%;
}

.projects-container article section h3, .projects-container article section p {
  margin: 1em 0;
}

.projects-container article section p {
  font-size: 0.8em;
}

@media screen and (max-width: 1024px) {
  .projects-container article section {
    padding: 1em;
  }
}

@media screen and (max-width: 600px) {
  .projects-container h5 {
    font-size: 1.4em;
    text-align: center;
  }
  .projects-container article img {
    width: 100%;
  }
  .projects-container article section {
    width: 80%;
  }
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1F1F27;
  font-family: 'roboto-bold', sans-serif;
  font-weight: bold;
  font-size: 1em;
  border-bottom: 1px solid #66ded1;
}

.navbar .left {
  margin: 0.5em 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 800px) {
  .navbar .left #mini-menu {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .navbar .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .right .links {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  .navbar .right .links a {
    margin: auto 1em;
    color: #fff;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .navbar .right .links a:hover {
    color: #66ded1;
  }
}

.navbar .hire-btn {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin: 1em;
  background: transparent;
  color: #FF3564;
  border: 1px solid #606C84;
}

@media screen and (min-width: 800px) {
  .navbar .hire-btn {
    padding: 0 1.4em;
  }
}

.navbar .hire-btn:hover {
  background: #FF3564;
  color: #fff;
  cursor: pointer;
}

.hidden-menu {
  background: #1F1F27;
  position: absolute;
  width: 100%;
  -webkit-transform: translate(0, -120%);
          transform: translate(0, -120%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.hidden-menu .col a {
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  text-align: center;
  margin: 0.2em auto;
  border-bottom: 1px solid #66ded1;
  width: 50%;
  padding: 0.2em;
}

.hidden-menu .col a:nth-child(5) {
  margin-bottom: 1em;
}

@media screen and (max-width: 800px) {
  #mini-menu {
    display: block;
    margin: 0 1em 0 0;
  }
  .hire-btn {
    padding: 1em 1.4em;
  }
  .links {
    display: none;
  }
}

.projects-container {
  margin: 2em auto 4em;
}

.projects-container article {
  border: 1px solid #979797;
}

.projects-container article img {
  width: 35%;
}

.projects-container article section .project-icons {
  margin: 1em 0;
  width: 60%;
}

.projects-container article section .project-icons img {
  width: 1em;
}

.projects-container article .github-rate {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 5%;
  margin: 2em 0;
}

.projects-container article .github-rate .gh-dets img {
  width: 1em;
}

.projects-container article .github-rate .gh-dets h4 {
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  .projects-container h5 {
    font-size: 1.4em;
    text-align: center;
  }
  .projects-container article img {
    width: 100%;
  }
  .projects-container article section {
    width: 80%;
  }
  .projects-container article .github-rate {
    width: 70%;
  }
}

.message-us {
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .message-us {
    padding: 0 0 0 10em;
  }
}

.message-us .message-us-txt-container {
  padding: 2em;
  background: #474b5e;
}

@media screen and (min-width: 600px) {
  .message-us .message-us-txt-container {
    height: 55vh;
  }
}

.message-us .message-us-txt-container h1,
.message-us .message-us-txt-container h3 {
  font-family: "roboto";
  font-weight: 500;
}

.message-us .message-us-txt-container .red-contact {
  color: #dd0d3d;
  font-size: 2em;
}

.message-us .message-us-txt-container h3:nth-child(3) {
  border-bottom: 2px solid #8f9bb3;
  width: 5%;
}

.message-us .contact-form {
  background: #ffffff;
  font-weight: bold;
}

@media screen and (min-width: 1280px) {
  .message-us .contact-form {
    margin: -20em 0 0 39em;
  }
}

@media screen and (min-width: 600px) {
  .message-us .contact-form {
    width: 30%;
    padding: 5em 2.5em;
  }
}

.message-us .contact-form label {
  font-size: 1.2em;
  color: black;
}

.message-us .contact-form select,
.message-us .contact-form input {
  color: #a9aaaf;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.4em;
}

@media screen and (min-width: 600px) {
  .message-us .contact-form select,
  .message-us .contact-form input {
    margin: 0.5em 0;
  }
}

.message-us .contact-form textarea {
  resize: none;
}

@media screen and (min-width: 600px) {
  .message-us .contact-form textarea {
    margin: 1em 0 0 0;
  }
}

.message-us .contact-form textarea::-webkit-input-placeholder {
  text-align: center;
}

.message-us .contact-form textarea:-ms-input-placeholder {
  text-align: center;
}

.message-us .contact-form textarea::-ms-input-placeholder {
  text-align: center;
}

.message-us .contact-form textarea::placeholder {
  text-align: center;
}

.message-us .contact-form .send-msg-btn {
  width: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-transform: uppercase;
  padding: 1em;
  color: #ffffff;
  background: #dd0d3d;
  border: 1px solid #dd0d3d;
  border-radius: 2px;
  margin: 3em 0 0 0;
}

@media screen and (max-width: 600px) {
  .message-us .contact-form .send-msg-btn {
    margin: 2em 1em 0 0;
  }
}

@media screen and (max-width: 1280px) {
  .contact-form {
    margin: -19em 0 0 30em;
  }
}

@media screen and (max-width: 1000px) {
  .contact-form {
    margin: -15em 0 0 24em;
  }
}

@media screen and (max-width: 700px) {
  .contact-form {
    margin: -15em 0 0 19em;
  }
}

@media screen and (max-width: 600px) {
  .message-us .message-us-txt-container h3:nth-child(3) {
    width: 50%;
    padding: 0.5em 0;
    margin: 0.5em 0;
  }
  .message-us .contact-form {
    margin: 0;
    width: 100%;
    padding: 1em 0;
  }
  .message-us .contact-form label {
    margin: 1em 1em 0.2em;
  }
  .message-us .contact-form select,
  .message-us .contact-form input {
    margin: 1em;
  }
  .message-us .contact-form textarea {
    width: 70%;
    margin: 1em auto;
  }
  .message-us .contact-form .send-msg-btn {
    width: 90%;
    margin: auto;
  }
}

footer {
  background: #2a2c39;
}

footer .e-t {
  color: #82848f;
}

@media screen and (min-width: 1000px) {
  footer .e-t {
    padding: 0 0 0 10em;
  }
}

footer .network-buttons {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #40414c;
  padding: 3em;
  margin: 2em 0;
}

footer .network-buttons .link-buttons {
  color: #ffffff;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}

@media screen and (min-width: 698px) {
  footer .network-buttons .link-buttons {
    width: 10%;
    margin: 1em;
  }
}

footer .network-buttons .link-buttons svg {
  padding: 0 0.5em 0 0;
}

footer .network-buttons .link-buttons p {
  margin: auto;
}

footer .footer-menu {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  border-bottom: 1px solid #40414c;
  margin: 1em;
}

footer .footer-menu div a {
  color: #d4d4d7;
  margin: 0 0 0.4em;
  font-size: 1.2em;
}

footer .footer-menu div ul {
  padding: 1em;
  color: #a9aaaf;
}

footer .footer-menu .sub-logos {
  width: 30%;
}

footer .footer-menu .sub-logos .switch-field {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #2d3545;
  border-radius: 25px;
}

footer .footer-menu .sub-logos .switch-field label svg {
  border-radius: 50%;
}

footer .footer-menu .sub-logos .switch-field input[type="radio"] {
  display: none;
}

footer .footer-menu .sub-logos .switch-field input[type="radio"]:checked + label svg {
  background: #9ba4b7;
}

footer .footer-menu .sub-logos .switch-field input[type="radio"]:checked + label svg path {
  fill: #1f1f27;
}

footer .footer-menu .sub-logos .extra-logos {
  margin: 1em 0 0;
  border-top: 1px solid #40414C;
}

footer .footer-menu .sub-logos .extra-logos img {
  width: 26%;
  margin: 1em;
}

footer .bottom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  color: #82848f;
}

footer .bottom svg {
  margin: auto;
}

footer .bottom div {
  width: 60%;
  margin: 0 auto;
}

footer .bottom div h5,
footer .bottom div a {
  color: #82848f;
  font-size: 1em;
}

footer .bottom div h5 {
  margin: 0 0 1em;
}

footer .bottom div p {
  font-size: 0.8em;
}

.github,
.twitter {
  background: #55abee;
}

.facebook {
  background: #3b5997;
}

.up {
  background: #00e034;
}

.linkedin {
  background: #2967b2;
}

@media screen and (max-width: 1000px) {
  .network-buttons .link-buttons svg {
    margin: auto;
  }
  .network-buttons .link-buttons p {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .e-t {
    padding: 1em 0 0 0px;
    text-align: center;
    text-transform: uppercase;
  }
  .network-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .network-buttons .link-buttons {
    width: 15%;
    margin: 0.4em;
  }
  .network-buttons .link-buttons svg {
    margin: auto;
  }
  footer .footer-menu ul {
    list-style-type: none;
  }
  footer .footer-menu div {
    margin: 0 auto;
    text-align: center;
  }
  footer .footer-menu .sub-logos {
    width: 100%;
  }
  .bottom h5 {
    margin: auto;
  }
  .bottom svg {
    margin: auto;
    padding: 1em;
  }
  .bottom div {
    text-align: center;
  }
  .bottom div p {
    display: none;
  }
}
/*# sourceMappingURL=case-studies.css.map */