@font-face {
  font-family: "barow-regular";
  src: url("../../assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("../../assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: "barow-bold";
  src: url("../../assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("../../assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: "roboto-bold";
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype"), url("../../assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: "roboto-regular";
  src: url("../../assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("../../assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: "roboto-regular", sans-serif;
  outline: none;
}

main {
  background: #2a2c39;
}

button {
  font-family: "roboto-bold", sans-serif;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "roboto-regular", sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button,
a {
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

.github-rate {
  color: #fff;
  background: #1f1f27;
}

@media screen and (min-width: 600px) {
  .github-rate {
    width: 15%;
  }
}

@media screen and (min-width: 600px) {
  .github-rate .gh-dets {
    width: 80%;
    margin: 0 auto;
    padding: 1em 0;
  }
}

.github-rate .gh-dets h4 {
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .github-rate .gh-dets h4 {
    margin: 0.4em 0 0 0;
  }
}

.github-rate .gh-dets p {
  color: #8f8f93;
  text-align: center;
  font-size: 0.7em;
}

@media screen and (min-width: 600px) {
  .github-rate .gh-dets:nth-child(1) {
    border-bottom: 2px solid #8f8f93;
  }
}

.yellow-link,
.red-link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 600px) {
  .yellow-link,
  .red-link {
    font-size: 2em;
  }
}

.yellow-link svg,
.red-link svg {
  margin: 0 0 0.1em 0;
}

.yellow-link {
  color: #d2bd2e;
}

.red-link {
  color: #dd0d3d;
}

.red-link svg #link-arrow {
  fill: #dd0d3d;
}

.client-feedback-arrows {
  width: 4em;
  height: 10vh;
  width: 15%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 0 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.client-feedback-arrows svg {
  margin: 2em 0;
}

.h-titles-w-b {
  color: #fff;
}

.h-titles-w-b h2 {
  font-weight: lighter;
  font-size: 2.5em;
}

.h-titles-w-b hr {
  background: #66ded1;
  border: 2px solid #66ded1;
  width: 40%;
}

.h-titles-w-b .yellow-hr {
  background: #d2bd2e;
  border-color: #d2bd2e;
}

.h-titles-w-b .red-hr {
  background: #dd0d3d;
  border-color: #dd0d3d;
}

.h-titles-w-b p {
  font-size: 1.1em;
  margin: 1em 0 0.6em;
}

.h-titles-w-b span {
  color: #66ded1;
}

.list-wrapper {
  margin: 1em 1em 0;
}

.list-wrapper .list-columns h5 {
  color: #66ded1;
  text-transform: uppercase;
  font-size: 1em;
}

.list-wrapper .list-columns ul {
  list-style-type: none;
  margin: 1em 0;
}

@media screen and (max-width: 600px) {
  .list-wrapper {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}

.person-card {
  margin: 1em;
}

.person-card h4,
.person-card h5 {
  font-weight: 100;
}

.person-card h4 {
  padding: 1em 0 0.4em;
}

.person-card .icons a svg {
  margin: 1em 1em 1em 0;
}

.hire-us-btn {
  background: #dd0d3d;
  color: #ffffff;
  padding: 1em;
  border: 1px solid #dd0d3d;
  border-radius: 2px;
  text-transform: uppercase;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1F1F27;
  font-family: 'roboto-bold', sans-serif;
  font-weight: bold;
  font-size: 1em;
  border-bottom: 1px solid #66ded1;
}

.navbar .left {
  margin: 0.5em 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 800px) {
  .navbar .left #mini-menu {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .navbar .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .right .links {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  .navbar .right .links a {
    margin: auto 1em;
    color: #fff;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .navbar .right .links a:hover {
    color: #66ded1;
  }
}

.navbar .hire-btn {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin: 1em;
  background: transparent;
  color: #FF3564;
  border: 1px solid #606C84;
}

@media screen and (min-width: 800px) {
  .navbar .hire-btn {
    padding: 0 1.4em;
  }
}

.navbar .hire-btn:hover {
  background: #FF3564;
  color: #fff;
  cursor: pointer;
}

.hidden-menu {
  background: #1F1F27;
  position: absolute;
  width: 100%;
  -webkit-transform: translate(0, -120%);
          transform: translate(0, -120%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.hidden-menu .col a {
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  text-align: center;
  margin: 0.2em auto;
  border-bottom: 1px solid #66ded1;
  width: 50%;
  padding: 0.2em;
}

.hidden-menu .col a:nth-child(5) {
  margin-bottom: 1em;
}

@media screen and (max-width: 800px) {
  #mini-menu {
    display: block;
    margin: 0 1em 0 0;
  }
  .hire-btn {
    padding: 1em 1.4em;
  }
  .links {
    display: none;
  }
}
/*# sourceMappingURL=case-studies.css.map */