@font-face {
  font-family: "barow-regular";
  src: url("../../assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("../../assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: "barow-bold";
  src: url("../../assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("../../assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: "roboto-bold";
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype"), url("../../assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: "roboto-regular";
  src: url("../../assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("../../assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: "roboto-regular", sans-serif;
  outline: none;
}

main {
  background: #2a2c39;
}

button {
  font-family: "roboto-bold", sans-serif;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "roboto-regular", sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button,
a {
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

.github-rate {
  color: #fff;
  background: #1f1f27;
}

@media screen and (min-width: 600px) {
  .github-rate {
    width: 15%;
  }
}

@media screen and (min-width: 600px) {
  .github-rate .gh-dets {
    width: 80%;
    margin: 0 auto;
    padding: 1em 0;
  }
}

.github-rate .gh-dets h4 {
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .github-rate .gh-dets h4 {
    margin: 0.4em 0 0 0;
  }
}

.github-rate .gh-dets p {
  color: #8f8f93;
  text-align: center;
  font-size: 0.7em;
}

@media screen and (min-width: 600px) {
  .github-rate .gh-dets:nth-child(1) {
    border-bottom: 2px solid #8f8f93;
  }
}

.yellow-link,
.red-link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 600px) {
  .yellow-link,
  .red-link {
    font-size: 2em;
  }
}

.yellow-link svg,
.red-link svg {
  margin: 0 0 0.1em 0;
}

.yellow-link {
  color: #d2bd2e;
}

.red-link {
  color: #dd0d3d;
}

.red-link svg #link-arrow {
  fill: #dd0d3d;
}

.client-feedback-arrows {
  width: 4em;
  height: 10vh;
  width: 15%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 0 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.client-feedback-arrows svg {
  margin: 2em 0;
}

.h-titles-w-b {
  color: #fff;
}

.h-titles-w-b h2 {
  font-weight: lighter;
  font-size: 2.5em;
}

.h-titles-w-b hr {
  background: #66ded1;
  border: 2px solid #66ded1;
  width: 40%;
}

.h-titles-w-b .yellow-hr {
  background: #d2bd2e;
  border-color: #d2bd2e;
}

.h-titles-w-b .red-hr {
  background: #dd0d3d;
  border-color: #dd0d3d;
}

.h-titles-w-b p {
  font-size: 1.1em;
  margin: 1em 0 0.6em;
}

.h-titles-w-b span {
  color: #66ded1;
}

.list-wrapper {
  margin: 1em 1em 0;
}

.list-wrapper .list-columns h5 {
  color: #66ded1;
  text-transform: uppercase;
  font-size: 1em;
}

.list-wrapper .list-columns ul {
  list-style-type: none;
  margin: 1em 0;
}

@media screen and (max-width: 600px) {
  .list-wrapper {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}

.person-card {
  margin: 1em;
}

.person-card h4,
.person-card h5 {
  font-weight: 100;
}

.person-card h4 {
  padding: 1em 0 0.4em;
}

.person-card .icons a svg {
  margin: 1em 1em 1em 0;
}

.hire-us-btn {
  background: #dd0d3d;
  color: #ffffff;
  padding: 1em;
  border: 1px solid #dd0d3d;
  border-radius: 2px;
  text-transform: uppercase;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1F1F27;
  font-family: 'roboto-bold', sans-serif;
  font-weight: bold;
  font-size: 1em;
  border-bottom: 1px solid #66ded1;
}

.navbar .left {
  margin: 0.5em 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 800px) {
  .navbar .left #mini-menu {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .navbar .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .right .links {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  .navbar .right .links a {
    margin: auto 1em;
    color: #fff;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .navbar .right .links a:hover {
    color: #66ded1;
  }
}

.navbar .hire-btn {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin: 1em;
  background: transparent;
  color: #FF3564;
  border: 1px solid #606C84;
}

@media screen and (min-width: 800px) {
  .navbar .hire-btn {
    padding: 0 1.4em;
  }
}

.navbar .hire-btn:hover {
  background: #FF3564;
  color: #fff;
  cursor: pointer;
}

.hidden-menu {
  background: #1F1F27;
  position: absolute;
  width: 100%;
  -webkit-transform: translate(0, -120%);
          transform: translate(0, -120%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.hidden-menu .col a {
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  text-align: center;
  margin: 0.2em auto;
  border-bottom: 1px solid #66ded1;
  width: 50%;
  padding: 0.2em;
}

.hidden-menu .col a:nth-child(5) {
  margin-bottom: 1em;
}

@media screen and (max-width: 800px) {
  #mini-menu {
    display: block;
    margin: 0 1em 0 0;
  }
  .hire-btn {
    padding: 1em 1.4em;
  }
  .links {
    display: none;
  }
}

main {
  padding: 1em 0 0 0;
}

.back {
  padding: 1em 2em;
}

.back svg {
  margin: 0 1em;
}

.back {
  color: #ffffff;
}

.w-first {
  width: 95%;
  margin: auto;
  background: #ffffff;
}

.w-first .top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .w-first .top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
}

.w-first .top h1 {
  font-weight: 100;
  margin: 1em;
}

@media screen and (min-width: 600px) {
  .w-first .top h1 {
    font-size: 3em;
    width: 30%;
  }
}

@media screen and (min-width: 600px) {
  .w-first .top .github-rate {
    width: 5%;
    margin: 2em 0;
  }
  .w-first .top .github-rate .gh-dets h4 {
    margin: -0.5em 0 0 0;
    font-size: 1em;
  }
  .w-first .top .github-rate .gh-dets p {
    font-size: 0.5em;
  }
}

.w-first picture {
  width: 90%;
  margin: auto;
}

.w-first .top-descr {
  width: 90%;
  margin: 3em auto;
}

.w-first .top-descr .top-descr-txt {
  margin: auto;
}

@media screen and (min-width: 600px) {
  .w-first .top-descr .top-descr-txt {
    width: 40%;
  }
}

.w-first .top-descr .top-descr-txt h3 {
  font-style: italic;
  font-weight: 100;
  margin: 0 0 2em 0;
}

.w-first .top-descr .top-descr-txt p {
  margin: 1.2em 0;
}

@media screen and (min-width: 600px) {
  .w-first .top-descr .top-descr-txt p {
    font-size: 0.8em;
  }
}

.w-first .top-descr .top-descr-txt div {
  margin: 3em 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .w-first .top-descr .image-w-arrows {
    width: 50%;
  }
}

.w-first .top-descr .image-w-arrows img {
  margin: 0;
}

@media screen and (min-width: 600px) {
  .w-first .top-descr .image-w-arrows img {
    width: 100%;
  }
}

.w-first .top-descr .image-w-arrows .client-feedback-arrows {
  background: #ffffff;
}

@media screen and (min-width: 1000px) {
  .w-first .top-descr .image-w-arrows .client-feedback-arrows {
    margin: 0 -5em;
    width: 20%;
  }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .w-first .top-descr .image-w-arrows .client-feedback-arrows {
    width: 30%;
    margin: 0 -5em;
  }
}

.w-first .top-descr .image-w-arrows .client-feedback-arrows svg #arrow {
  fill: #0d1c2e;
}

.w-first .gh-icon-top {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: -5em 0 5em;
}

@media screen and (min-width: 600px) {
  .w-first .gh-icon-top {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .back {
    display: none;
  }
  .w-first .top .github-rate {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .w-first .top .github-rate .gh-dets {
    margin: 1em;
  }
  .w-first .top .github-rate .gh-dets:nth-child(1) {
    padding-right: 1em;
    border-right: 2px solid #4c4c52;
  }
  .w-first picture {
    width: 95%;
    margin: auto;
  }
  .w-first picture img {
    width: 100%;
  }
  .w-first .top-descr .top-descr-txt {
    width: 90%;
  }
  .w-first .top-descr .top-descr-txt p {
    font-size: 1em;
  }
  .w-first h1 {
    width: 75%;
    font-size: 2em;
  }
  .w-first .image-w-arrows .client-feedback-arrows {
    width: 35%;
    margin: -3em 0 0;
  }
  .gh-icon-top {
    width: 100%;
  }
  .gh-icon-top svg {
    width: 15%;
    margin: 3em auto 0;
  }
  .gh-icon-top a {
    text-align: center;
  }
  .yellow-link, .red-link {
    font-size: 1.5em;
  }
}

.w-second {
  color: #ffffff;
  width: 95%;
  margin: 2em auto;
}

@media screen and (min-width: 1280px) {
  .w-second .h-titles-w-b {
    margin: 4em 10em;
  }
}

.w-second .h-titles-w-b h2 {
  padding: 0 0 0.5em;
}

@media screen and (min-width: 1280px) {
  .w-second .h-titles-w-b h2 {
    font-size: 3.5em;
  }
}

.w-second .h-titles-w-b hr {
  width: 23%;
}

@media screen and (min-width: 600px) {
  .w-second .list-wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 600px) and (-ms-high-contrast: active), screen and (min-width: 600px) and (-ms-high-contrast: none) {
  .w-second .list-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 600px) and (min-width: 600px) {
  .w-second .list-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.w-second .list-wrapper .list-columns ul {
  margin: 1em auto;
  list-style-type: disc;
}

.w-second .list-wrapper .list-columns:nth-child(1) ul:nth-child(2) {
  list-style-type: none;
}

@media screen and (min-width: 1280px) {
  .w-second .list-wrapper img {
    width: 40%;
  }
}

@media screen and (min-width: 600px) {
  .w-second .list-wrapper img {
    margin: -8em 0 0 0;
  }
}

@media screen and (max-width: 1280px) {
  .w-second .h-titles-w-b {
    margin: 4em 4em 0 4em;
  }
  .w-second .h-titles-w-b h2 {
    font-size: 2.5em;
  }
  .w-second .list-wrapper img {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .w-second .h-titles-w-b {
    margin: 0;
  }
  .w-second .h-titles-w-b h2 {
    font-size: 2em;
  }
  .w-second .h-titles-w-b hr {
    width: 50%;
  }
  .w-second .list-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .w-second .list-wrapper .list-columns ul {
    list-style-type: none;
    margin: 1em 0;
  }
  .w-second .list-wrapper img {
    width: 100%;
  }
}

.w-third {
  width: 90%;
  margin: auto;
  background: #ffffff;
}

@media screen and (min-width: 600px) {
  .w-third section:nth-child(5) #mobile-need-app {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .w-third section:nth-child(5) #need-app {
    display: none;
  }
}

.w-third section .yellow-link, .w-third section .red-link {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.w-third section img {
  background: #2a2c39;
}

@media screen and (min-width: 600px) {
  .w-third section img {
    width: 45%;
    margin: 2em 0;
  }
}

.w-third section div {
  width: 40%;
  margin: 3em auto 1em;
}

.w-third section div .h-titles-w-b {
  margin: 0;
  color: #2a2c39;
}

@media screen and (min-width: 600px) {
  .w-third section div .h-titles-w-b {
    width: 65%;
  }
}

.w-third section div .h-titles-w-b h2 {
  margin: 0 0 0.4em;
}

.w-third section div .paragraph-txt {
  width: 100%;
  margin: 2em 0;
}

.w-third section div p {
  font-size: 1em;
}

@media screen and (min-width: 600px) {
  .w-third section div p {
    margin: 1em 0;
    width: 90%;
  }
}

.w-third section div .mobile-icons {
  width: 80%;
  margin: 0;
}

.w-third section div .mobile-icons div {
  width: 90%;
}

.w-third section div .mobile-icons div svg {
  margin: 0 1em 0 0;
}

@media screen and (max-width: 600px) {
  .w-third section {
    width: 100%;
  }
  .w-third section:nth-child(1), .w-third section:nth-child(3), .w-third section:nth-child(5) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .w-third section:nth-child(5) a {
    padding: 1em;
    margin: auto;
  }
  .w-third section div {
    width: 90%;
  }
  .w-third section div .h-titles-w-b {
    width: 100%;
  }
  .w-third section div .h-titles-w-b h2 {
    font-size: 2em;
  }
  .w-third section div .h-titles-w-b hr {
    width: 80%;
  }
  .w-third section div p {
    margin: 1em 0;
  }
  .w-third section div .yellow-link, .w-third section div .red-link {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .w-third section div #mobile-need-app {
    margin: auto;
  }
  .w-third section .mobile-icons div {
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .w-third section .mobile-icons div svg {
    width: 10%;
  }
}

.w-fourth .h-titles-w-b {
  margin: 2em 0;
}

.w-fourth .h-titles-w-b h2 {
  text-align: center;
  margin: 0 0 0.4em;
}

.w-fourth .h-titles-w-b hr {
  margin: auto;
  width: 15%;
}

.w-fourth .icons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.w-fourth .icons .icon {
  color: #ffffff;
  margin: 0 1em;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .w-fourth .icons .icon {
    background: #1e202a;
    border: 1px solid #707070;
  }
}

@media screen and (min-width: 1280px) {
  .w-fourth .icons .icon {
    width: 10%;
    height: 10vh;
  }
}

.w-fourth .icons .icon img {
  width: 45%;
}

@media screen and (min-width: 1280px) {
  .w-fourth .icons .icon img {
    margin: 1em 0;
  }
}

.w-fourth .icons .icon .num {
  margin: auto;
}

.w-fourth div .h-titles-w-b hr {
  background: #6a7388;
  border-color: #6a7388;
}

.w-fourth div {
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.w-fourth div .person-card {
  margin: 0 1em;
}

@media screen and (min-width: 1000px) {
  .w-fourth div .person-card {
    width: 10%;
  }
}

.w-fourth div .person-card .icons {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.w-fourth div .person-card .icons a {
  margin: 0;
}

.w-fourth div .person-card .icons a svg {
  margin: 0.4em 0.3em 0.2em 0;
}

@media screen and (min-width: 600px) {
  .w-fourth .hire-us-btn {
    width: 30%;
    margin: 3em auto 1em;
  }
}

.w-fourth a {
  color: #66ded1;
  margin: 1em auto 2em;
  font-size: 1.4em;
}

.w-fourth .more-projects {
  background: #1f1f27;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.w-fourth .more-projects .project-more img {
  width: 50%;
  height: 25vh;
}

.w-fourth .more-projects .project-more .project-descr {
  margin: auto 2em;
}

.w-fourth .more-projects .project-more .project-descr h4 {
  margin: -1em 0 1em;
}

.w-fourth .more-projects .project-more .project-descr .project-icons {
  width: 40%;
  height: auto;
  padding: 0.4em 0 0 1em;
}

@media screen and (max-width: 1280px) {
  .w-fourth .icons .icon {
    width: 8%;
    height: 5vh;
    padding: 1em;
    font-size: 0.5em;
  }
  .w-fourth .icons .icon .num {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1000px) {
  .w-fourth .people-cont {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .w-fourth .people-cont .person-card {
    width: 15%;
  }
}

@media screen and (max-width: 800px) {
  .w-fourth .people-cont .person-card {
    width: 25%;
  }
  .w-fourth .icons .icon {
    width: 12%;
  }
}

@media screen and (max-width: 600px) {
  .w-fourth .h-titles-w-b {
    margin: 2em auto;
    width: 80%;
  }
  .w-fourth .h-titles-w-b h2 {
    font-size: 1.5em;
  }
  .w-fourth .h-titles-w-b hr {
    width: 80%;
  }
  .w-fourth .icons {
    width: 95%;
    margin: auto;
    padding: 1em 0;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    background: #1e202a;
    border: 1px solid #707070;
  }
  .w-fourth .icons .icon {
    height: auto;
    width: 12%;
  }
  .w-fourth .icons .icon img {
    margin: auto;
    width: 50%;
  }
  .w-fourth .icons .icon .num {
    font-size: 1.5em;
  }
  .w-fourth .icons .icon:nth-child(2) {
    margin: -0.3em 0 0 0;
  }
  .w-fourth .icons .icon:nth-child(6) {
    width: 50%;
    margin: 1em;
    font-size: 1.5em;
  }
  .w-fourth .people-cont {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .w-fourth .people-cont:nth-child(4) {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .w-fourth .people-cont .person-card {
    width: 40%;
    margin: 1em auto;
  }
  .w-fourth .people-cont .person-card .person-icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .w-fourth .people-cont .person-card .person-icons a {
    margin: 0 0.5em 0 0;
  }
  .w-fourth .hire-us-btn {
    width: 40%;
    font-size: 1.1em;
    margin: 1em auto;
  }
  .w-fourth .more-projects {
    display: none;
  }
}

.message-us {
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .message-us {
    padding: 0 0 0 10em;
  }
}

.message-us .message-us-txt-container {
  padding: 2em;
  background: #474b5e;
}

@media screen and (min-width: 600px) {
  .message-us .message-us-txt-container {
    height: 55vh;
  }
}

.message-us .message-us-txt-container h1,
.message-us .message-us-txt-container h3 {
  font-family: "roboto";
  font-weight: 500;
}

.message-us .message-us-txt-container .red-contact {
  color: #dd0d3d;
  font-size: 2em;
}

.message-us .message-us-txt-container h3:nth-child(3) {
  border-bottom: 2px solid #8f9bb3;
  width: 5%;
}

.message-us .contact-form {
  background: #ffffff;
  font-weight: bold;
}

@media screen and (min-width: 1280px) {
  .message-us .contact-form {
    margin: -20em 0 0 39em;
  }
}

@media screen and (min-width: 600px) {
  .message-us .contact-form {
    width: 30%;
    padding: 5em 2.5em;
  }
}

.message-us .contact-form label {
  font-size: 1.2em;
  color: black;
}

.message-us .contact-form select,
.message-us .contact-form input {
  color: #a9aaaf;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.4em;
}

@media screen and (min-width: 600px) {
  .message-us .contact-form select,
  .message-us .contact-form input {
    margin: 0.5em 0;
  }
}

.message-us .contact-form textarea {
  resize: none;
}

@media screen and (min-width: 600px) {
  .message-us .contact-form textarea {
    margin: 1em 0 0 0;
  }
}

.message-us .contact-form textarea::-webkit-input-placeholder {
  text-align: center;
}

.message-us .contact-form textarea:-ms-input-placeholder {
  text-align: center;
}

.message-us .contact-form textarea::-ms-input-placeholder {
  text-align: center;
}

.message-us .contact-form textarea::placeholder {
  text-align: center;
}

.message-us .contact-form .send-msg-btn {
  width: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-transform: uppercase;
  padding: 1em;
  color: #ffffff;
  background: #dd0d3d;
  border: 1px solid #dd0d3d;
  border-radius: 2px;
  margin: 3em 0 0 0;
}

@media screen and (max-width: 600px) {
  .message-us .contact-form .send-msg-btn {
    margin: 2em 1em 0 0;
  }
}

@media screen and (max-width: 1280px) {
  .contact-form {
    margin: -19em 0 0 30em;
  }
}

@media screen and (max-width: 1000px) {
  .contact-form {
    margin: -15em 0 0 24em;
  }
}

@media screen and (max-width: 700px) {
  .contact-form {
    margin: -15em 0 0 19em;
  }
}

@media screen and (max-width: 600px) {
  .message-us .message-us-txt-container h3:nth-child(3) {
    width: 50%;
    padding: 0.5em 0;
    margin: 0.5em 0;
  }
  .message-us .contact-form {
    margin: 0;
    width: 100%;
    padding: 1em 0;
  }
  .message-us .contact-form label {
    margin: 1em 1em 0.2em;
  }
  .message-us .contact-form select,
  .message-us .contact-form input {
    margin: 1em;
  }
  .message-us .contact-form textarea {
    width: 70%;
    margin: 1em auto;
  }
  .message-us .contact-form .send-msg-btn {
    width: 90%;
    margin: auto;
  }
}

footer {
  background: #2a2c39;
}

footer .e-t {
  color: #82848F;
}

@media screen and (min-width: 1000px) {
  footer .e-t {
    padding: 0 0 0 10em;
  }
}

footer .network-buttons {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #40414C;
  padding: 3em;
  margin: 2em 0;
}

footer .network-buttons .link-buttons {
  color: #ffffff;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}

@media screen and (min-width: 698px) {
  footer .network-buttons .link-buttons {
    width: 10%;
    margin: 1em;
  }
}

footer .network-buttons .link-buttons svg {
  padding: 0 0.5em 0 0;
}

footer .network-buttons .link-buttons p {
  margin: auto;
}

footer .footer-menu {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  border-bottom: 1px solid #40414C;
  margin: 1em;
}

footer .footer-menu div a {
  color: #D4D4D7;
  margin: 1em;
  font-size: 1.5em;
}

footer .footer-menu div ul {
  padding: 1em;
  color: #A9AAAF;
}

footer .bottom {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em;
}

footer .bottom h5,
footer .bottom a {
  color: #82848F;
  font-size: 1em;
}

.github,
.twitter {
  background: #55ABEE;
}

.facebook {
  background: #3B5997;
}

.up {
  background: #00E034;
}

.linkedin {
  background: #2967B2;
}

@media screen and (max-width: 1000px) {
  .network-buttons .link-buttons svg {
    margin: auto;
  }
  .network-buttons .link-buttons p {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .e-t {
    padding: 1em 0 0 0px;
    text-align: center;
    text-transform: uppercase;
  }
  .network-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .network-buttons .link-buttons {
    width: 15%;
    margin: 0.4em;
  }
  .network-buttons .link-buttons svg {
    margin: auto;
  }
  .footer-menu ul {
    list-style-type: none;
  }
  .footer-menu div {
    margin: auto;
    text-align: center;
  }
  .bottom h5 {
    margin: auto;
  }
  .bottom svg {
    margin: auto;
    padding: 1em;
  }
}
/*# sourceMappingURL=works.css.map */