

// fonts

@font-face {
  font-family: 'barow-regular';
  src: url('../../assets/fonts/barlow-semi-condensed.regular.ttf')format('truetype'),
  url('../../assets/fonts/barlow-semi-condensed.regular.woff')format('woff');
}
@font-face{
  font-family: 'barow-bold';
  src: url('../../assets/fonts/barlow-semi-condensed.bold.ttf')format('truetype'),
  url('../../assets/fonts/barlow-semi-condensed.bold.woff')format('woff');
  
}
@font-face{
  font-family: 'roboto-bold';
  src: url('../../assets/fonts/Roboto-Bold.ttf')format('truetype'),
  url('../../assets/fonts/Roboto-Bold_1.woff')format('woff');

}
@font-face{
  font-family: 'roboto-regular';
  src: url('../../assets/fonts/RobotoCondensed-Regular.ttf')format('truetype'),
  url('../../assets/fonts/RobotoCondensed-Regular.woff')format('woff');
}


*{
  padding: 0;
  margin: 0;  
  font-family: 'roboto-regular', sans-serif;
  outline: none;
}
$secondary-color:#66DED1;
$primary-background:#2A2C39;


button{
  font-family: 'roboto-bold', sans-serif;

}
img{
  width: 100%;
}
h1,h2,h3{
  font-family: 'barow-bold', sans-serif;
}
.row{
  display: flex;
  // if wrap add widht 100% to section on _first
  // flex-wrap: wrap;
}
.col{
  display: flex;
  flex-flow: column;
}

@media screen and(max-width:600px){
  .row{
    flex-flow: column;
  }
}

button{
  &:hover{
    cursor: pointer;
  }
}