@import '../../global/global';

.h-eight {
    color: #ffffff;
    padding: 0 3em 3em;

    h3 {
        margin: 0 2em 1em 5em;
    }

    .ninjas {
        margin: 1em 0 4em;
        justify-content: space-around;

        .ninja {
            background: #1E202A;
            border: 1px solid #707070;

            img {
                width: 30%;
                padding: 0.5em 1em;
            }

            .num {
                width: 65%;
                margin: auto;
                text-align: center;

                h1 {
                    font-style: 1.2em;
                }

                p {
                    font-size: 0.6em;
                }
            }
        }
    }

    .people {
        .person-card {
            width: 20%;
            margin: 1em;
            h4,
            h5 {
                font-weight: 100;
            }

            h4 {
                padding: 1em 0 0.4em;
            }

        }
        .arrow{
            margin: 6em 0 auto;
        }

     
    }
    .btns{
        margin: 1em 0;
        .join-btn, .hire-us-btn{
            width: 20%;
            margin:  1em ;
        }
        .hire-us-btn{
            background: #DD0D3D;
            color: #ffffff;
            border: 1px solid #DD0D3D;
            border-radius: 2px;
            text-transform: uppercase;
            
        }
        
    }

}