@import '../../global/global';

.h-seventh{
    justify-content: space-around;
    padding: 3em;
    .seventh-txt-container{
        color: #ffffff;
        width: 35%;
        .h-titles-w-b{
            margin: 2em 0;
            h2{
                text-align: left;
            }
            hr{
                margin: 0;
                width: 30%;
                margin: 1em 0 0 0 ;
            }
        }
        p{
            margin: 1em 0;
        }
       .join-btn{
           margin: 1em 0 0 0 ;
       }
    }
}

.join-btn{
    width: 40%;
    padding: 1em;
    text-transform: uppercase;
    background: $secondary-color;
    border:1px solid $secondary-color;
    border-radius: 2px;
}