@import '../../global/global';

.h-sixth {
    color: #ffffff;
    padding: 1em 9em;

    .h-titles-w-b {
        margin: 0;

        h2 {
            text-align: left;
        }

        hr {
            margin: 1.5em 0;
            width: 20%;
        }
    }

    .list-wrapper {
        margin: 1em 1em 0;
        justify-content: space-between;
        .list-columns {
            h5 {
                color: $secondary-color;
                text-transform: uppercase;
                font-size: 1em;
            }

            ul {
                list-style-type: none;
                margin: 1em 0;
            }

            &:nth-child(1) {
                ul {
                    &:nth-child(2) {
                        border-bottom: 1px solid $secondary-color;
                        padding: 0 0 1em ;
                    }
                }
            }
        }
        img {
            width: 35%;
        }

    }
    span{
        font-style: italic;
    }
    .hashtags{
        margin: 0.5em 0 ;
        svg{
            margin: 0 3.5em 0  0;
        }
        #_modern, #_ninja, #_webheroes{
            fill: #4F515D;
        }
        display: flex;
        justify-content: center;
    }
}

