@import '../../global/global';



.h-second {
    color: #ffffff;

    .row {
        justify-content: center;

        section {
            width: 40%;
            // margin: 1em 1em 0 0;
            padding: 2em;

            h3 {
                font-weight: 100;
                text-transform: uppercase;
                margin: 1em;
            }

            &:nth-child(1) {
                border-right: 2px solid $secondary-color;

                h3 {
                    text-align: right;
                }
            }

            .project {
                margin: 0 1em 2em 0;

                .project-img {
                    height: 45vh;
                }

                .github-rate {
                    width: 15%;
                    background: #1F1F27;


                    .gh-dets {
                        padding: 1em 0;
                        margin: 0 auto;
                        width: 80%;

                        h4 {
                            margin: 0.4em 0 0 0;
                            font-size: 1.5em;
                            font-weight: 100;
                            text-align: center;
                        }

                        p {
                            color: #8F8F93;
                            text-align: center;
                            font-size: 0.7em;
                        }

                        &:nth-child(1) {
                            border-bottom: 2px solid #8F8F93;
                        }
                    }

                }

                .project-descr {

                    h4 {
                        padding: 0.4em 0;
                        font-size: 1.6em;
                    }

                    span {
                        i {
                            font-size: 0.8em;
                        }
                    }

                    .project-type {
                        list-style-type: none;
                        justify-content: flex-start;
                        color: #7B7B81;
                        margin: 1em 0;

                        li {
                            padding: 0.4em;
                            background: #23232E;
                            margin: 0 1em 0 0;
                            font-size: 0.7em;
                        }
                    }

                    .l-margin {
                        margin: 0.4em;

                    }

                    .project-icons {
                        width: 25%;
                        margin: 0 0 0 1em;
                    }
                }
            }
        }



    }

    .d-arr {
        width: 3em;
        margin: auto;
    }

    a {
        margin: 1em auto 0.4em;
        text-decoration: none;
        color: #fff;
        font-size: 1.6em;
    }

    #line {
        width: 13em;
        margin: auto;
    }
}