.main-title-container h3,
.main-title-container h2,
.main-title-container h4,
.main-title-container h1 {
  color: var(--gauzy-secondary-color);
}

.main-title-container p {
  color: var(--details-color);
}
.dark-mode .main-title-container p {
  opacity: 0.7;
}

.main-title-container h2 {
  font-size: 36px;
  letter-spacing: 0.5px;
  line-height: 39x;
}
@media (max-width: 600px) {
  .main-title-container h2 {
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.28px;
  }
}
.main-title-container p {
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 38px;
}
@media (max-width:600px){
  .main-title-container p {
    font-size: 16px;
    letter-spacing: 0.33px;
    line-height: 30px;
    width: 90%;
    margin: auto;
  }
}
/* 
@media(max-width:1024px){
  .main-title-container{
    width: 80%;
    margin: auto;
  }
} */