footer {
  background: $primary-background;
  max-width: 100em;
  margin: auto;
  .e-t {
    color: #82848f;
    max-width: 100em;
    margin: auto;
    @media screen and (min-width: 1000px) {
      padding: 0 0 0 10em;
    }
  }

  .network-buttons {
    justify-content: space-around;
    border: 1px solid #40414c;
    border-left: none;
    border-right: none;
    padding: 3em;
    margin: 2em 0;

    .link-buttons {
      color: #ffffff;
      padding: 1em;
      display: flex;
      @media screen and (min-width: 698px) {
        width: 10%;
        margin: 1em;
      }
      border-radius: 5px;

      svg {
        padding: 0 0.5em 0 0;
      }

      p {
        margin: auto;
      }
    }
  }

  .footer-menu {
    justify-content: space-around;
    color: #ffffff;
    border-bottom: 1px solid #40414c;
    margin: 1em;

    div {
      margin: 0 auto;
      a {
        color: #d4d4d7;
        letter-spacing: 1px;
        margin: 0 0 0.4em;
        font-size: 1em;
        text-transform: uppercase;
      }

      ul {
        padding: 0.5em;
        color: #a9aaaf;
      }
    }
      
      .extra-logos {
        width: 5em;
        margin: 0 auto 1em;
        img {
          margin: 1em;
        }
    }
  }

  .bottom {
    justify-content: space-around;
    padding: 1em;
    color: #82848f;
    width: 90%;
    margin: auto;
    svg{
        margin: auto 0;
    }
    div {
      width: 60%;
      max-width: 50em;
      margin: 0 auto;
      h5,
      a {
        color: #82848f;
        font-size: 1em;
      }
      h5 {
        margin: 0 0 1em;
      }
      p {
        font-size: 0.8em;
      }
    }
    .switch-field {
      width: fit-content;
      border: 1px solid #2d3545;
      border-radius: 25px;
      label {
        svg {
          border-radius: 50%;
        }
      }
      input[type="radio"] {
        display: none;
        &:checked + label {
          svg {
            background: #9ba4b7;
            path {
              fill: #1f1f27;
            }
          }
        }
      }
    }
  }
}

.github,
.twitter {
  background: #55abee;
}

.facebook {
  background: #3b5997;
}

.up {
  background: #00e034;
}

.linkedin {
  background: #2967b2;
}

@media screen and(max-width:1000px) {
  .network-buttons {
    .link-buttons {
      svg {
        margin: auto;
      }
      p {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .e-t {
    padding: 1em 0 0 0px;
    text-align: center;
    text-transform: uppercase;
  }

  .network-buttons {
    flex-flow: row;
    flex-wrap: wrap;

    .link-buttons {
      width: 15%;
      margin: 0.4em;

      svg {
        margin: auto;
      }
    }
  }
  footer{
  .footer-menu {
    ul {
      list-style-type: none;
    }
    div {
      margin: 0 auto;
      text-align: center;
    }
    .sub-logos{
      width: 100%;
    }
  }
  .bottom {
    h5 {
      margin: auto;
    }
    svg {
      margin: auto;
      padding: 1em;
    }
    div{
      text-align: center;
      p{
        display: none;

      }
    }
  }
}

}
