// fonts
@import "../mixins/ie-mixin";
@font-face {
  font-family: "barow-regular";
  src: url("../../../assets/fonts/barlow-semi-condensed.regular.ttf")
      format("truetype"),
    url("../../../assets/fonts/barlow-semi-condensed.regular.woff")
      format("woff");
}
@font-face {
  font-family: "barow-bold";
  src: url("../../../assets/fonts/barlow-semi-condensed.bold.ttf")
      format("truetype"),
    url("../../../assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../../../assets/fonts/Roboto-Bold.ttf") format("truetype"),
    url("../../../assets/fonts/Roboto-Bold_1.woff") format("woff");
}
@font-face {
  font-family: "roboto-regular";
  src: url("../../../assets/fonts/RobotoCondensed-Regular.ttf")
      format("truetype"),
    url("../../../assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: "roboto-regular", sans-serif;
  outline: none;
}
$secondary-color: #66ded1;
$primary-background: #2a2c39;
html {
  background: $primary-background;
}
button {
  font-family: "roboto-bold", sans-serif;
}
img {
  width: 100%;
}
h1,
h2,
h3 {
  font-family: "roboto-regular", sans-serif;
}
.row {
  display: flex;
}
.col {
  display: flex;
  flex-flow: column;
}

@media screen and(max-width:600px) {
  .row {
    flex-flow: column;
  }
}

button,
a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

// Global title-container
.h-titles-w-b {
  color: #fff;

  h2 {
    font-weight: lighter;
    font-size: 2.5rem;
  }

  hr {
    background: $secondary-color;
    border: 2px solid $secondary-color;
    width: 40%;
    @include ie {
      display: none;
    }
  }
  .yellow-hr {
    background: #d2bd2e;
    border-color: #d2bd2e;
  }
  .red-hr {
    background: #dd0d3d;
    border-color: #dd0d3d;
  }
  p {
    font-size: 1.1rem;
    margin: 1em 0 0.6em;
  }

  span {
    color: $secondary-color;
  }
}

// Global header
header {
  color: #ffffff;
  width: 80%;
  max-width: 80em;
  margin: auto;
  padding: 2em 0;
  h1 {
    font-weight: 100;
    font-size: 3rem;
    font-family: "barow-regular";
  }
  p {
    margin: auto 1em;
    font-size: 1.3rem;
    text-transform: uppercase;
  }
}
@media screen and(max-width:1024px) {
  header {
    width: 80%;
    padding: 2em 0 0;
    h1 {
      margin: auto;
      font-size: 2rem;
    }
    p {
      margin: auto 1em;
      font-size: 1rem;
    }

  }
}

@media screen and(max-width:600px) {
  header{
    margin: 0;
    h1{
      margin: .5em;
    }
  }

}