@import "../mixins/ie-mixin";

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #1f1f27;
  font-family: "roboto-bold", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border-bottom: 1px solid $secondary-color;
  align-items: center;
  .left {
    margin: 0.5em 1.2em;
    display: flex;

    #mini-menu {
      display: none;
    }
  }

  @media screen and (min-width: 800px) {
    .right {
      display: flex;
      .links {
        text-transform: uppercase;
        display: flex;
        list-style-type: none;
        font-weight: 500;
        a {
          margin: auto 1em;
          color: #fff;
          transition: all 0.2s ease-out;

          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }

  .hire-btn {
    transition: all 0.2s ease-out;
    margin: 1em;
    padding: 1em 1.4em;
    background: transparent;
    border: 1px solid #606c84;
    color: #ff3564;
    &:hover {
      background: #ff3564;
      color: #fff;
      cursor: pointer;
    }
    a {
      font-weight: bold;
      color: #ff3564;
    }
    &:hover {
      a {
        color: #fff;
      }
    }
  }
}

.hidden-menu {
  z-index: 100;
  background: #1f1f27;
  position: absolute;
  width: 100%;
  transform: translate(0, -120%);
  transition: all 0.5s ease-out;
  .col {
    a {
      cursor: pointer;
      color: #fff;
      font-size: 2rem;
      text-align: center;
      margin: 0.2em auto;
      border-bottom: 1px solid $secondary-color;
      width: 50%;
      padding: 0.2em;
      &:nth-child(5) {
        margin-bottom: 1em;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    .left {
      #mini-menu {
        display: block;
        margin: 0 .5em 0 .5em;
        @include ie {
          margin: auto 1em auto;
        }
      }
      a {
        @include ie {
          margin: auto;
        }
      }
    }

    .links {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    .left {
      margin: 0;
      padding: 1em 0;
    }
  }
}
