
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #1F1F27;
    font-family: 'roboto-bold', sans-serif;
    font-weight: bold;
    font-size: 1em;
    border-bottom: 1px solid $secondary-color;

    .left {
        margin: 0.5em 1.2em;
        display: flex;

        @media screen and (min-width:800px) {
            #mini-menu {
                display: none;
            }
        }

    }

    @media screen and (min-width:800px) {
        .right {

            display: flex;

            .links {
                text-transform: uppercase;

                display: flex;
                list-style-type: none;

                a {
                    margin: auto 1em;
                    color: #fff;
                    transition: all 0.2s ease-out;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    .hire-btn {
        transition: all 0.2s ease-out;
        margin: 1em;
        @media screen and (min-width:800px) {
        padding: 0 1.4em;
        }
        background: transparent;
        color: #FF3564;
        border: 1px solid #606C84;

        &:hover {
            background: #FF3564;
            color: #fff;
            cursor: pointer;
        }
    }
}

.hidden-menu{
    background:#1F1F27 ;
    position: absolute;
    width: 100%;
    transform: translate(0, -120%);
    transition: all 0.5s ease-out;
    .col{
        a{
            cursor: pointer;
            color: #fff;
            font-size: 2em;
            text-align: center;
            margin: 0.2em auto;
            border-bottom: 1px solid $secondary-color;
            width: 50%;
            padding: 0.2em;
            &:nth-child(5){
                margin-bottom: 1em;
            }
        }
    }
}

@media screen and (max-width:800px) {
    #mini-menu {
        display: block;
        margin: 0 1em 0 0;
    }
    .hire-btn{
        padding: 1em 1.4em;
    }
    .links {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .navbar{
    .left{
        margin: 0;
        padding: 1em 0;
    }
}
}