*{
  padding: 0;
  margin: 0;  
  font-family: 'roboto-regular', sans-serif;
  outline: none;
}
$secondary-color:#66DED1;
$primary-background:#2A2C39;

@font-face {
  font-family: 'barow-regular';
  src: url('./assets/fonts/barlow-semi-condensed.regular.ttf');
}
@font-face{
  font-family: 'barow-bold';
  src: url('./assets/fonts/barlow-semi-condensed.bold.ttf');
}
@font-face{
  font-family: 'roboto-bold';
  src: url('./assets/fonts/RobotoCondensed-Bold.ttf');
}
@font-face{
  font-family: 'roboto-regular';
  src: url('./assets/fonts/RobotoCondensed-Regular.ttf');
}

button{
  font-family: 'roboto-bold', sans-serif;

}
img{
  width: 100%;
}
h1,h2,h3{
  font-family: 'barow-bold', sans-serif;
}
.row{
  display: flex;
}
.col{
  display: flex;
  flex-flow: column;
}

@media screen and(max-width:600px){
  .row{
    flex-flow: column;
  }
}