@font-face {
  font-family: "barow-regular";
  src: url("../../../assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("../../../assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: "barow-bold";
  src: url("../../../assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("../../../assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: "roboto-bold";
  src: url("../../../assets/fonts/Roboto-Bold.ttf") format("truetype"), url("../../../assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: "roboto-regular";
  src: url("../../../assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("../../../assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: "roboto-regular", sans-serif;
  outline: none;
}

html {
  background: #2a2c39;
}

button {
  font-family: "roboto-bold", sans-serif;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "roboto-regular", sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button,
a {
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

.h-titles-w-b {
  color: #fff;
}

.h-titles-w-b h2 {
  font-weight: lighter;
  font-size: 2.5rem;
}

.h-titles-w-b hr {
  background: #66ded1;
  border: 2px solid #66ded1;
  width: 40%;
}

@supports (-ms-ime-align: auto) {
  .h-titles-w-b hr {
    display: none;
  }
}

.h-titles-w-b .yellow-hr {
  background: #d2bd2e;
  border-color: #d2bd2e;
}

.h-titles-w-b .red-hr {
  background: #dd0d3d;
  border-color: #dd0d3d;
}

.h-titles-w-b p {
  font-size: 1.1rem;
  margin: 1em 0 0.6em;
}

.h-titles-w-b span {
  color: #66ded1;
}

header {
  color: #ffffff;
  width: 80%;
  max-width: 80em;
  margin: auto;
  padding: 2em 0;
}

header h1 {
  font-weight: 100;
  font-size: 3rem;
  font-family: "barow-regular";
}

header p {
  margin: auto 1em;
  font-size: 1.3rem;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  header {
    width: 80%;
    padding: 2em 0 0;
  }
  header h1 {
    margin: auto;
    font-size: 2rem;
  }
  header p {
    margin: auto 1em;
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    margin: 0;
  }
  header h1 {
    margin: .5em;
  }
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1f1f27;
  font-family: "roboto-bold", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border-bottom: 1px solid #66ded1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .left {
  margin: 0.5em 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .left #mini-menu {
  display: none;
}

@media screen and (min-width: 800px) {
  .navbar .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .right .links {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    font-weight: 500;
  }
  .navbar .right .links a {
    margin: auto 1em;
    color: #fff;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .navbar .right .links a:hover {
    color: #66ded1;
  }
}

.navbar .hire-btn {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin: 1em;
  padding: 1em 1.4em;
  background: transparent;
  border: 1px solid #606c84;
  color: #ff3564;
}

.navbar .hire-btn:hover {
  background: #ff3564;
  color: #fff;
  cursor: pointer;
}

.navbar .hire-btn a {
  font-weight: bold;
  color: #ff3564;
}

.navbar .hire-btn:hover a {
  color: #fff;
}

.hidden-menu {
  z-index: 100;
  background: #1f1f27;
  position: absolute;
  width: 100%;
  -webkit-transform: translate(0, -120%);
          transform: translate(0, -120%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.hidden-menu .col a {
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin: 0.2em auto;
  border-bottom: 1px solid #66ded1;
  width: 50%;
  padding: 0.2em;
}

.hidden-menu .col a:nth-child(5) {
  margin-bottom: 1em;
}

@media screen and (max-width: 800px) {
  .navbar .left #mini-menu {
    display: block;
    margin: 0 .5em 0 .5em;
  }
  @supports (-ms-ime-align: auto) {
    .navbar .left #mini-menu {
      margin: auto 1em auto;
    }
  }
  @supports (-ms-ime-align: auto) {
    .navbar .left a {
      margin: auto;
    }
  }
  .navbar .links {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navbar .left {
    margin: 0;
    padding: 1em 0;
  }
}

footer {
  background: #2a2c39;
  margin: auto;
}

footer .e-t {
  width: 90%;
  max-width: 90em;
  color: #82848f;
  margin: auto;
}

footer .footer-menu-wrapper,
footer .network-buttons-wrapper,
footer .bottom-wrapper {
  max-width: 90em;
  width: 90%;
}

footer .network-buttons {
  border: 1px solid #40414c;
  border-left: none;
  border-right: none;
}

footer .network-buttons .network-buttons-wrapper {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2em auto;
}

footer .network-buttons .network-buttons-wrapper .link-buttons {
  color: #ffffff;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

@media screen and (min-width: 698px) {
  footer .network-buttons .network-buttons-wrapper .link-buttons {
    width: 10%;
    margin: 1em;
  }
}

footer .network-buttons .network-buttons-wrapper .link-buttons svg {
  min-width: 2em;
  margin: auto;
  padding: 0 0.5em 0 0;
}

footer .network-buttons .network-buttons-wrapper .link-buttons p {
  margin: auto;
}

footer .footer-menu {
  border-bottom: 1px solid #40414c;
}

footer .footer-menu .footer-menu-wrapper {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  margin: 1em auto;
}

footer .footer-menu .footer-menu-wrapper div {
  margin: 0 auto;
}

footer .footer-menu .footer-menu-wrapper div a {
  color: #d4d4d7;
  letter-spacing: 1px;
  margin: 0 0 0.4em;
  font-size: 1rem;
  text-transform: uppercase;
}

footer .footer-menu .footer-menu-wrapper div ul {
  padding: 0.5em;
  color: #a9aaaf;
}

footer .footer-menu .footer-menu-wrapper .extra-logos {
  width: 5em;
  margin: 0 auto 1em;
}

footer .footer-menu .footer-menu-wrapper .extra-logos img {
  margin: 1em;
  max-width: 5em;
}

footer .bottom .bottom-wrapper {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em;
  color: #82848f;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

footer .bottom .bottom-wrapper .ever-bottom-logo {
  margin: auto 0;
  width: 10em;
}

footer .bottom .bottom-wrapper div {
  width: 60%;
  max-width: 50em;
}

footer .bottom .bottom-wrapper div h5,
footer .bottom .bottom-wrapper div a {
  color: #82848f;
  font-size: 1rem;
}

footer .bottom .bottom-wrapper div h5 {
  margin: 0 0 1em;
}

footer .bottom .bottom-wrapper div p {
  font-size: 0.8rem;
}

footer .bottom .bottom-wrapper .switch-field {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #2d3545;
  border-radius: 25px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

@supports (-ms-ime-align: auto) {
  footer .bottom .bottom-wrapper .switch-field {
    margin: auto;
    width: auto;
  }
}

footer .bottom .bottom-wrapper .switch-field label svg {
  border-radius: 50%;
}

footer .bottom .bottom-wrapper .switch-field input[type="radio"] {
  display: none;
}

footer .bottom .bottom-wrapper .switch-field input[type="radio"]:checked + label svg {
  background: #9ba4b7;
}

footer .bottom .bottom-wrapper .switch-field input[type="radio"]:checked + label svg path {
  fill: #1f1f27;
}

.github,
.twitter {
  background: #55abee;
}

.facebook {
  background: #3b5997;
}

.up {
  background: #00e034;
}

.linkedin {
  background: #2967b2;
}

@media screen and (max-width: 1024px) {
  footer .network-buttons .network-buttons-wrapper .link-buttons svg {
    margin: auto;
  }
  footer .network-buttons .network-buttons-wrapper .link-buttons p {
    display: none;
  }
  footer .bottom .bottom-wrapper .ever-bottom-logo {
    width: 6em;
  }
}

@media screen and (max-width: 700px) {
  .e-t {
    padding: 1em 0 0 0px;
    text-align: center;
    text-transform: uppercase;
  }
  footer .network-buttons .network-buttons-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .network-buttons .network-buttons-wrapper .link-buttons {
    width: 15%;
    margin: 0.4em;
    padding: 0;
  }
  footer .network-buttons .network-buttons-wrapper .link-buttons svg {
    margin: auto;
    padding: 0.5em;
  }
  footer .footer-menu .footer-menu-wrapper ul {
    list-style-type: none;
  }
  footer .footer-menu .footer-menu-wrapper div {
    margin: 1em auto;
    text-align: center;
  }
  footer .footer-menu .footer-menu-wrapper .sub-logos {
    width: 100%;
  }
  footer .footer-menu .footer-menu-wrapper .extra-logos {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  footer .bottom .bottom-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .bottom .bottom-wrapper .switch-field svg {
    padding: 0;
  }
  footer .bottom .bottom-wrapper h5 {
    margin: auto;
  }
  footer .bottom .bottom-wrapper .ever-bottom-logo {
    margin: auto;
    padding: 1em;
  }
  footer .bottom .bottom-wrapper div {
    text-align: center;
  }
  footer .bottom .bottom-wrapper div p {
    display: none;
  }
}

.message-us {
  color: #ffffff;
  background: url("../../../assets/images/map-form.png");
  background-size: contain;
  background-position: center;
}

.message-us .message-us-container {
  width: 90%;
  max-width: 90em;
  margin: 3em auto;
  border: 1px solid #474b5e;
}

.message-us .message-us-txt-container {
  width: 50%;
  margin: auto;
}

.message-us .message-us-txt-container h1,
.message-us .message-us-txt-container h3 {
  font-weight: 500;
}

.message-us .message-us-txt-container .red-contact {
  color: #dd0d3d;
  font-size: 2rem;
}

.message-us .message-us-txt-container .red-contact a {
  color: #dd0d3d;
}

.message-us .message-us-txt-container h3:nth-child(3) {
  border-bottom: 2px solid #8f9bb3;
  width: 5%;
}

.message-us .contact-form {
  max-width: 25em;
  padding: 3em;
  width: 25%;
  background: #ffffff;
  font-weight: bold;
  margin: 1em 3em -3em 0;
}

.message-us .contact-form label {
  font-size: 1.2rem;
  color: black;
}

.message-us .contact-form select,
.message-us .contact-form input {
  -webkit-appearance: none;
  color: #a9aaaf;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.4em;
  margin: 0.5em 0;
}

.message-us .contact-form textarea {
  resize: none;
  padding: 1em;
}

.message-us .contact-form textarea::-webkit-input-placeholder {
  text-align: center;
}

.message-us .contact-form textarea:-ms-input-placeholder {
  text-align: center;
}

.message-us .contact-form textarea::-ms-input-placeholder {
  text-align: center;
}

.message-us .contact-form textarea::placeholder {
  text-align: center;
}

.message-us .contact-form .send-msg-btn {
  width: 90%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-transform: uppercase;
  padding: 1em;
  color: #ffffff;
  background: #dd0d3d;
  border: 1px solid #dd0d3d;
  border-radius: 2px;
  margin: 3em 0 0 0;
}

@media screen and (max-width: 1280px) {
  .message-us .message-us-txt-container {
    margin: auto 0 auto 2em;
  }
  .message-us .contact-form {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .message-us .contact-form {
    width: 50%;
    margin: 1em 1em -3em 0;
  }
}

@media screen and (max-width: 600px) {
  .message-us {
    width: 95%;
    margin: auto;
  }
  .message-us .message-us-container {
    border: none;
    width: 100%;
  }
  .message-us .message-us-txt-container {
    width: 90%;
    margin: 2em auto;
  }
  .message-us .message-us-txt-container h3:nth-child(3) {
    width: 50%;
    padding: 0.5em 0;
    margin: 0.5em 0;
  }
  .message-us .contact-form {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0;
  }
  .message-us .contact-form label {
    margin: 1em 1em 0.2em;
  }
  .message-us .contact-form select,
  .message-us .contact-form input {
    margin: 1em;
  }
  .message-us .contact-form textarea {
    width: 70%;
    margin: 1em auto;
  }
  .message-us .contact-form .send-msg-btn {
    width: 90%;
    margin: auto;
  }
}

.github-rate {
  color: #fff;
  background: #1f1f27;
}

@media screen and (min-width: 600px) {
  .github-rate {
    width: 15%;
  }
}

@media screen and (min-width: 600px) {
  .github-rate .gh-dets {
    width: 80%;
    margin: 0 auto;
    padding: 1em 0;
  }
}

.github-rate .gh-dets h4 {
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .github-rate .gh-dets h4 {
    margin: 0.4em 0 0 0;
  }
}

.github-rate .gh-dets p {
  color: #8f8f93;
  text-align: center;
  font-size: 0.7rem;
}

@media screen and (min-width: 600px) {
  .github-rate .gh-dets:nth-child(1) {
    border-bottom: 2px solid #8f8f93;
  }
}

.github-rate .gh-dets img {
  width: 1em;
}

@media screen and (max-width: 600px) {
  .github-rate {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .github-rate .gh-dets {
    margin: 1em;
  }
  .github-rate .gh-dets:nth-child(1) {
    padding-right: 1em;
    border-right: 2px solid #4c4c52;
  }
}

.client-feedback-arrows {
  width: 4em;
  height: 10vh;
  width: 15%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 0 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.client-feedback-arrows svg {
  margin: 2em 0;
}

.hire-us-btn {
  background: #dd0d3d;
  color: #ffffff;
  padding: 1em;
  border: 1px solid #dd0d3d;
  border-radius: 2px;
  text-transform: uppercase;
}

.hire-us-btn a {
  color: #fff;
}

.yellow-link,
.red-link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 600px) {
  .yellow-link,
  .red-link {
    font-size: 2rem;
  }
}

.yellow-link svg,
.red-link svg {
  margin: 0 0 0.1em 0;
}

.yellow-link {
  color: #d2bd2e;
}

.red-link {
  color: #dd0d3d;
}

.red-link svg #link-arrow {
  fill: #dd0d3d;
}

main {
  padding: 1em 0 0 0;
}

.back {
  font-weight: 500;
  padding: 1em 2em;
  width: 80%;
  max-width: 70em;
  margin: auto;
}

.back svg {
  margin: 0 1em;
}

.back a {
  text-decoration: none;
  color: #ffffff;
}

.works-descr-top-container {
  width: 80%;
  max-width: 80em;
  margin: auto;
  background: #ffffff;
}

.works-descr-top-container .top {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works-descr-top-container .top h1 {
  font-weight: 100;
  margin: 1em;
  font-size: 3rem;
  width: 60%;
}

.works-descr-top-container .top .github-rate {
  width: 5%;
  min-width: 3em;
  margin: 2em 0;
}

.works-descr-top-container .top .github-rate .gh-dets h4 {
  margin: -0.5em 0 0 0;
  font-size: 1rem;
}

.works-descr-top-container .top .github-rate .gh-dets p {
  font-size: 0.5rem;
}

.works-descr-top-container picture {
  width: 90%;
  margin: auto;
}

.works-descr-top-container .top-descr {
  width: 90%;
  margin: 3em auto;
}

.works-descr-top-container .top-descr .top-descr-txt {
  width: 40%;
  font-size: 1.15rem;
  margin: auto;
}

.works-descr-top-container .top-descr .top-descr-txt h3 {
  font-style: italic;
  font-weight: 100;
  margin: 0 0 2em 0;
}

.works-descr-top-container .top-descr .top-descr-txt p {
  margin: 1.2em 0;
  font-size: 0.8rem;
}

.works-descr-top-container .top-descr .top-descr-txt div {
  margin: 3em 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works-descr-top-container .top-descr .image-w-arrows {
  width: 50%;
}

.works-descr-top-container .top-descr .image-w-arrows img {
  width: 100%;
  margin: 0;
}

.works-descr-top-container .top-descr .image-w-arrows .client-feedback-arrows {
  background: #ffffff;
  width: 30%;
  margin: -2em -10em;
}

.works-descr-top-container .top-descr .image-w-arrows .client-feedback-arrows svg #arrow {
  fill: #0d1c2e;
}

.works-descr-top-container .gh-icon-top {
  width: 80%;
  margin: -4em auto 1em;
}

.works-descr-top-container .gh-icon-top svg {
  width: 3em;
}

.works-descr-top-container .gh-icon-top a {
  margin: 1em 0;
}

.works-descr-top-container .gh-icon-top a svg {
  width: auto;
}

@media screen and (max-width: 1280px) {
  .works-descr-top-container .top-descr .image-w-arrows img {
    margin: auto 0;
  }
  .works-descr-top-container .top-descr .image-w-arrows .client-feedback-arrows {
    margin: auto -5em 0;
  }
}

@media screen and (max-width: 1000px) {
  .works-descr-top-container .top-descr .image-w-arrows .client-feedback-arrows {
    margin: auto -5em 6em;
  }
}

@media screen and (max-width: 600px) {
  .back {
    display: none;
  }
  .works-descr-top-container {
    width: 95%;
  }
  .works-descr-top-container .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .works-descr-top-container .top h1 {
    font-size: 1.8rem;
    width: 85%;
  }
  .works-descr-top-container .top .github-rate {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    margin: 0;
  }
  .works-descr-top-container .top .github-rate .gh-dets {
    margin: 1em;
  }
  .works-descr-top-container .top .github-rate .gh-dets:nth-child(1) {
    padding-right: 1em;
    border-right: 2px solid #4c4c52;
  }
  .works-descr-top-container picture {
    width: 95%;
    margin: auto;
  }
  .works-descr-top-container picture img {
    width: 100%;
  }
  .works-descr-top-container .top-descr .top-descr-txt {
    width: 90%;
  }
  .works-descr-top-container .top-descr .top-descr-txt p {
    font-size: 1rem;
  }
  .works-descr-top-container .top-descr h1 {
    width: 75%;
    font-size: 2rem;
  }
  .works-descr-top-container .top-descr .image-w-arrows {
    width: 100%;
    margin: auto;
  }
  .works-descr-top-container .top-descr .image-w-arrows img {
    width: 90%;
    margin: auto;
  }
  .works-descr-top-container .top-descr .image-w-arrows .client-feedback-arrows {
    width: 35%;
    margin: -3em 0 0;
  }
  .gh-icon-top {
    width: 100%;
  }
  .gh-icon-top svg {
    width: 15%;
    margin: 0 auto;
  }
  .gh-icon-top a {
    text-align: center;
  }
  .yellow-link, .red-link {
    font-size: 1.5rem;
  }
}

@font-face {
  font-family: "barow-regular";
  src: url("../../../assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("../../../assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: "barow-bold";
  src: url("../../../assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("../../../assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: "roboto-bold";
  src: url("../../../assets/fonts/Roboto-Bold.ttf") format("truetype"), url("../../../assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: "roboto-regular";
  src: url("../../../assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("../../../assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: "roboto-regular", sans-serif;
  outline: none;
}

html {
  background: #2a2c39;
}

button {
  font-family: "roboto-bold", sans-serif;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "roboto-regular", sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button,
a {
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

.h-titles-w-b {
  color: #fff;
}

.h-titles-w-b h2 {
  font-weight: lighter;
  font-size: 2.5rem;
}

.h-titles-w-b hr {
  background: #66ded1;
  border: 2px solid #66ded1;
  width: 40%;
}

@supports (-ms-ime-align: auto) {
  .h-titles-w-b hr {
    display: none;
  }
}

.h-titles-w-b .yellow-hr {
  background: #d2bd2e;
  border-color: #d2bd2e;
}

.h-titles-w-b .red-hr {
  background: #dd0d3d;
  border-color: #dd0d3d;
}

.h-titles-w-b p {
  font-size: 1.1rem;
  margin: 1em 0 0.6em;
}

.h-titles-w-b span {
  color: #66ded1;
}

header {
  color: #ffffff;
  width: 80%;
  max-width: 80em;
  margin: auto;
  padding: 2em 0;
}

header h1 {
  font-weight: 100;
  font-size: 3rem;
  font-family: "barow-regular";
}

header p {
  margin: auto 1em;
  font-size: 1.3rem;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  header {
    width: 80%;
    padding: 2em 0 0;
  }
  header h1 {
    margin: auto;
    font-size: 2rem;
  }
  header p {
    margin: auto 1em;
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    margin: 0;
  }
  header h1 {
    margin: .5em;
  }
}

.tech-stack {
  color: #ffffff;
  width: 80%;
  max-width: 70em;
  margin: 2em auto;
  font-size: 1.1rem;
  padding: 1em;
  border: 1px solid rgba(142, 154, 178, 0.2);
}

@media screen and (min-width: 1280px) {
  .tech-stack .h-titles-w-b {
    margin: 1em 2em;
  }
}

.tech-stack .h-titles-w-b h2 {
  padding: 0 0 0.5em;
}

@media screen and (min-width: 1280px) {
  .tech-stack .h-titles-w-b h2 {
    font-size: 2.5rem;
  }
}

.tech-stack .h-titles-w-b hr {
  width: 23%;
}

@media screen and (min-width: 600px) {
  .tech-stack .list-wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  @supports (-ms-ime-align: auto) {
    .tech-stack .list-wrapper {
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
  }
}

@media screen and (min-width: 1280px) {
  .tech-stack .list-wrapper img {
    width: 50%;
  }
}

@media screen and (min-width: 600px) {
  .tech-stack .list-wrapper img {
    margin: -9em 0 0 -6em;
  }
}

.tech-stack .list-wrapper .list-columns h5 {
  color: #66ded1;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
}

.tech-stack .list-wrapper .list-columns ul {
  margin: 1em;
}

.tech-stack .list-wrapper .list-columns:first-child ul:nth-child(2) {
  list-style-type: none;
}

@media screen and (max-width: 1280px) {
  .tech-stack .h-titles-w-b {
    margin: 1em 0 2em 2em;
  }
  .tech-stack .h-titles-w-b h2 {
    font-size: 2.5rem;
  }
  .tech-stack .list-wrapper img {
    margin: 4em 0 00 -15em;
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .tech-stack {
    width: 95%;
    padding: 0;
  }
  .tech-stack .h-titles-w-b {
    margin: 1em;
  }
  .tech-stack .h-titles-w-b h2 {
    font-size: 2rem;
  }
  .tech-stack .h-titles-w-b hr {
    width: 50%;
  }
  .tech-stack .list-wrapper {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .tech-stack .list-wrapper .list-columns {
    margin: 1em;
    width: 35%;
  }
  .tech-stack .list-wrapper .list-columns ul {
    list-style-type: none;
    margin: 1em 0;
  }
  .tech-stack .list-wrapper img {
    width: 100%;
    margin: 0;
  }
}

.works-details-articles {
  width: 80%;
  max-width: 80em;
  margin: auto;
  background: #ffffff;
}

@media screen and (min-width: 600px) {
  .works-details-articles section:nth-child(5) #mobile-need-app {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .works-details-articles section:nth-child(5) #need-app {
    display: none;
  }
}

.works-details-articles section .yellow-link, .works-details-articles section .red-link {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.works-details-articles section img {
  background: #2a2c39;
}

@media screen and (min-width: 600px) {
  .works-details-articles section img {
    width: 45%;
    margin: auto;
  }
}

.works-details-articles section div {
  width: 50%;
  margin: 3em auto 1em;
}

.works-details-articles section div .h-titles-w-b {
  margin: 0;
  color: #2a2c39;
}

@media screen and (min-width: 600px) {
  .works-details-articles section div .h-titles-w-b {
    width: 65%;
  }
}

.works-details-articles section div .h-titles-w-b h2 {
  margin: 0 0 0.4em;
}

.works-details-articles section div .paragraph-txt {
  width: 100%;
  margin: 2em 0;
}

.works-details-articles section div p {
  font-size: 1rem;
}

@media screen and (min-width: 600px) {
  .works-details-articles section div p {
    margin: 1em 0;
    width: 90%;
  }
}

.works-details-articles section div .mobile-icons {
  width: 80%;
  margin: 0;
}

.works-details-articles section div .mobile-icons div {
  width: 90%;
}

.works-details-articles section div .mobile-icons div svg {
  margin: 0 1em 0 0;
  width: 1.8em;
}

@media screen and (max-width: 1025px) {
  .works-details-articles section div .h-titles-w-b {
    font-size: 0.7rem;
    width: 100%;
  }
  .works-details-articles section .mobile-icons div {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .works-details-articles {
    width: 95%;
  }
  .works-details-articles section {
    width: 100%;
  }
  .works-details-articles section:nth-child(1), .works-details-articles section:nth-child(3), .works-details-articles section:nth-child(5) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .works-details-articles section:nth-child(5) a {
    padding: 1em;
    margin: auto;
  }
  .works-details-articles section div {
    width: 90%;
  }
  .works-details-articles section div .h-titles-w-b {
    width: 100%;
  }
  .works-details-articles section div .h-titles-w-b h2 {
    font-size: 2rem;
  }
  .works-details-articles section div .h-titles-w-b hr {
    width: 80%;
  }
  .works-details-articles section div p {
    margin: 1em 0;
  }
  .works-details-articles section div .yellow-link, .works-details-articles section div .red-link {
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
  .works-details-articles section div #mobile-need-app {
    margin: auto;
  }
  .works-details-articles section .mobile-icons div {
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .works-details-articles section .mobile-icons div svg {
    width: 10%;
  }
}

.team-and-time-container {
  margin: 5em auto 0;
  color: #ffffff;
}

.team-and-time-container .h-titles-w-b {
  width: 90%;
  margin: 2em auto;
}

.team-and-time-container .h-titles-w-b h2 {
  text-align: center;
  margin: 0 0 0.4em;
}

.team-and-time-container .h-titles-w-b hr {
  margin: auto;
  width: 15%;
}

.team-and-time-container .time-icons {
  width: 90%;
  max-width: 90em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.team-and-time-container .time-icons .time-icon {
  background: #1e202a;
  border: 1px solid #707070;
  margin: auto 1em;
  width: 12em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 6em;
}

.team-and-time-container .time-icons .time-icon .num {
  width: 50%;
  text-align: center;
}

.team-and-time-container .time-icons .time-icon .num h3 {
  font-size: 1.3rem;
}

.team-and-time-container .time-icons .time-icon .num p {
  font-size: 1.1rem;
}

.team-and-time-container .time-icons .time-icon img {
  margin: auto 1em;
  width: 3em;
}

.team-and-time-container .time-icons .time-icon:last-child {
  background: transparent;
}

.team-and-time-container .time-icons .time-icon .time-descr-block {
  text-align: center;
  margin: auto 1em;
}

.team-and-time-container .time-icons .time-icon .time-descr-block h3 {
  font-size: 1.5rem;
}

.team-and-time-container .time-icons .time-icon .time-descr-block p {
  font-size: 1rem;
}

.team-and-time-container .team {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 90em;
  margin: auto;
}

.team-and-time-container .team .team-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-and-time-container .team .team-container .person-card {
  width: 30%;
  margin: 0 2em;
}

.team-and-time-container .team .team-container .person-card h4,
.team-and-time-container .team .team-container .person-card h5 {
  font-weight: 500;
}

.team-and-time-container .team .team-container .person-card h4 {
  margin: 0.5em 0 0;
}

.team-and-time-container .team .team-container .person-card .person-icons {
  margin: 0.8em 0 0;
}

.team-and-time-container .team .team-container .person-card .person-icons a {
  margin: 0 0.5em 0 0;
}

.team-and-time-container .team .developers .person-card {
  margin: 0 0.5em;
}

.team-and-time-container .hire-us-btn {
  margin: 4em auto 1em;
  width: 15em;
  font-size: 1.2rem;
}

.team-and-time-container a {
  color: #66ded1;
  font-size: 1.25rem;
}

.team-and-time-container .more-projects {
  background: #1e202a;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2em 0;
}

.team-and-time-container .more-projects .project-more {
  width: 40%;
}

.team-and-time-container .more-projects .project-more .project-descr {
  width: 80%;
  margin: auto 2em;
}

.team-and-time-container .more-projects .project-more .project-descr h4 {
  font-size: 1.7rem;
  font-weight: 500;
}

.team-and-time-container .more-projects .project-more .project-descr .project-icons img {
  width: 2em;
  margin: 1em 0.5em 0 0;
}

@media screen and (max-width: 1280px) {
  .team-and-time-container .time-icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team-and-time-container .time-icons .time-icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 25%;
    margin: 1em;
    font-size: 1.8rem;
    min-height: 4em;
  }
  .team-and-time-container .time-icons .time-icon img {
    width: 20%;
    margin: 0.5em;
  }
  .team-and-time-container .time-icons .time-icon .num {
    margin: 0;
  }
  .team-and-time-container .team {
    width: 95%;
  }
  .team-and-time-container .team .team-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team-and-time-container .team .developers .person-card {
    width: 20%;
    margin: 1em;
  }
}

@media screen and (max-width: 1024px) {
  .team-and-time-container .time-icons {
    width: 95%;
  }
  .team-and-time-container .time-icons .time-icon {
    width: 30%;
    margin: 0.2em;
  }
  .team-and-time-container .more-projects .project-more {
    width: 40%;
  }
  .team-and-time-container .more-projects .project-more img {
    width: 45%;
  }
  .team-and-time-container .more-projects .project-more .project-descr {
    margin: auto 1em;
    font-size: 0.8rem;
  }
  .team-and-time-container .more-projects .project-more .project-descr h4 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .team-and-time-container .time-icons {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    background: #1e202a;
    border: 1px solid #707070;
  }
  .team-and-time-container .time-icons .time-icon {
    border: none;
    width: 20%;
    margin: 0;
  }
  .team-and-time-container .time-icons .time-icon img {
    width: 50%;
    margin: auto;
  }
  .team-and-time-container .time-icons .time-icon .num {
    margin: 0 0 0.5em;
  }
  .team-and-time-container .time-icons .time-icon .num h3 {
    margin: 0 0 .5em;
  }
  .team-and-time-container .time-icons .time-icon .num p {
    font-size: 0.5rem;
  }
  .team-and-time-container .time-icons .time-icon:last-child {
    width: 100%;
  }
  .team-and-time-container .team .team-container {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .team-and-time-container .team .team-container .person-card {
    width: 40%;
    margin: 1em 0;
  }
  .team-and-time-container .team .team-container .person-card h4 {
    width: 105%;
  }
  .team-and-time-container .team .team-container .person-card .person-icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .team-and-time-container .more-projects {
    display: none;
  }
}
/*# sourceMappingURL=works-details.css.map */