.h-fourth {
  margin: 5em auto 4em;
  max-width: 90em;
  .map {
    display: flex;
    #map-container {
      margin: auto;
      width: 80%;
      max-width: 40em;
    }
  }

  h5 {
    color: #fff;
    margin: auto;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .h-titles-w-b {
    margin: auto;
    text-align: center;

    hr {
      margin: 1em auto;
    }
  }

  .clients-feedback {
    @media screen and (min-width: 1000px) {
      width: 70%;
    }
    background: #fff;
    margin: 1.2em auto;

    img {
        height: 13vh;
        width: 10%;
        margin: 5em;
    }
    .feedback-txt {
      @media screen and (min-width: 600px) {
        width: 48%;
        margin: auto 0 auto;
      }
      p {
        font-style: italic;
        margin: 5em 0;
        font-size: 1.1rem;
      }
    }
    .row {
      .feedback-company-name {
        margin: 0 0 3em;
        color: #94959c;
        h5 {
          color: #94959c;
        }
        span {
          text-transform: uppercase;
        }
      }
    }
  }
  .client-feedback-arrows {
    background: $primary-background;
  }
}

@media screen and (max-width: 1024px) {
  .clients-feedback {
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  .clients-feedback {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .h-fourth {
    .map {
      overflow: hidden;
      #map-container {
        width: 115%;
        position: relative;
        right: 1em;
      }
    }
    .clients-feedback {
      width: 95%;
      img {
        width: 25%;
        height: auto;
        margin: 2em;
      }
      .feedback-txt {
        p {
          width: 90%;
          margin: auto;
        }
        .row {
          .feedback-company-name {
            margin: 1em;
          }
        }
      }
    }
  }
}
