.h-fifth {
  width: 90%;
  margin: auto;
  max-width: 90em;
  .h-titles-w-b {
    @media screen and (min-width: 600px) {
      width: 40%;
    }
    margin: 0 auto 2em;
    text-align: center;
    hr {
      margin: 1em auto;
    }
  }
  div {
    color: #ffffff;
    section {
      .fifth-txt-containers {
        div {
          svg {
            align-self: flex-end;
          }
          h3 {
            font-family: "roboto-bold";
            font-size: 1.2rem;
            text-transform: uppercase;
          }
        }
        p {
          width: 65%;
          @media screen and (min-width: 600px) {
            padding: 2em;
          }
        }
      }
    }
  }
  #fifth-svg {
    margin: auto;
    width: 80%;
  }
}


@media screen and (max-width: 600px) {
  .h-fifth {
    .h-titles-w-b {
      width: 90%;
      text-align: left;
      hr {
        margin: 1em 0;
      }
    }
    div {
      section {
        .fifth-txt-containers {
          div {
            flex-flow: wrap-reverse;
          }
          p {
            width: 80%;
            margin: 2em auto;
          }
        }
      }
    }
  }
  .team-w-ninjas-container {
    .people {
      flex-flow: wrap;
      .person-card {
        display: none;
        &:first-child,
        &:nth-child(2) {
          display: block;
        }
      }
      .arrow {
        width: 50%;
        margin: 2em auto;
      }
    }
    .btns {
      flex-flow: column;
      width: 100%;
      .join-btn,
      .hire-us-btn {
        width: 90%;
      }
    }
  }
}

// TEAM WITH NINJAS
// .team-w-ninjas-container{
//   margin: 5em auto;
//   width: 90%;
//   .ninjas{
//     margin: 4em auto;
//     .ninja{
//      width: 20%;
//     }
//   }
// }
