
// Shared styles adjustments

.tech-we-use{
    margin: 5em auto;
}

.team-w-ninjas-container{
    .ninjas{
        font-size: 90%;
        width: 90%;
        margin: 1em auto 4em;
        .ninja{
            min-width: 6em;
        }
    }
    .people{
        justify-content: center;
        .person-card{
            width: 15%;
        }
    }
}

@media screen and(max-width:1024px){
    .team-w-ninjas-container{
        .ninjas{
            .ninja{
                font-size: 1.2em;
                img{
                    width: 35%;
                    margin: auto 0.5em;
                }
                .num{
                    h3{
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media screen and(max-width:600px){
    .team-w-ninjas-container{
        .ninjas{
            .ninja{
                font-size: 1.2em;
                align-items: center;
            }
        }
    }
}