header {
  border: none;
}
.path-container {
  width: 80%;
  margin: 1em auto;
  .p-step {
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    border-radius: 25px;
    img {
      width: 50%;
    }
    .p-step-description {
      text-transform: uppercase;
      h3 {
        color: $secondary-color;
        margin: 1em 0;
      }
      p {
        width: 15em;
        text-align: center;
        color: #ffffff;
      }
    }
    border-bottom: 2px dashed $secondary-color;
    &:nth-child(even) {
      border-right: 2px dashed $secondary-color;
      border-top: 2px dashed $secondary-color;
      border-radius: 0px 25px 25px 0;
      margin: -2px auto;
      .p-step-description {
        margin: 3em 3em 0 0;
        h3 {
          text-align: end;
        }
      }
    }
    &:nth-child(odd) {
      margin: 0 5.1em 0 auto;
      border-top: 2px dashed $secondary-color;
      border-left: 2px dashed $secondary-color;
      border-radius: 25px 0 0 25px;
      .p-step-description {
        margin: 3em 0 0 3em;
      }
    }
    &:nth-child(1) {
      border-top: none;
    }
  }
  h2 {
    border-left: 2px dashed $secondary-color;
    border-radius: 25px 0 0 0;
    padding: 1em;
    margin: -3px 0.4em;
    border-top: 2px dashed $secondary-color;
    color: #ffffff;
    width: 15px;
  }
}

@media screen and (max-width:600px){
    .path-container{
        width: 85%;
        .p-step{
            img{
                width: 95%;
            }
            &:nth-child(even), &:nth-child(odd){
                border-bottom: none;
                border-top: none;
                border-radius: 25%;
            }
            &:nth-child(even){
                padding: 2em 0 0;   
                flex-flow: column-reverse;
                img{
                    padding: 0 1em 1em 0;
                }
                .p-step-description{
                    background: $primary-background;
                    margin: 0 -2em;
                    padding: 1em;
                    p{
                        width: auto;
                        text-align: right;
                        margin: 0;
                    }
                }
            }
            &:nth-child(odd){
                img{
                    padding: 2em 1em;
                }
                .p-step-description{
                    padding: 0 0 1em;
                    margin: 1em -1em;
                    background: $primary-background;
                    p{
                        text-align: left;
                    }
                }
            }
        }

        h2{
            border-top: none;
            border-radius: 60% 0;
        }
    }
}
