@import "../shared-styles/team-w-ninjas-container";

header{
  h1{
      min-width: 4em;
  }
}

.team-w-ninjas-container {
  margin: 3em auto;
  background: #1f1f27;
  .people {
    justify-content: space-around;
    flex-flow: wrap;
    .person-card {
      width: 15%;
      margin: 0 1em 1em;
    }
  }
  h3 {
    padding: 1em 0;
  }
  .ninjas {
    .ninja {
      width: 15%;
      .num {
        @media screen and(min-width:1024px) {
          h3 {
            font-size: 1rem;
            padding: 0 0 0.5em;
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .btns {
    margin: 2em auto;
  }
}

@media screen and(max-width:1024px) {
  .team-w-ninjas-container {
    width: 100%;
    .ninjas {
      .ninja {
        width: 20%;
        img {
          width: 30%;
        }
        .num {
          font-size: 1.5rem;
          h3 {
            padding: 0;
          }
        }
      }
    }
    .people {
      .person-card {
        width: 19%;
        margin: 0 0 1em;
      }
    }
    .btns {
      width: 50%;
      margin: 1em 0;
      .hire-us-btn,
      .join-btn {
        width: 50%;
      }
    }
  }
}
@media screen and(max-width:600px) {
  .team-w-ninjas-container {
    h3 {
      margin: 0;
      text-align: center;
      font-size: 1.6rem;
    }
    .people {
      flex-flow: wrap;
      .person-card {
        margin: 1em 0;
        display: block;
        width: 45%;
      }
    }
    .ninjas {
      width: 90%;
      margin: auto;
      .ninja {
        width: 25%;
        img {
          width: 3em;
        }
        .num {
          margin: 1em auto;
          h3 {
            padding: 0 0 0.4em;
          }
        }
      }
    }

    .btns {
      flex-flow: column;
      justify-content: center;
      width: 100%;
      .join-btn,
      .hire-us-btn {
        width: 80%;
        margin: 1em 0;
        align-self: center;
      }
    }
  }
}
