@import '../global/global';


.second{
    background: $primary-background;
    padding: 1em;
    .s-container{
        width: 90%;
        background: #fff;
        margin: auto;
        .s-title{
            text-align: center;
            padding: 1em;
            h3{
                font-size: 2.5em;
                margin: auto;
            }
            hr{
                border: 1px solid $secondary-color;
                background: $secondary-color;
                width: 10%;
                margin: 2em auto;
            }
        }
            .row{
                justify-content: space-around;
                padding: 1em;
           section.col{
               @media screen and (min-width: 698px) {
                width: 47%;
               
            }
               div{
                   transition: 0.3s ease-out;
                   padding: 2em;
                   border-left: 7px solid $secondary-color;
                   margin: 0.5em;
                   box-shadow: -1px 5px 14px -4px rgba(0,0,0,0.82);
                   p{
                    padding: 1em 0;
                   }
                   .location{
                       &::before{
                           content: url('./assets/icons/Shape.svg');
                       }
                   }
                   &:hover{
                    box-shadow: -1px 5px 14px 7px rgba(0,0,0,0.44);
                   }
               }
           
        }
    
        }
    }
}

@media screen and (max-width: 700px) {
    section.col{

        width: 100%;
    }
   
}