@import "../global/global";
.back {
  font-weight: 500;
  color: #ffffff;
  padding: 1em 0;
  svg {
    margin: 0 1em;
  }
  width: 75%;
  max-width: 79em;
  margin: auto;
  a{
  color: #ffffff;
  }
}

.current-position-container {
  background: #ffffff;
  width: 75%;
  max-width: 90em;
  margin: 0 auto 3em;
  justify-content: space-around;
  section {
    margin: 8em auto 5em;
    &:nth-child(odd) {
      width: 50%;
      .highlighted {
        width: 80%;
        margin: auto;
        border-left: 3px solid $secondary-color;
        padding: 0 0 0 1em;
        h1 {
          font-size: 2rem;
          font-weight: 500;
          letter-spacing: 2px;
          margin: 0 0 0.4em 0;
        }
        p {
          margin: 0.4em 0;
          letter-spacing: 1px;
        }
        .location {
          font-size: 0.7rem;
          color: #8f9bb3;
        }
      }
      ul {
        list-style-type: none;
        width: 80%;
        margin: 2em auto;
        h3 {
          margin: 1em 0;
          
        }
        li {
          margin: 0.3em;
          font-size: 0.9rem;
        }
      }
      .position-logos {
        justify-content: center;
        background: #f8f8f8;
        width: 80%;
        margin: auto;
        img {
          width: 2em;
          margin: 2em;
        }
      }
    }

    &:nth-child(even) {
      width: 35%;
      min-width: 15em;
      .location-descr {
        background: #fbfbfb;
        margin: 0 0 1em 0;
        h5 {
          font-weight: 100;
          border-left: 4px solid $secondary-color;
          padding: 0 0 0 1em;
          margin: 1em;
        }
      }
      #pic {
        margin: 3em 0 0;
        width: 100%;
      }
      div {
        margin: 1em 0;
        justify-content: space-between;
        img {
          width: 45%;
          max-height: 15em;
        }
      }
    }
  }
}

@media screen and(max-width:1024px) {
  .back{
    width: 90%;
  }
  .current-position-container {
    width: 90%;
    section {
      margin: 1em;
      &:nth-child(odd) {
        width: 70%;
        .position-logos {
          img {
            margin: 1em;
          }
        }
      }
    }
  }
}

@media screen and(max-width:600px) {
  .current-position-container {
    section {
      &:nth-child(odd) {
        width: 95%;
        margin: 3em 0 0;
        .highlighted {
          width: 95%;
          margin: 0;
          border-left: 10px solid $secondary-color;
          h1 {
            letter-spacing: 1px;
            font-weight: 100;
          }
        }
        .position-logos {
          flex-flow: row;
          img {
            width: 1.5em;
          }
        }
      }

      &:nth-child(even) {
        margin: 0;
        width: 100%;
        .location-descr {
          margin: 0;
        }
        #pic {
          margin: 1em 0;
        }
        .pics {
          background: $primary-background;
          margin: 0;
          div {
            flex-flow: row;
          }
        }
      }
    }
  }
}
