.e-com {
  #e-com-img {
    width: 30%;
  }
  .cloud-descr {
    h3 {
      color: #dd0d3d;
    }
    ul {
      list-style-type: none;
    }
    margin: 1em;
  }

  .cloud {
    background: #ffffff;
    width: 57%;
    display: flex;
    justify-content: space-around;
    padding: 2em;
    margin: 2em;
  }
  .left-clouds {
    width: 30%;
    #left-up-cloud {
      width: 15em;
      border-radius: 84px 90px 159px 170px;
    }
    #left-down-cloud {
      width: 16em;
      border-radius: 70px 88px 177px 100px;
    }
  }
  .right-clouds {
    width: 30%;
    #up-right-cloud {
      width: 14em;
      margin: 0 0 0 10em;
      border-radius: 88px 130px 124px 192px;
    }
    #middle-right-cloud {
      width: 10em;
      margin: -3em 0 0 0;
      border-radius: 529px 605px 389px 420px;
    }
    #down-right-cloud {
        width: 10em;
        margin: -2em 0 0 15em;
      border-radius: 529px 420px 605px 389px ;
    }
  }
}
