
.h-fourth {
  .map {
    #map-container {
      width: 100%;
    }
  }

  h5 {
    color: #fff;
    margin: auto;
    font-size: 1.2em;
  }

  .clients-feedback {
    @media screen and (min-width: 1000px) {
      width: 70%;
    }
    background: #fff;
    margin: 1.2em auto;

    img {
      @media screen and (min-width: 600px) {
        height: 13vh;
        width: 10%;
        margin: 5em;
      }
    }
    .feedback-txt {
      @media screen and (min-width: 600px) {
        width: 48%;
        margin: auto 0 auto;
      }
      p {
        font-style: italic;
        @media screen and (min-width: 600px) {
          margin: 6em 0;
        }
      }
    }
    .row {
      .feedback-company-name {
        @media screen and (min-width: 600px) {
            margin: 0 0 3em;
        }
        color: #94959c;
        h5 {
          color: #94959c;
        }
      }
    }
  }
  .client-feedback-arrows {
    background: $primary-background;
  }
}


@media screen and (max-width: 1000px) {
  .clients-feedback {
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  .clients-feedback {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .h-fourth {
    .clients-feedback {
      img {
        width: 25%;
        margin: 2em;
      }
      .row {
        .feedback-company-name {
          margin: 1em;
        }
      }
    }
  }
}
