@font-face {
  font-family: 'barow-regular';
  src: url("./assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: 'barow-bold';
  src: url("./assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: 'roboto-bold';
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype"), url("./assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: 'roboto-regular';
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("./assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto-regular', sans-serif;
  outline: none;
}

button {
  font-family: 'roboto-bold', sans-serif;
}

img {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'barow-bold', sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button:hover {
  cursor: pointer;
}

@font-face {
  font-family: 'barow-regular';
  src: url("./assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: 'barow-bold';
  src: url("./assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: 'roboto-bold';
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype"), url("./assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: 'roboto-regular';
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("./assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto-regular', sans-serif;
  outline: none;
}

button {
  font-family: 'roboto-bold', sans-serif;
}

img {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'barow-bold', sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button:hover {
  cursor: pointer;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1F1F27;
  font-family: 'roboto-bold', sans-serif;
  font-weight: bold;
  font-size: 1em;
  border-bottom: 1px solid #66DED1;
}

.navbar .left {
  margin: 0.5em 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 702px) {
  .navbar .left #mini-menu {
    display: none;
  }
}

@media screen and (min-width: 702px) {
  .navbar .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .right .links {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  .navbar .right .links a {
    text-decoration: none;
    margin: 1em;
    color: #fff;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .navbar .right .links a:hover {
    color: #66DED1;
  }
}

.navbar .hire-btn {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin: 1em;
  padding: 0 1.4em;
  background: transparent;
  color: #FF3564;
  border: 1px solid #606C84;
}

.navbar .hire-btn:hover {
  background: #FF3564;
  color: #fff;
  cursor: pointer;
}

.hidden-menu {
  background: #1F1F27;
  position: absolute;
  width: 100%;
  -webkit-transform: translate(0, -120%);
          transform: translate(0, -120%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.hidden-menu .col a {
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  text-align: center;
  margin: 0.2em auto;
  text-decoration: none;
  border-bottom: 1px solid #66DED1;
  width: 50%;
  padding: 0.2em;
}

.hidden-menu .col a:nth-child(5) {
  margin-bottom: 1em;
}

@media screen and (max-width: 700px) {
  #mini-menu {
    display: block;
    margin: 0 1em 0 0;
  }
  .links {
    display: none;
  }
}

@font-face {
  font-family: 'barow-regular';
  src: url("./assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: 'barow-bold';
  src: url("./assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: 'roboto-bold';
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype"), url("./assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: 'roboto-regular';
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("./assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto-regular', sans-serif;
  outline: none;
}

button {
  font-family: 'roboto-bold', sans-serif;
}

img {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'barow-bold', sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button:hover {
  cursor: pointer;
}

main {
  background: #2A2C39;
}

main .h-first {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .h-first .h-f-title {
  color: #ffffff;
  position: absolute;
  left: 20%;
  top: 35%;
  text-align: center;
}

main .h-first .h-f-title h1 {
  font-size: 6em;
  width: 100%;
  text-transform: uppercase;
}

main .h-first .h-f-title h4 {
  width: 60%;
  font-size: 1.4em;
  margin: auto;
  font-weight: 100;
}

main .h-first .h-f-title hr {
  height: 0.4em;
  width: 10%;
  margin: 1em auto;
  background: #CBB918;
  border: 1px solid #CBB918;
}

main .h-first svg {
  width: 100%;
}

main .h-first a {
  text-decoration: none;
  margin: auto;
  color: #66DED1;
  font-size: 1.3em;
}

#_wecan,
#_thebest,
#_awesome {
  fill: #4F515D;
}

@font-face {
  font-family: 'barow-regular';
  src: url("./assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: 'barow-bold';
  src: url("./assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: 'roboto-bold';
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype"), url("./assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: 'roboto-regular';
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("./assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto-regular', sans-serif;
  outline: none;
}

button {
  font-family: 'roboto-bold', sans-serif;
}

img {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'barow-bold', sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button:hover {
  cursor: pointer;
}

.h-second {
  color: #ffffff;
}

.h-second .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h-second .row section {
  width: 40%;
  padding: 2em;
}

.h-second .row section h3 {
  font-weight: 100;
  text-transform: uppercase;
  margin: 1em;
}

.h-second .row section:nth-child(1) {
  border-right: 2px solid #66DED1;
}

.h-second .row section:nth-child(1) h3 {
  text-align: right;
}

.h-second .row section .project {
  margin: 0 1em 2em 0;
}

.h-second .row section .project .project-img {
  height: 45vh;
}

.h-second .row section .project .github-rate {
  width: 15%;
  background: #1F1F27;
}

.h-second .row section .project .github-rate .gh-dets {
  padding: 1em 0;
  margin: 0 auto;
  width: 80%;
}

.h-second .row section .project .github-rate .gh-dets h4 {
  margin: 0.4em 0 0 0;
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
}

.h-second .row section .project .github-rate .gh-dets p {
  color: #8F8F93;
  text-align: center;
  font-size: 0.7em;
}

.h-second .row section .project .github-rate .gh-dets:nth-child(1) {
  border-bottom: 2px solid #8F8F93;
}

.h-second .row section .project .project-descr h4 {
  padding: 0.4em 0;
  font-size: 1.6em;
}

.h-second .row section .project .project-descr span i {
  font-size: 0.8em;
}

.h-second .row section .project .project-descr .project-type {
  list-style-type: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #7B7B81;
  margin: 1em 0;
}

.h-second .row section .project .project-descr .project-type li {
  padding: 0.4em;
  background: #23232E;
  margin: 0 1em 0 0;
  font-size: 0.7em;
}

.h-second .row section .project .project-descr .l-margin {
  margin: 0.4em;
}

.h-second .row section .project .project-descr .project-icons {
  width: 25%;
  margin: 0 0 0 1em;
}

.h-second .d-arr {
  width: 3em;
  margin: auto;
}

.h-second a {
  margin: 1em auto 0.4em;
  text-decoration: none;
  color: #fff;
  font-size: 1.6em;
}

.h-second #line {
  width: 13em;
  margin: auto;
}

@font-face {
  font-family: 'barow-regular';
  src: url("./assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: 'barow-bold';
  src: url("./assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: 'roboto-bold';
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype"), url("./assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: 'roboto-regular';
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("./assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto-regular', sans-serif;
  outline: none;
}

button {
  font-family: 'roboto-bold', sans-serif;
}

img {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'barow-bold', sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button:hover {
  cursor: pointer;
}

.h-third {
  margin: 6em 0 1em;
}

.h-third .nums {
  color: #ffffff;
  margin: 0 0 2em;
  font-size: 2em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: 'barow-bold';
}

.h-third .e-com {
  margin: auto;
}

@font-face {
  font-family: 'barow-regular';
  src: url("./assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: 'barow-bold';
  src: url("./assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: 'roboto-bold';
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype"), url("./assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: 'roboto-regular';
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("./assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto-regular', sans-serif;
  outline: none;
}

button {
  font-family: 'roboto-bold', sans-serif;
}

img {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'barow-bold', sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button:hover {
  cursor: pointer;
}

.h-fourth .map #map-container {
  width: 100%;
}

.h-fourth h5 {
  color: #fff;
  margin: auto;
  font-size: 1.2em;
}

.h-fourth .clients-feedback {
  width: 70%;
  background: #fff;
  margin: 1.2em auto;
}

.h-fourth .clients-feedback img {
  width: 10%;
  margin: 5em;
  height: 13vh;
}

.h-fourth .clients-feedback .feedback-txt {
  width: 48%;
  margin: auto 0 auto;
}

.h-fourth .clients-feedback .feedback-txt p {
  font-style: italic;
  margin: 6em 0;
}

.h-fourth .clients-feedback .row .feedback-company-name {
  margin: 0 0 3em;
  color: #94959C;
}

.h-fourth .clients-feedback .row .feedback-company-name h5 {
  color: #94959C;
}

.h-fourth .client-feedback-arrows {
  background: #2A2C39;
  width: 4em;
  height: 10vh;
  width: 15%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 0 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.h-fourth .client-feedback-arrows svg {
  margin: 2em 0;
}

.h-titles-w-b {
  color: #fff;
  text-align: center;
  margin: auto;
}

.h-titles-w-b h2 {
  font-weight: lighter;
  font-size: 2.5em;
}

.h-titles-w-b hr {
  background: #66DED1;
  border: 2px solid #66DED1;
  width: 40%;
  margin: 1em auto;
}

.h-titles-w-b p {
  font-size: 1.1em;
  margin: 1em 0 0.6em;
}

.h-titles-w-b span {
  color: #66DED1;
}

@font-face {
  font-family: 'barow-regular';
  src: url("./assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: 'barow-bold';
  src: url("./assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: 'roboto-bold';
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype"), url("./assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: 'roboto-regular';
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("./assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto-regular', sans-serif;
  outline: none;
}

button {
  font-family: 'roboto-bold', sans-serif;
}

img {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'barow-bold', sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button:hover {
  cursor: pointer;
}

.h-fifth .h-titles-w-b {
  width: 40%;
  margin: 0 auto 2em;
}

.h-fifth div {
  color: #ffffff;
}

.h-fifth div section .fifth-txt-containers div svg {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.h-fifth div section .fifth-txt-containers div h3 {
  font-family: 'roboto-bold';
  font-size: 1.2em;
  text-transform: uppercase;
}

.h-fifth div section .fifth-txt-containers p {
  width: 65%;
  padding: 2em;
}

.h-fifth #fifth-svg {
  margin: auto;
}

@font-face {
  font-family: 'barow-regular';
  src: url("./assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: 'barow-bold';
  src: url("./assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: 'roboto-bold';
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype"), url("./assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: 'roboto-regular';
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("./assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto-regular', sans-serif;
  outline: none;
}

button {
  font-family: 'roboto-bold', sans-serif;
}

img {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'barow-bold', sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button:hover {
  cursor: pointer;
}

.h-sixth {
  color: #ffffff;
  padding: 1em 9em;
}

.h-sixth .h-titles-w-b {
  margin: 0;
}

.h-sixth .h-titles-w-b h2 {
  text-align: left;
}

.h-sixth .h-titles-w-b hr {
  margin: 1.5em 0;
  width: 20%;
}

.h-sixth .list-wrapper {
  margin: 1em 1em 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.h-sixth .list-wrapper .list-columns h5 {
  color: #66DED1;
  text-transform: uppercase;
  font-size: 1em;
}

.h-sixth .list-wrapper .list-columns ul {
  list-style-type: none;
  margin: 1em 0;
}

.h-sixth .list-wrapper .list-columns:nth-child(1) ul:nth-child(2) {
  border-bottom: 1px solid #66DED1;
  padding: 0 0 1em;
}

.h-sixth .list-wrapper img {
  width: 35%;
}

.h-sixth span {
  font-style: italic;
}

.h-sixth .hashtags {
  margin: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h-sixth .hashtags svg {
  margin: 0 3.5em 0  0;
}

.h-sixth .hashtags #_modern, .h-sixth .hashtags #_ninja, .h-sixth .hashtags #_webheroes {
  fill: #4F515D;
}

@font-face {
  font-family: 'barow-regular';
  src: url("./assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: 'barow-bold';
  src: url("./assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: 'roboto-bold';
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype"), url("./assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: 'roboto-regular';
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("./assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto-regular', sans-serif;
  outline: none;
}

button {
  font-family: 'roboto-bold', sans-serif;
}

img {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'barow-bold', sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button:hover {
  cursor: pointer;
}

.h-seventh {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3em;
}

.h-seventh .seventh-txt-container {
  color: #ffffff;
  width: 35%;
}

.h-seventh .seventh-txt-container .h-titles-w-b {
  margin: 2em 0;
}

.h-seventh .seventh-txt-container .h-titles-w-b h2 {
  text-align: left;
}

.h-seventh .seventh-txt-container .h-titles-w-b hr {
  margin: 0;
  width: 30%;
  margin: 1em 0 0 0;
}

.h-seventh .seventh-txt-container p {
  margin: 1em 0;
}

.h-seventh .seventh-txt-container .join-btn {
  margin: 1em 0 0 0;
}

.join-btn {
  width: 40%;
  padding: 1em;
  text-transform: uppercase;
  background: #66DED1;
  border: 1px solid #66DED1;
  border-radius: 2px;
}

@font-face {
  font-family: 'barow-regular';
  src: url("./assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: 'barow-bold';
  src: url("./assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: 'roboto-bold';
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype"), url("./assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: 'roboto-regular';
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("./assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto-regular', sans-serif;
  outline: none;
}

button {
  font-family: 'roboto-bold', sans-serif;
}

img {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'barow-bold', sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button:hover {
  cursor: pointer;
}

.h-eight {
  color: #ffffff;
  padding: 0 3em 3em;
}

.h-eight h3 {
  margin: 0 2em 1em 5em;
}

.h-eight .ninjas {
  margin: 1em 0 4em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.h-eight .ninjas .ninja {
  background: #1E202A;
  border: 1px solid #707070;
}

.h-eight .ninjas .ninja img {
  width: 30%;
  padding: 0.5em 1em;
}

.h-eight .ninjas .ninja .num {
  width: 65%;
  margin: auto;
  text-align: center;
}

.h-eight .ninjas .ninja .num h1 {
  font-style: 1.2em;
}

.h-eight .ninjas .ninja .num p {
  font-size: 0.6em;
}

.h-eight .people .person-card {
  width: 20%;
  margin: 1em;
}

.h-eight .people .person-card h4,
.h-eight .people .person-card h5 {
  font-weight: 100;
}

.h-eight .people .person-card h4 {
  padding: 1em 0 0.4em;
}

.h-eight .people .arrow {
  margin: 6em 0 auto;
}

.h-eight .btns {
  margin: 1em 0;
}

.h-eight .btns .join-btn, .h-eight .btns .hire-us-btn {
  width: 20%;
  margin: 1em;
}

.h-eight .btns .hire-us-btn {
  background: #DD0D3D;
  color: #ffffff;
  border: 1px solid #DD0D3D;
  border-radius: 2px;
  text-transform: uppercase;
}

@font-face {
  font-family: 'barow-regular';
  src: url("./assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: 'barow-bold';
  src: url("./assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: 'roboto-bold';
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype"), url("./assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: 'roboto-regular';
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("./assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto-regular', sans-serif;
  outline: none;
}

button {
  font-family: 'roboto-bold', sans-serif;
}

img {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'barow-bold', sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button:hover {
  cursor: pointer;
}

.h-nineth {
  color: #ffffff;
  padding: 0 0 0 10em;
}

.h-nineth .h-nineth-txt-container {
  padding: 2em;
  background: #474B5E;
  height: 55vh;
}

.h-nineth .h-nineth-txt-container h1,
.h-nineth .h-nineth-txt-container h3 {
  font-family: 'roboto';
  font-weight: 500;
}

.h-nineth .h-nineth-txt-container .red-contact {
  color: #DD0D3D;
  font-size: 2em;
}

.h-nineth .h-nineth-txt-container h3:nth-child(3) {
  border-bottom: 2px solid #8F9BB3;
  width: 5%;
}

.h-nineth .contact-form {
  width: 30%;
  margin: -24em 0 0 39em;
  background: #ffffff;
  padding: 5em 2.5em;
  font-weight: bold;
}

.h-nineth .contact-form label {
  font-size: 1.2em;
  color: black;
}

.h-nineth .contact-form select,
.h-nineth .contact-form input {
  color: #A9AAAF;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  padding: 0.4em;
  margin: 0.5em 0;
}

.h-nineth .contact-form textarea {
  resize: none;
  margin: 1em 0 0 0;
}

.h-nineth .contact-form textarea::-webkit-input-placeholder {
  text-align: center;
}

.h-nineth .contact-form textarea:-ms-input-placeholder {
  text-align: center;
}

.h-nineth .contact-form textarea::-ms-input-placeholder {
  text-align: center;
}

.h-nineth .contact-form textarea::placeholder {
  text-align: center;
}

.h-nineth .contact-form .send-msg-btn {
  width: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 2em 0 0 0;
  text-transform: uppercase;
  padding: 1em;
  color: #ffffff;
  background: #DD0D3D;
  border: 1px solid #DD0D3D;
  border-radius: 2px;
}

@font-face {
  font-family: 'barow-regular';
  src: url("./assets/fonts/barlow-semi-condensed.regular.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.regular.woff") format("woff");
}

@font-face {
  font-family: 'barow-bold';
  src: url("./assets/fonts/barlow-semi-condensed.bold.ttf") format("truetype"), url("./assets/fonts/barlow-semi-condensed.bold.woff") format("woff");
}

@font-face {
  font-family: 'roboto-bold';
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype"), url("./assets/fonts/Roboto-Bold_1.woff") format("woff");
}

@font-face {
  font-family: 'roboto-regular';
  src: url("./assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("./assets/fonts/RobotoCondensed-Regular.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto-regular', sans-serif;
  outline: none;
}

button {
  font-family: 'roboto-bold', sans-serif;
}

img {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'barow-bold', sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (max-width: 600px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

button:hover {
  cursor: pointer;
}

footer {
  background: #2A2C39;
}

footer .e-t {
  color: #82848F;
}

footer .network-buttons {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #40414C;
  padding: 3em;
  margin: 2em 0;
}

footer .network-buttons .link-buttons {
  text-decoration: none;
  color: #ffffff;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}

@media screen and (min-width: 698px) {
  footer .network-buttons .link-buttons {
    width: 10%;
    margin: 1em;
  }
}

footer .network-buttons .link-buttons svg {
  padding: 0 0.5em 0 0;
}

footer .network-buttons .link-buttons p {
  margin: auto;
}

footer .footer-menu {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  border-bottom: 1px solid #40414C;
  margin: 1em;
}

footer .footer-menu div a {
  text-decoration: none;
  color: #D4D4D7;
  margin: 1em;
  font-size: 1.5em;
}

footer .footer-menu div ul {
  padding: 1em;
  color: #A9AAAF;
}

footer .bottom {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em;
}

footer .bottom h5,
footer .bottom a {
  color: #82848F;
  font-size: 1em;
}

.github,
.twitter {
  background: #55ABEE;
}

.facebook {
  background: #3B5997;
}

.up {
  background: #00E034;
}

.linkedin {
  background: #2967B2;
}

@media screen and (max-width: 1000px) {
  .network-buttons .link-buttons svg {
    margin: auto;
  }
  .network-buttons .link-buttons p {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .e-t {
    padding: 1em 0 0 0px;
    text-align: center;
    text-transform: uppercase;
  }
  .network-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .network-buttons .link-buttons {
    width: 15%;
    margin: 0.4em;
  }
  .network-buttons .link-buttons svg {
    margin: auto;
  }
  .footer-menu div {
    margin: auto;
    text-align: center;
  }
  .bottom svg {
    margin: auto;
    padding: 1em;
  }
}
/*# sourceMappingURL=main.css.map */