.team-and-time-container {
  margin: 5em auto 0;
  .h-titles-w-b {
    width: 90%;
    margin: 2em auto;
    h2 {
      text-align: center;
      margin: 0 0 0.4em;
    }
    hr {
      margin: auto;
      width: 15%;
    }
  }
  color: #ffffff;
  .time-icons {
    width: 90%;
    max-width: 90em;
    justify-content: center;
    margin: auto;
    .time-icon {
      background: #1e202a;
      border: 1px solid #707070;
      margin: auto 1em;
      width: 12em;
      align-items: center;
      min-height: 6em;
      .num {
        h3 {
          font-size: 1.3rem;
        }
        p {
          font-size: 1.1rem;
        }
        width: 50%;
        text-align: center;
      }
      img {
        margin: auto 1em;
        width: 3em;
      }
      &:last-child {
        background: transparent;
      }
      .time-descr-block {
        text-align: center;
        margin: auto 1em;
        h3 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }

  .team {
    align-items: center;
    width: 90%;
    max-width: 90em;
    margin: auto;
    .team-container {
      justify-content: center;
      .person-card {
        width: 30%;
        margin: 0 2em;
        h4,
        h5 {
          font-weight: 500;
        }
        h4 {
          margin: 0.5em 0 0;
        }
        .person-icons {
          margin: 0.8em 0 0;
          a {
            margin: 0 0.5em 0 0;
          }
        }
      }
    }
    .developers {
      .person-card {
        margin: 0 0.5em;
      }
    }
  }
  .hire-us-btn {
    margin: 4em auto 1em;
    width: 15em;
    font-size: 1.2rem;
  }
  a {
    color: $secondary-color;
    font-size: 1.25rem;
  }
  .more-projects {
    background: #1e202a;
    justify-content: space-between;
    margin: 2em 0;
    .project-more {
      width: 40%;
      .project-descr {
        width: 80%;
        margin: auto 2em;
        h4 {
          font-size: 1.7rem;
          font-weight: 500;
        }
        .project-icons {
          img {
            width: 2em;
            margin: 1em 0.5em 0 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .team-and-time-container {
    .time-icons {
      flex-wrap: wrap;
      .time-icon {
        justify-content: center;
        width: 25%;
        margin: 1em;
        font-size: 1.8rem;
        min-height: 4em;
        img {
          width: 20%;
          margin: 0.5em;
        }
        .num {
          margin: 0;
        }
      }
    }
    .team {
      width: 95%;
      .team-container {
        flex-wrap: wrap;
      }
      .developers {
        .person-card {
          width: 20%;
          margin: 1em;
        }
      }
    }
  }
}

@media screen and(max-width:1024px) {
  .team-and-time-container {
    .time-icons {
      width: 95%;
      .time-icon {
        width: 30%;
        margin: 0.2em;
      }
    }
    .more-projects {
      .project-more {
        width: 40%;
        img {
          width: 45%;
        }
        .project-descr {
          margin: auto 1em;
          h4 {
            font-size: 1.2rem;
          }
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and(max-width:600px) {
  .team-and-time-container {
    .time-icons {
      flex-flow: wrap;
      background: #1e202a;
      border: 1px solid #707070;
      .time-icon {
        border: none;
        width: 20%;
        margin: 0;
        img {
          width: 50%;
          margin: auto;
        }
        .num {
          margin: 0 0 0.5em;
          h3 {
            margin: 0 0 .5em;
          }
          p {
            font-size: 0.5rem;
          }
        }
        &:last-child {
          width: 100%;
        }
      }
    }
    .team {
      .team-container {
        flex-flow: wrap;
        justify-content: space-evenly;
        .person-card {
          width: 40%;
          margin: 1em 0;
          h4 {
            width: 105%;
          }
          .person-icons {
            flex-flow: row;
          }
        }
      }
    }
    .more-projects{
      display: none;
    }
  }
}

