@import "../../mixins/ie-mixin";
.tech-stack {
  color: #ffffff;
  width: 80%;
  max-width: 80em;
  margin: 8em auto;
  font-size: 1.1rem;
  .h-titles-w-b {
    @media screen and (min-width: 1280px) {
      margin: 4em 2em;
    }
    h2 {
      @media screen and (min-width: 1280px) {
        font-size: 2.5rem;
      }
      padding: 0 0 0.5em;
    }
    hr {
      width: 23%;
    }
  }
  .list-wrapper {
   
    @media screen and (min-width: 600px) {
      @include ie{
        justify-content: space-around;
      }
      justify-content: space-evenly;
    }
  
    img {
      @media screen and (min-width: 1280px) {
        width: 40%;
      }
      @media screen and (min-width: 600px) {
        margin: -8em 0 0 0;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .tech-stack {
    .h-titles-w-b {
      margin: 4em 4em 0 4em;
      h2 {
        font-size: 2.5rem;
      }
    }

    .list-wrapper {
      img {
        margin: auto;
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .tech-stack {
    .h-titles-w-b {
      margin: 0;
      h2 {
        font-size: 2rem;
      }
      hr {
        width: 50%;
      }
    }
    .list-wrapper {
      justify-content: space-between;
      .list-columns {
        ul {
          list-style-type: none;
          margin: 1em 0;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}
