main{
  padding: 1em 0 0 0;
}

.back{
  font-weight: 500;
  padding: 1em 2em;
  svg {
    margin: 0 1em;
  }
  width: 80%;
  max-width: 70em;
  margin: auto;
  a{
    text-decoration: none;
    color: #ffffff;

  }
}
.works-descr-top-container {
  width: 80%;
  max-width: 80em;
  margin: auto;
  background: #ffffff;

  .top {
      flex-flow: row-reverse;
    justify-content: space-between;
    h1 {
      font-weight: 100;
      margin: 1em;
        font-size: 3rem;
        width: 60%;
      }
    .github-rate {
        width: 5%;
        margin: 2em 0;
        .gh-dets{
          h4{
            margin: -0.5em 0 0 0;
            font-size: 1rem;
          }
          p{
            font-size: 0.5rem;
          }
        }
    }
  }
  picture {
    width: 90%;
    margin: auto;
  }
  .top-descr {
    width: 90%;
    margin: 3em auto;
    .top-descr-txt {
      width: 40%;
      font-size: 1.15rem;

      margin: auto;
      h3 {
        font-style: italic;
        font-weight: 100;
        margin: 0 0 2em 0;
      }
      p {
        margin: 1.2em 0;
        font-size: 0.8rem;
        }
      div {
        margin: 3em 0 0;
        justify-content: space-between;
      }
     
    }
 
    .image-w-arrows {
      width: 50%;
      img {
        width: 100%;
        margin: 0;
      }
      
      .client-feedback-arrows {
        background: #ffffff;
        width: 30%;
        margin: -2em -10em;
        svg {
          #arrow {
            fill: #0d1c2e;
          }
        }
      }
    }
  }
  .gh-icon-top {
    width: 80%;
      
    svg{
      width: 3em;
    }
    a{
      margin: 1em 0;
      svg{
        width: auto;
      }
    }
    margin: -4em auto 5em;
  }
}


@media screen and(max-width:1280px){
  .works-descr-top-container{
    .top-descr{
      .image-w-arrows{
        img{
          margin: auto 0;
        }
        .client-feedback-arrows{
          margin: auto -5em 0;
        }
      }
    }
  }
}

@media screen and(max-width:1000px){
  .works-descr-top-container{
    .top-descr{
      .image-w-arrows{
        .client-feedback-arrows{
          margin: auto -5em 6em;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .back {
    display: none;
  }
  .works-descr-top-container {
    .top {
      flex-flow: column;
      h1{
        font-size: 1.8rem;
        width: 85%;
      }
      .github-rate {
        width: fit-content;
        flex-flow: row;
        margin: 0;
        .gh-dets {
          margin: 1em;
          &:nth-child(1) {
            padding-right: 1em;
            border-right: 2px solid #4c4c52;
          }
        }
      }
    }
    picture {
      width: 95%;
      margin: auto;
      img{
        width: 100%;
      }
    }
    .top-descr {
      .top-descr-txt{
        width: 90%;
        p{
          font-size: 1rem;
        }
      }
    h1 {
      width: 75%;
      font-size: 2rem;
    }
    .image-w-arrows{
      width: 100%;
      margin: auto;
      img{
        width: 90%;
        margin: auto;
      }
      .client-feedback-arrows{
        width: 35%;
        margin: -3em 0 0;
      }
    }
  }
  }

  .gh-icon-top{
    width: 100%;
    svg{
      width: 15%;
      margin: 3em auto 0;
    }
    a{
      text-align: center;
    }
  }
  .yellow-link, .red-link{
    font-size: 1.5rem;
  }
}

