main {
  padding: 1em 0 0 0;
}

.back {
  font-weight: 500;
  padding: 1em 2em;
  svg {
    margin: 0 1em;
  }
  width: 80%;
  max-width: 70em;
  margin: auto;
  a {
    text-decoration: none;
    color: #ffffff;
  }
}
.works-descr-top-container {
  width: 80%;
  max-width: 80em;
  margin: auto;
  background: #ffffff;

  .top {
    flex-flow: row-reverse;
    justify-content: space-between;
    h1 {
      font-weight: 100;
      margin: 1em;
      font-size: 3rem;
      width: 60%;
    }
    .github-rate {
      width: 5%;
      min-width: 3em;
      margin: 2em 0;
      .gh-dets {
        h4 {
          margin: -0.5em 0 0 0;
          font-size: 1rem;
        }
        p {
          font-size: 0.5rem;
        }
      }
    }
  }
  picture {
    width: 90%;
    margin: auto;
  }
  .top-descr {
    width: 90%;
    margin: 3em auto;
    .top-descr-txt {
      width: 40%;
      font-size: 1.15rem;

      margin: auto;
      h3 {
        font-style: italic;
        font-weight: 100;
        margin: 0 0 2em 0;
      }
      p {
        margin: 1.2em 0;
        font-size: 0.8rem;
      }
      div {
        margin: 3em 0 0;
        justify-content: space-between;
      }
    }

    .image-w-arrows {
      width: 50%;
      img {
        width: 100%;
        margin: 0;
      }

      .client-feedback-arrows {
        background: #ffffff;
        width: 30%;
        margin: -2em -10em;
        svg {
          #arrow {
            fill: #0d1c2e;
          }
        }
      }
    }
  }
  .gh-icon-top {
    width: fit-content;
    margin: -8em 8em 8em;
    // background: #2A2C39;

    h5 {
      text-transform: uppercase;
      font-size: 1rem;
      margin: auto 1em auto 0.2em;
    }
    svg {
      margin: 1em 0;
      background: #ffffff;
      width: 12em;
      margin: 1em;
      transition: all 1s;
      #github-icon {
        transform: translate(190px, 0);
        transition: all 1s ease-out;
      }
      #visit-txt {
        transform-origin: center center;
        transition: all 0.4s ease-out;
        transform: translate(150px, 0);

      }
      #first-git-arrow,
      #second-git-arrow,
      #third-git-arrow {
        transform: scale(0.28) translate(310px, 22px);
        transition: transform 1.3s;
        opacity: 0;
      }

      &:hover {
        #github-icon {
          animation: git-bounce 1s 1 ease-out forwards;
          transform: translate(585px, 0);
        }
        #visit-txt {
          transition: all 0.5s;
          transform: translate(900px, 0);
        }
        #first-git-arrow {
          transform: scale(0.28) translate(1400px, 0);
        }
        #second-git-arrow {
          transform: scale(0.2) translate(2200px, 80px);
        }
        #third-git-arrow {
          transform: scale(0.15) translate(3200px, 200px);
        }
        #first-git-arrow,
        #second-git-arrow,
        #third-git-arrow {
          opacity: 1;
        }
      }
    }
    &:hover ~ #underline {
      animation: none;
      opacity: 0;
      transition: opacity 0.5s;
    }
  }
  #underline {
    opacity: 1;
    width: 6em;
    margin: -10em 0 9em 13em;

    transition: width 1s;

  }
  .yellow{
    border: 1px solid #d2bd2e;
    background-color: #d2bd2e;
  }
  .red{
    border: 1px solid #DD0D3D;
    background-color: #DD0D3D;
  }
}
@keyframes git-bounce {
  0% {
    transform: translate(190px, 0);
  }
  10% {
    transform: translate(290px, 0);
  }
  20% {
    transform: translate(390px, 0);
  }
  30% {
    transform: translate(490px, 0);
  }
  40% {
    transform: translate(585px, 0) scale(1.1);
  }
  60% {
    transform: translate(520px, 0);
  }
  70% {
    transform: translate(585px, 0);
  }
  80% {
    transform: translate(560px, 0) scale(1.2);
  }

  100% {
    transform: translate(585px, 0);
  }
}

@media screen and (max-width:1500px){
  .works-descr-top-container{
    .gh-icon-top{
      margin: -4em 8em 4em;
    }
    #underline{
      margin: -6em 0 9em 12.5em;
    }
  }
}

@media screen and(max-width:1280px) {
  .works-descr-top-container {
    .top-descr {
      .image-w-arrows {
        img {
          margin: auto 0;
        }
        .client-feedback-arrows {
          margin: auto -5em 0;
        }
      }
    }
  }
  .gh-icon-top{
 margin: -2em 4em 0em;;
  }
  #underline{
    margin: -2em 0 2em 8.5em;
  }
}

@media screen and(max-width:1000px) {
  .works-descr-top-container {
    .top-descr {
      .image-w-arrows {
        .client-feedback-arrows {
          margin: auto -5em 6em;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .back {
    display: none;
  }
  .works-descr-top-container {
    width: 95%;
    .top {
      flex-flow: column;
      h1 {
        font-size: 1.8rem;
        width: 85%;
      }
      .github-rate {
        width: fit-content;
        flex-flow: row;
        margin: 0;
        .gh-dets {
          margin: 1em;
          &:nth-child(1) {
            padding-right: 1em;
            border-right: 2px solid #4c4c52;
          }
        }
      }
    }
    picture {
      width: 95%;
      margin: auto;
      img {
        width: 100%;
      }
    }
    .top-descr {
      .top-descr-txt {
        width: 90%;
        p {
          font-size: 1rem;
        }
      }
      h1 {
        width: 75%;
        font-size: 2rem;
      }
      .image-w-arrows {
        width: 100%;
        margin: auto;
        img {
          width: 90%;
          margin: auto;
        }
        .client-feedback-arrows {
          width: 35%;
          margin: -3em 0 0;
        }
      }
    }
    .gh-icon-top{
      margin: -8em 4em 0em;
      svg{
        width: 25em;

      }
    }
    #underline{
      display: none;
    }
   
  }

  .yellow-link,
  .red-link {
    font-size: 1.5rem;
  }
}
