@import "./clouds";
@import '../mixins/ie-mixin';
.e-commerce-container {
  width: 90%;
  margin: auto;
  max-width: 90em;
  .h-titles-w-b {
    width: fit-content;
    margin: 3em auto 0;
    hr {
      margin: auto;
    }
  }
  .nums {
    color: #ffffff;
    @media screen and (min-width: 1280px) {
      margin: 0 0 2em;
    }
    font-size: 2em;
    justify-content: space-evenly;
    @include ie{
      justify-content: space-around;
    }
    font-family: "barow-bold";
  }
}

.e-com {
  .e-com-img {
    @media screen and(min-width:1280px) and(max-width:1590px) {
      width: 30em;
    }
  }
}

@media screen and (max-width: 600px) {
  .e-commerce-container {
    .nums {
      font-size: 0.8em;
      flex-flow: row;
      h2 {
        margin: 0.5em auto;
      }
    }
  }
}
