
.list-wrapper {
  margin: 1em 1em 0;
  .list-columns {
    h5 {
      color: $secondary-color;
      text-transform: uppercase;
      font-size: 1rem;
    }

    ul {
      list-style-type: none;
      margin: 1em 0;
    }
  }
  @media screen and(max-width:600px) {
    flex-flow: wrap;
  }
}

.tech-we-use{
  color: #ffffff;
  background: transparent;
  width: 80%;
  max-width: 90em;
  margin: 5em auto;
  .h-titles-w-b {
    margin: 0;

    h2 {
      text-align: left;
    }

    hr {
      margin: 1.5em 0;
      width: 20%;
    }
  }

.tech-wrapper{
  img{
    width: 50%;
    margin: -10em 0 0 0;
  }
  .list-wrapper {
    @media screen and (min-width: 1280px) {
    justify-content: space-between;
    }
    width: 45%;
    .list-columns{
      width: fit-content;
    }
      &:nth-child(1) {
        ul {
          &:nth-child(2) {
            border-bottom: 1px solid $secondary-color;
            padding: 0 0 1em;
          }
        }
      }
    }
}
  p {
    font-style: italic;
  }
  .hashtags {
    margin: 0.5em 0;
    svg {
      margin: 0 3.5em 0 0;
    }
    #_modern,
    #_ninja,
    #_webheroes {
      fill: #4f515d;
    }
    display: flex;
    justify-content: center;
  }
}


@media screen and (max-width: 1280px) {
  .tech-we-use {
    .list-wrapper {
      .list-columns {
        margin: 1em;
      }
      img {
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .tech-we-use {
    width: 90%;
    .tech-wrapper{
    .list-wrapper {
      margin: 0;
      width: 70%;
      flex-flow: wrap;
      margin: 0 -5em 0 0;
      .list-columns{
        width: fit-content;
        margin: 0 auto;
      }
  
    }
    img {
      width: 45%;
      margin: 6em 0 0 -2em;
    }
  }
}
}



@media screen and (max-width: 600px) {
  .tech-we-use {
    width: 95%;
    margin: auto;
    .h-titles-w-b{
        hr{
            width: 70%;
        }
    }
    .tech-wrapper{
    .list-wrapper {
      width: 95%;
      .list-columns{
        width: 35%;
      }
  
    }
      img {
        margin: -5em auto 0;
        width: 88%;
    }
      }
  
    p{
      text-align: center;
      width: 80%;
      font-size: 1.2rem;
      margin: 2em auto 0;
    }

    .hashtags{
      svg{
        margin: 0 1em;
      }
    }
  }
}
