.text-center{
    text-align: center;
}
.flex-center{
    justify-content: center;
}
.flex-between{
    justify-content: space-between;
}
.flex-around{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}