.ever-container-b {
  margin: auto !important;
  max-width: 80rem;
}
@media(max-width:1024px){
  .ever-container-b, .ever-container-sm{
    width: 80%;
  }
}
@media (max-width:600px){
  .ever-container-b, .ever-container-sm{
    width: 90%;
  }
}
.ever-container-sm {
  max-width: 75rem;
  margin: auto;
}
.ever-container-s {
  max-width: 70rem;
  margin: auto;
}
.ever-container-b .entry-header {
  display: block;
}

.ever-container-b header {
  width: 100%;
}

.navbar-container {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: inherit;
}
@media (min-width: 1100px) {
  .navbar-container {
    width: 90%;
  }
}

.footer-container {
  width: 90em;
  margin: auto;
}

/* Section with reversed articles */
