.e-row {
  display: flex !important;
}
.e-row-wrap{
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .e-row {
    flex-wrap: wrap;
    max-width: 100%;
  }
}
.e-col {
  display: flex;
  flex-flow: column;
}

/* To remove: */
.ever-row {
  display: flex;
}
  
.ever-col {
  padding-right: 0.5em;
}