

body{
    --main-blue: #173A56;
    --dark-blue: #071627;
    /* --white: #fff; */
    --red-color: #CA002D;
}
body.light-mode{
    /* used */
    --gauzy-main-color: #1B005D;
    --gauzy-main-color-reverse: #fff;
    --gauzy-main-color-s: #1B005D;
    --gauzy-secondary-color: #140C8E;
    --gauzy-secondary-color-s: #140C8E;
    --gauzy-secondary-color-reverse: #fff;
    --gauzy-details-color: #071627;
    --gauzy-opacity-details-color: rgba(7, 22, 39, .8);

    --warning-color: var(--red-color);

    --details-color: #647b8e;
    --details-color-s: #647b8e;
    --details-secondary: #a4a2a2;

    --main-color: var(--main-blue);
    --main-color-reverse: var(--white);

    /* --footer-bold-color: #173A56; */
    /* --footer-color: var(--main-blue); */
    --footer-svgs-color: #6F8699;
    --footer-switch-field: #C2CED9;
    --footer-switch-icon: #C2CED9;

    /* unused */
    /* --main-color-rgb: 23,58,86;
    --container-background: #f9fbfd;
    --container-btns-background: var(--white);
    --secondary-brand-color:#BCD0E5;
    --tertiary-color: #140C8E;
    --main-header-color: #3d5a72;
    --main-descr-color: rgb(139, 156, 170);
    --warning-color:#CF5D34;
    --hidden-menu-color: var(--white);
    --white-transparent: var(--white);
    --massage-main-color: #F78299;
     --massage-main-color-s: #F78299;
    --massage-details-color: #585858;
    --cleaning-color: #E77700;
    --restaurants-main-color: #ED4B49;
    --restaurants-main-c-s: #ED4B49;
    --s-v-footer-color: #020508;
    --beauty-main-color: #AD8D47;
    --beauty-main-color-reverse: #fff;
    --beauty-main-color-s: #AD8D47;
    --beauty-color-b:#6199FF;
    --grocery-main-color: #9C7441; */

   
    
}
body.dark-mode{
    /* used */
    --gauzy-main-color: #fff;
    --gauzy-main-color-reverse: #1B005D;
    --gauzy-main-color-s: #1B005D;
    --gauzy-secondary-color: #ffffff;
    --gauzy-secondary-color-s: #140C8E;
    --gauzy-secondary-color-reverse: #140C8E;
    --gauzy-details-color: #ffffff;
    --gauzy-opacity-details-color: rgba(255,255,255,.8);

    --warning-color: #fff;

    --details-color: #fff;
    --details-color-s: #647b8e;
    --details-secondary: #ffffff;

    --main-color: var(--white);
    --main-color-reverse: var(--main-blue);

    /* --footer-bold-color:#d4d4d7; */
    /* --footer-color: #A9AAAF; */
    --footer-svgs-color: #D8DEE2;
    --footer-switch-field: #6A7C90;
    --footer-switch-icon: #C2CED9;
    /* unused */
    /* --main-color-rgb: 255,255,255;
    --container-background: #051223;
    --container-btns-background: #051223;
    --secondary-brand-color:var(--white);
	--tertiary-color: var(--white);
	--main-header-color: var(--white);
	--main-descr-color: rgba(255, 255, 255, .5);
	--warning-color: var(--white);
    --hidden-menu-color: #071627;
   
    --white-transparent: transparent;
   
    --massage-main-color: #FFF;
     --massage-main-color-s: #D87F6B;
    --massage-details-color: #FFF;
    --cleaning-color: #FFDD00;
    --restaurants-main-color: #fff;
    --restaurants-main-c-s: #ED4B49;
    --s-v-footer-color: #fff;
    --beauty-main-color: #fff;
    --beauty-main-color-reverse: #AD8D47;
    --beauty-main-color-s: #AD8D47;
    --beauty-color-b:#6199FF;
    --grocery-main-color: #fff; */

   
}

/* .massage{
    --svg-fill-1: #FE9A8B;
    --svg-fill-2: #FD868C;
    --svg-fill-3: #F9748F;
    --svg-fill-4: #F78CA0;
}
.cleaning, .single-business-verticlas{
    --svg-fill-t-1: #e77700;
    --svg-fill-t-2: #fd0;
}
.cleaning.dark-mode, .single-business-verticlas.dark-mode{
    --svg-fill-t-1: #e9e9ff;
    --svg-fill-t-2: #23255f;
} */

