
.h-m-open{
    top: 90%;
   width: 100%;
   right: 0;
}
 #mobile-menu{
    width: 100%;
    overflow: hidden;
}
.h-m-close{
    width: 0%;
    
}
.h-m-open   #mobile-menu .menu-item {
    opacity: 1;
}