

body{
    --main-blue: #173A56;
    --dark-blue: #071627;
    --white: #fff;
}
body.light-mode{
    --main-color: var(--main-blue);
    --main-color-reverse: var(--white);
    --container-background: #f9fbfd;
    --container-btns-background: var(--white);
    --secondary-brand-color:#BCD0E5;
    --tertiary-color: #140C8E;
    --main-header-color: #3d5a72;
    --main-descr-color: rgb(139, 156, 170);
    --warning-color:#CF5D34;
    --hidden-menu-color: var(--white);
    --details-color: #647b8e;
    --footer-bold-color: #173A56;
    --footer-color: var(--main-blue);
    --white-transparent: var(--white);
    --footer-svgs-color: #6F8699;
    --footer-switch-field: #C2CED9;
    --footer-switch-icon: #C2CED9;
}
body.dark-mode{
    --main-color: var(--white);
    --main-color-reverse: var(--main-blue);
    --container-background: #051223;
    --container-btns-background: #051223;
    --secondary-brand-color:var(--white);
	--tertiary-color: var(--white);
	--main-header-color: var(--white);
	--main-descr-color: rgba(255, 255, 255, .5);
	--warning-color: var(--white);
    --hidden-menu-color: #071627;
    --details-color: var(--white);
    --footer-bold-color:#d4d4d7;
    --footer-color: #A9AAAF;
    --white-transparent: transparent;
    --footer-svgs-color: #9DA6B2;
    --footer-switch-field: #6A7C90;
    --footer-switch-icon: #C2CED9;
}