    .job-offers{
        width: 90%;
        background: #fff;
        margin: 1em auto;
        .h-titles-w-b{
            margin: auto;
            padding: 1em 0 0;
            width: fit-content;
            h2, p{
                color: black;
            }
            h2{
                margin: 0.4em 0;
            }
            hr{
                margin: auto;
            }
        }
        
            .row{
                padding: 1em 0;
                justify-content: space-around;
           section.col{
                width: 47%;
               div{
                   transition: 0.3s ease-out;
                   padding: 2em;
                   border-left: 7px solid $secondary-color;
                   margin: 0.5em;
                   box-shadow: -1px 5px 14px -4px rgba(0,0,0,0.82);
                   p{
                    padding: 1em 0;
                   }
                   .location{
                       &::before{
                           content: url('../../assets/icons/career-icons/location.svg');
                       }
                   }
                   &:hover{
                    box-shadow: -1px 5px 14px 7px rgba(0,0,0,0.44);
                   }
               }
           
        }
    
        }
    }

@media screen and (max-width: 600px) {
    .job-offers{
        .h-titles-w-b{
            text-align: center;
            margin: 1em auto;
        }
        .row{
            section.col{

                width: 100%;
            }
        }
    }
    
   
}