.location {
  &::before {
    content: url("../../../assets/icons/shared-icons/location.svg");
  }
}

.job-offers {
  width: 90%;
  max-width: 90em;
  background: #fff;
  margin: 1em auto;
  .h-titles-w-b {
    letter-spacing: 2px;
    text-align: center;
    margin: auto;
    padding: 1em 0 0;
    width: fit-content;
    h2,
    p {
      color: black;
    }
    h2 {
      margin: 0.4em 0;
    }
    hr {
      margin: auto;
      @include ie {
        width: 3em;
      }
    }
  }

  .row {
    padding: 1em 0;
    justify-content: space-around;
    section.col {
      width: 47%;
      a {
        color: black;
      }
      div {
        transition: 0.3s ease-out;
        padding: 2em;
        border-left: 7px solid $secondary-color;
        margin: 0.5em;
        box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.75);
        p {
          padding: 1em 0;
        }

        &:hover {
          cursor: pointer;
          box-shadow: -3px -1px 7px 1px rgba(0, 0, 0, 0.75);
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .job-offers {
    .h-titles-w-b {
      text-align: center;
      margin: 1em auto;
      font-size: 0.8rem;
      letter-spacing: 0;
    }
    .row {
      section.col {
        width: 100%;
        div {
          h4 {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
