.additional-info {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  width: 73%;
  margin: 2em auto;
  max-width: 75em;
  border: 1px dashed rgba(142, 154, 178, 0.2);
  padding: 1em;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 100;
}
.steps {
  width: 90%;
  max-width: 90em;
  margin: auto;
  color: #ffffff;
  .h-titles-w-b {
    width: fit-content;
    margin: auto;
    text-align: center;
    margin: 2em auto;
  }

  div {
    div.col {
      width: 40%;
      .circle-steps {
        align-self: center;
        text-align: center;
        width: 6em;
        border: 1px solid #3f435a;
        padding: 1.5em 0;
        border-radius: 50%;
        font-weight: 100;
      }
      .steps-description {
        width: 50%;
        margin: 1em auto;
        text-align: center;
      }
    }
  }
  hr {
    width: 5em;
    margin: 2em auto;
    border: 1px solid $secondary-color;
    background: $secondary-color;
  }
  h5 {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 100;
    margin: 0 0 2em;
  }
}

@media screen and(max-width:1024px) {
  .additional-info {
    width: 90%;
  }
  .steps {
   
    h5{
      font-size: 1.8rem;

    }
    hr{
      width: 70%;
    }
    .h-titles-w-b{
      p{
        font-size: 1.4rem;
      }
    }
    div {
      flex-flow: column;
      div.col {
        width: 90%;
        margin: 1em auto;
        .circle-steps {
          font-size: 1.5rem;
        }
        .steps-description {
          width: 85%;
          p {
            margin: 1em auto 0;
          }
        }
      }
    }
  }
}
